<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <a href="/user_views/history" class="govgr-back-link" id="back" name="back"> <svg class="govgr-caret--left"
            viewBox="0 0 24 24" aria-hidden="true">
            <path d="M18,22V2L6,12L18,22z" />
        </svg> Επιστροφή στο ιστορικό</a>
    <nav class="govgr-horizontal-nav" id="nav-menu">
        <div class="govgr-horizontal-nav__container topnav" id="myTopnav">
            <div class="govgr-button-group">

                <input type="submit" id="final_save" class="govgr-btn govgr-btn-primary govgr-btn-cta create-new"
                    value="Οριστική Αποθήκευση" style="float: right;" />

                <input type="submit" id="save_temporarily" class="govgr-btn govgr-btn-secondary"
                    value="Προσωρινή αποθήκευση" style="float: right;" />

                <input type="button" name="delete" id="delete" class=" delete-analysis govgr-btn govgr-btn-warning "
                    style="float: right;" value="Διαγραφή" />

                <input type="button" name="pdfExport" class="govgr-btn govgr-btn-warning export-pdf"
                    value="Εξαγωγή σε PDF" />

                <input type="button" class="govgr-btn govgr-btn-secondary" style="float: right;" data-toggle="modal"
                    data-target="#versioningModal" id="modalButton" value="Ιστορικό Ανάλυσης" />


                <input type="button" name="convert" class="govgr-btn govgr-btn-warning convert"
                    style="display: none; float: right;" value="Μετατροπή" />
            </div>
    </nav>

    <div class="govgr-width-container">
        <div class="govgr-main-wrapper">
            <div class="govgr-grid-column-two-thirds">

                <form id="edit_form" enctype="multipart/form-data">

                    <div id="errors" style="display: none;">
                        <!--Display validation errors here-->
                        <!-- <div class="alert alert-danger">
                                <ul id="alerts"></ul>
                            </div> -->
                    </div>
                    <div>
                        <input type="hidden" id="status_ekthesis" name="status_ekthesis"
                            value="<%= data.status_ekthesis%>">
                        <input type="hidden" id="author" name="author" value="<%= data.author%>">
                    </div>
                    <fieldset id="arxiki" name="arxiki">

                        <h2 class="govgr-heading-l">Ανάλυση Συνεπειών Ρύθμισης</h2>
                        <div>
                            <h4 class="govgr-heading-m" id="subtitle"></h4>
                            <p class="govgr-body" id="subtext"></p>
                            <br />
                        </div>

                        <div class="modal fade" id="versioningModal" tabindex="-1" role="dialog"
                            aria-labelledby="versioningModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="versioningModalLabel">Ιστορικό Ανάλυσης</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="modal_body">
                                        <div id="versions_table">
                                            <table id="versions"
                                                class="display govgr-table--zebra govgr-table--dense govgr-table--dark govgr-table versions-table">
                                                <thead class="govgr-table__head">
                                                    <tr class="govgr-table__row">
                                                        <th class="govgr-table__header" scope="col">Επιλογή</th>
                                                        <th class="govgr-table__header" scope="col">Ημερομηνία
                                                            αποθήκευσης</th>
                                                        <th class="govgr-table__header" scope="col">Ενημερώθηκε από</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="govgr-table__body">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="govgr-btn govgr-btn-warning action-button-delete"
                                            data-dismiss="modal">Κλείσιμο</button>
                                        <button type="button" id="modal_submit"
                                            class="govgr-btn govgr-btn-primary action-button">Υποβολή</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="title" class="govgr-label-row required">Τίτλος αξιολογούμενης
                                    ρύθμισης</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea form-control" id="title" name="title"
                                    rows="3"><%= data.title%></textarea>

                                <!--<input type="text" class="govgr-input form-control" id="title" name="title"
                                    value="<%= data.title%>" />-->
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="typos_analysis" class="govgr-label-row required">Τύπος ανάλυσης</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <input type="text" class="govgr-input form-control" id="typos_analysis"
                                    name="typos_analysis" value="<%= data.typos_analysis%>" readonly />
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="initial_submit" class="govgr-label-row required">Αρχική
                                    καταχώρηση</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <input type="text" class="govgr-input form-control" id="initial_submit"
                                    name="initial_submit" value="<%= data.initial_submit %>" readonly />
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="initial_submit" class="govgr-label-row required">Τελευταία
                                    ενημέρωση</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <input type="text" class="govgr-input form-control" id="last_updated"
                                    name="last_updated" value="<%= data.last_updated %>" readonly>
                            </div>
                        </div>

                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="epispeudon_foreas" class="govgr-label-row required">Επισπεύδων
                                    φορέας</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="epispeudon_foreas" name="epispeudon_foreas"
                                    rows="3"><%= data.epispeudon_foreas %></textarea>
                            </div>
                        </div>

                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="rythmisi_pou_afora" class="govgr-label-row">Ρύθμιση την οποία
                                    αφορά</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="rythmisi_pou_afora" name="rythmisi_pou_afora"
                                    rows="3"><%= data.rythmisi_pou_afora %></textarea>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label for="stoixeia_epikoinwnias" class="govgr-label-row">Στοιχεία
                                    επικοινωνίας</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="stoixeia_epikoinwnias" name="stoixeia_epikoinwnias"
                                    rows="3"
                                    placeholder="E-mail, κινητό, γραφείο κ.ο.κ"><%= data.stoixeia_epikoinwnias %></textarea>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div lass="govgr-grid">
                            <div class="govgr-grid__col-span-6">
                                <label class="govgr-label-row">Επισύναψη
                                    νομοσχεδίου</label> <br />
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <input type="file" class="govgr-file-upload" id="nomosxedio" name="nomosxedio"
                                    accept=".pdf" />
                            </div>
                        </div>

                        <br>
                        <table id="nomosxedio_table" class="govgr-table--dark govgr-table">
                            <thead class="govgr-table__head">
                                <tr class="govgr-table__row">
                                    <th class="" colspan="2">Προηγούμενες αναρτήσεις:</th>
                                </tr>
                            </thead>
                            <tbody class="govgr-table__body">

                                <% if( data.nomosxedio && data.nomosxedio.length) { for (var i=data.nomosxedio.length-1;
                                    i>=0 ; i--) { %>
                                    <tr govgr-table__row>
                                        <td class="govgr-table__cell">
                                            <a href="/uploads/<%= data.nomosxedio[i].filename %> ">
                                                <%= data.nomosxedio[i].filename %>
                                            </a>
                                        </td>
                                        <td class="govgr-table__cell">
                                            <%= data.nomosxedio[i].upload_date %>
                                        </td>
                                    </tr>
                                    <% } }%>

                            </tbody>
                        </table>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div>
                            <p class="govgr-body" id="tomeis_nomothetisis">Επιλέξατε από τον παρακάτω κατάλογο τον τομέα
                                ή τους τομείς νομοθέτησης
                                στους οποίους αφορούν οι
                                βασικές διατάξεις της αξιολογούμενης ρύθμισης: </p>
                            <div class="index_tomeis"></div>
                        </div>
                        <div class="govgr-checkboxes ">
                            <div class="govgr-checkboxes__item">
                                <label for="ekpedeusi_politismos" class="govgr-label govgr-checkboxes__label">ΕΚΠΑΙΔΕΥΣΗ
                                    - ΠΟΛΙΤΙΣΜΟΣ</label>
                                <input class="govgr-checkboxes__input" name="ekpedeusi_politismos" type="checkbox"
                                    id="ekpedeusi_politismos" />
                            </div>
                            <div class="govgr-checkboxes__item govgr-checkboxes--inline">
                                <label for="eksoteriki_politiki" class="govgr-label govgr-checkboxes__label">ΕΘΝΙΚΗ
                                    ΑΜΥΝΑ - ΕΞΩΤΕΡΙΚΗ
                                    ΠΟΛΙΤΙΚΗ
                                </label>
                                <input class="govgr-checkboxes__input" type="checkbox" id="eksoteriki_politiki"
                                    name="eksoteriki_politiki" value="eksoteriki_politiki" />
                            </div>
                            <div class="govgr-checkboxes__item">
                                <label for="forologiki_politiki" class="govgr-label govgr-checkboxes__label">ΟΙΚΟΝΟΜΙΚΗ
                                    / ΔΗΜΟΣΙΟΝΟΜΙΚΗ /
                                    ΦΟΡΟΛΟΓΙΚΗ ΠΟΛΙΤΙΚΗ
                                </label>
                                <input class="govgr-checkboxes__input" type="checkbox" id="forologiki_politiki"
                                    name="forologiki_politiki" value="forologiki_politiki" />
                            </div>
                            <div class="govgr-checkboxes__item">
                                <label for="koinoniki_politiki" class="govgr-label govgr-checkboxes__label">ΚΟΙΝΩΝΙΚΗ
                                    ΠΟΛΙΤΙΚΗ</label>
                                <input class="govgr-checkboxes__input" type="checkbox" id="koinoniki_politiki"
                                    name="koinoniki_politiki" value="koinoniki_politiki" />
                            </div>
                            <div class="govgr-checkboxes__item">
                                <label for="dimosia_dioikisi" class="govgr-label govgr-checkboxes__label">ΔΗΜΟΣΙΑ
                                    ΔΙΟΙΚΗΣΗ - ΔΗΜΟΣΙΑ ΤΑΞΗ -
                                    ΔΙΚΑΙΟΣΥΝΗ
                                </label>
                                <input class="govgr-checkboxes__input" type="checkbox" id="dimosia_dioikisi"
                                    name="dimosia_dioikisi" value="dimosia_dioikisi" />
                            </div>
                            <div class="govgr-checkboxes__item">
                                <label for="anaptiksi" class="govgr-label govgr-checkboxes__label">ΑΝΑΠΤΥΞΗ - ΕΠΕΝΔΥΤΙΚΗ
                                    ΔΡΑΣΤΗΡΙΟΤΗΤΑ</label>
                                <input class="govgr-checkboxes__input" type="checkbox" id="anaptiksi" name="anaptiksi"
                                    value="anaptiksi" />
                            </div>
                        </div> <br />
                        <div class="govgr-button-group">
                            <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
                                Επόμενα πεδία
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                    aria-hidden="true">
                                    <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                </svg>
                            </button>
                        </div>

                    </fieldset>

                    <fieldset id="tautotita_ruthmisis">
                        <h1 class="govgr-heading-l">Α. Αιτιολογική έκθεση</h1>

                        <h2>Η «ταυτότητα» της αξιολογούμενης ρύθμισης</h2>
                        <br /><br />

                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_1" class="govgr-label-row required">1. Ποιο ζήτημα αντιμετωπίζει η
                                    αξιολογούμενη
                                    ρύθμιση;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_1" name="field_1" rows="3"
                                    onkeypress="wordsCounter('field_1','words1', event)"
                                    onpaste="wordsCounter('field_1','words1', event)"><%= data.field_1 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words1"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_2" class="govgr-label-row required">2. Γιατί αποτελεί
                                    πρόβλημα;</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_2" name="field_2" rows="3"
                                    onkeypress="wordsCounter('field_2','words2', event)"
                                    onpaste="wordsCounter('field_2','words2', event)"><%= data.field_2 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words2"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class=govgr-field">
                            <div class="govgr-label">
                                <label for="field_3" class="govgr-label-row required">3. Ποιους φορείς ή πληθυσμιακές
                                    ομάδες αφορά;</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_3" name="field_3" rows="3"
                                    onkeypress="wordsCounter('field_3','words3', event)"
                                    onpaste="wordsCounter('field_3','words3', event)"><%= data.field_3 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words3"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-button-group">
                            <button type="button" class="govgr-btn govgr-btn-primary previous action-button-previous"
                                name="previous">
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                    aria-hidden="true">
                                    <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                    <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
                                </svg> Προηγούμενα πεδία
                            </button>
                            <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
                                Επόμενα πεδία
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                    aria-hidden="true">
                                    <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                </svg>
                            </button>
                        </div>
                    </fieldset>

                    <fieldset id="anagkaiotita_rythmisis_1">
                        <h2 class="govgr-heading-m">Η αναγκαιότητα της αξιολογούμενης ρύθμισης (i)</h2> <br />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_4" class="govgr-label-row required">4. Το εν λόγω ζήτημα έχει
                                    αντιμετωπιστεί με νομοθετική ρύθμιση στο παρελθόν;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-3">
                                <select id="field_4" name="field_4" class="govgr-select">
                                    <option selected disabled>Eπιλογή</option>
                                    <option value="Ναι">Ναι</option>
                                    <option value="Όχι">Όχι</option>
                                </select>
                            </div>
                        </div>
                        <div class="govgr-field" id="field_4_wrap" style="display:none;">
                            <div class="govgr-label">
                                <label for="field_4_1" class="govgr-label-row required">4.1 Ποιο είναι το ισχύον νομικό
                                    πλαίσιο που ρυθμίζει το
                                    ζήτημα;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_4_1" name="field_4_comments" rows="3"
                                    onkeypress="wordsCounter('field_4_1','words4')"
                                    onpaste="wordsCounter('field_4_1','words4')"><%= data.field_4_comments %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words4"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" /><br />
                        <div class="govgr-button-group">
                            <button type="button" class="govgr-btn govgr-btn-primary previous action-button-previous"
                                name="previous">
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                    aria-hidden="true">
                                    <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                    <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/> -->
                                </svg> Προηγούμενα πεδία
                            </button>
                            <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
                                Επόμενα πεδία
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                    aria-hidden="true">
                                    <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                </svg>
                            </button>
                        </div>
                    </fieldset>

                    <fieldset id="anagkaiotita_rythmisis_2">
                        <h2 class="govgr-heading-m">Η αναγκαιότητα της αξιολογούμενης ρύθμισης (ii)</h2>
                        <label class="govgr-label">5. Γιατί δεν είναι δυνατό να αντιμετωπιστεί στο πλαίσιο της
                            υφιστάμενης
                            νομοθεσίας:</label>
                        <br />
                        <div class="index_field_5"></div> <br />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_5_1" class="govgr-label-row required">5.1 με αλλαγή προεδρικού
                                    διατάγματος, υπουργικής απόφασης ή
                                    άλλης κανονιστικής πράξης;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_5_1" name="field_5_1" rows="3"
                                    onkeypress="wordsCounter('field_5_1','words5_1', event)"
                                    onpaste="wordsCounter('field_5_1','words5_1', event)"><%= data.field_5_1 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words5_1"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_5_2" class="govgr-label-row required">5.2 με αλλαγή διοικητικής
                                    πρακτικής συμπεριλαμβανομένης της
                                    δυνατότητας νέας ερμηνευτικής προσέγγισης της υφιστάμενης νομοθεσίας;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_5_2" name="field_5_2" rows="3"
                                    onkeypress="wordsCounter('field_5_2','words5_2', event)"
                                    onpaste="wordsCounter('field_5_2','words5_2', event)"><%= data.field_5_2 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words5_2"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_5_3" class="govgr-label-row required">5.3 με διάθεση περισσότερων
                                    ανθρώπινων και υλικών
                                    πόρων;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_5_3" name="field_5_3" rows="3"
                                    onkeypress="wordsCounter('field_5_3','words5_3', event)"
                                    onpaste="wordsCounter('field_5_3','words5_3', event)"><%= data.field_5_3 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words5_3"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-button-group">
                            <button type="button" class="govgr-btn govgr-btn-primary previous action-button-previous"
                                name="previous">
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                    aria-hidden="true">
                                    <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                    <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
                                </svg> Προηγούμενα πεδία
                            </button>
                            <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
                                Επόμενα πεδία
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                    aria-hidden="true">
                                    <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                </svg>
                            </button>
                        </div>
                    </fieldset>

                    <fieldset id="sunafeis_praktikes">
                        <h2 class="govgr-heading-m">Συναφείς Πρακτικές</h2> <br />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_6" class="govgr-label-row required">6. Έχετε λάβει υπόψη συναφείς
                                    πρακτικές;
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-3">
                                <select id="field_6" name="field_6" class="govgr-select">
                                    <option selected disabled>Eπιλογή</option>
                                    <option value="Ναι">Ναι</option>
                                    <option value="Όχι">Όχι</option>
                                </select>
                            </div>
                        </div> <br />
                        <div id="field_6_wrap" style="display:none;">
                            <div class="govgr-field">
                                <div class="govgr-label">
                                    <label for="field_6_1" class="govgr-label-row required">6.1 Σε άλλη/ες χώρα/ες
                                        της
                                        Ε.Ε. ή του ΟΟΣΑ:
                                    </label>
                                </div>
                                <div class="govgr-grid__col-span-6">
                                    <textarea class="govgr-textarea" id="field_6_1" name="field_6_1" rows="3"
                                        onkeypress="wordsCounter('field_6_1','words6')"
                                        onpaste="wordsCounter('field_6_1','words6')"><%= data.field_6_1 %></textarea>
                                    <p style="float: right;">Λέξεις: <span id="words6"></span></p>
                                </div>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                            <div class="govgr-field">
                                <div class="govgr-label">
                                    <label for="field_6_2" class="govgr-label-row required">6.2 Σε όργανα της Ε.Ε.:
                                    </label>
                                </div>
                                <div class="govgr-grid__col-span-6">
                                    <textarea class="govgr-textarea" id="field_6_2" name="field_6_2" rows="3"
                                        onkeypress="wordsCounter('field_6_2','words6_2')"
                                        onpaste="wordsCounter('field_6_2','words6_2')"><%= data.field_6_2 %></textarea>
                                    <p style="float: right;">Λέξεις: <span id="words6_2"></span></p>
                                </div>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                            <div class="govgr-field">
                                <div class="govgr-label">
                                    <label for="field_6_3" class="govgr-label-row required">6.3 Σε διεθνείς
                                        οργανισμούς:
                                    </label>
                                </div>
                                <div class="govgr-grid__col-span-6">
                                    <textarea class="govgr-textarea" id="field_6_3" name="field_6_3" rows="3"
                                        onkeypress="wordsCounter('field_6_3','words6_3')"
                                        onpaste="wordsCounter('field_6_3','words6_3')"><%= data.field_6_3 %></textarea>
                                    <p style="float: right;">Λέξεις: <span id="words6_3"></span></p>
                                </div>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        </div>
                        <div class="govgr-button-group">
                            <button type="button" class="govgr-btn govgr-btn-primary previous action-button-previous"
                                name="previous">
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                    aria-hidden="true">
                                    <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                    <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
                                </svg> Προηγούμενα πεδία
                            </button>
                            <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
                                Επόμενα πεδία
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                    aria-hidden="true">
                                    <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                </svg>
                            </button>
                        </div>
                    </fieldset>

                    <fieldset id="stoxoi_ruthmisis">
                        <h2 class="govgr-heading-m">Στόχοι αξιολογούμενης ρύθμισης</h2> <br />
                        <div id="field_7_wrap">
                            <label class="govgr-label required">7. Σημειώστε ποιοι από τους στόχους βιώσιμης
                                ανάπτυξης
                                των
                                Ηνωμένων Εθνών επιδιώκονται με την αξιολογούμενη ρύθμιση
                            </label>
                            <div class="index_goals"></div> <br />
                            <div class="flex-form-group form-group">
                                <div class="wrap">
                                    <% if(data.field_7_goal_1){ %>
                                        <input id="goal_1" class="checkbox-inline" type="checkbox" name="field_7_goal_1"
                                            value="<%=data.field_7_goal_1%>" checked>
                                        <% }else{ %>
                                            <input id="goal_1" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_1" value="goal-1">
                                            <% } %>
                                                <label for="goal_1" class="checkbox-label"><img src="/img/gr-goal-1.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_2){ %>
                                        <input id="goal_2" class="checkbox-inline" type="checkbox" name="field_7_goal_2"
                                            value="<%=data.field_7_goal_2%>" checked>
                                        <% }else{ %>
                                            <input id="goal_2" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_2" value="goal-2">
                                            <% } %>
                                                <label for="goal_2" class="checkbox-label"><img src="/img/gr-goal-2.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_3){ %>
                                        <input id="goal_3" class="checkbox-inline" type="checkbox" name="field_7_goal_3"
                                            value="<%=data.field_7_goal_3%>" checked>
                                        <% }else{ %>
                                            <input id="goal_3" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_3" value="goal-3">
                                            <% } %>
                                                <label for="goal_3" class="checkbox-label"><img src="/img/gr-goal-3.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_4){ %>
                                        <input id="goal_14" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_4" value="<%=data.field_7_goal_4%>" checked>
                                        <% }else{ %>
                                            <input id="goal_4" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_4" value="goal-4">
                                            <% } %>
                                                <label for="goal_4" class="checkbox-label"><img src="/img/gr-goal-4.jpg"
                                                        width="100px"></label>
                                </div>

                            </div>
                            <div class="flex-form-group form-group">
                                <div class="wrap">
                                    <% if(data.field_7_goal_5){ %>
                                        <input id="goal_5" class="checkbox-inline" type="checkbox" name="field_7_goal_5"
                                            value="<%=data.field_7_goal_5%>" checked>
                                        <% }else{ %>
                                            <input id="goal_5" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_5" value="goal-5">
                                            <% } %>
                                                <label for="goal_5" class="checkbox-label"><img src="/img/gr-goal-5.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_6){ %>
                                        <input id="goal_6" class="checkbox-inline" type="checkbox" name="field_7_goal_6"
                                            value="<%=data.field_7_goal_6%>" checked>
                                        <% }else{ %>
                                            <input id="goal_6" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_6" value="goal-6">
                                            <% } %>
                                                <label for="goal_6" class="checkbox-label"><img src="/img/gr-goal-6.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_7){ %>
                                        <input id="goal_7" class="checkbox-inline" type="checkbox" name="field_7_goal_7"
                                            value="<%=data.field_7_goal_7%>" checked>
                                        <% }else{ %>
                                            <input id="goal_7" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_7" value="goal-7">
                                            <% } %>
                                                <label for="goal_7" class="checkbox-label"><img src="/img/gr-goal-7.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_8){ %>
                                        <input id="goal_8" class="checkbox-inline" type="checkbox" name="field_7_goal_8"
                                            value="<%=data.field_7_goal_8%>" checked>
                                        <% }else{ %>
                                            <input id="goal_8" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_8" value="goal-8">
                                            <% } %>
                                                <label for="goal_8" class="checkbox-label"><img src="/img/gr-goal-8.jpg"
                                                        width="100px"></label>
                                </div>

                            </div>

                            <div class="flex-form-group form-group">
                                <div class="wrap">
                                    <% if(data.field_7_goal_9){ %>
                                        <input id="goal_9" class="checkbox-inline" type="checkbox" name="field_7_goal_9"
                                            value="<%=data.field_7_goal_9%>" checked>
                                        <% }else{ %>
                                            <input id="goal_9" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_9" value="goal-9">
                                            <% } %>
                                                <label for="goal_9" class="checkbox-label"><img src="/img/gr-goal-9.jpg"
                                                        width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_10){ %>
                                        <input id="goal_10" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_10" value="<%=data.field_7_goal_10%>" checked>
                                        <% }else{ %>
                                            <input id="goal_10" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_10" value="goal-10">
                                            <% } %>
                                                <label for="goal_10" class="checkbox-label"><img
                                                        src="/img/gr-goal-10.jpg" width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_11){ %>
                                        <input id="goal_11" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_11" value="<%=data.field_7_goal_11%>" checked>
                                        <% }else{ %>
                                            <input id="goal_11" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_11" value="goal-11">
                                            <% } %>
                                                <label for="goal_11" class="checkbox-label"><img
                                                        src="/img/gr-goal-11.jpg" width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_12){ %>
                                        <input id="goal_12" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_12" value="<%=data.field_7_goal_12%>" checked>
                                        <% }else{ %>
                                            <input id="goal_12" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_12" value="goal-12">
                                            <% } %>
                                                <label for="goal_12" class="checkbox-label"><img
                                                        src="/img/gr-goal-12.jpg" width="100px"></label>
                                </div>
                            </div>
                            <div class="flex-form-group form-group">
                                <div class="wrap">
                                    <% if(data.field_7_goal_13){ %>
                                        <input id="goal_13" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_13" value="<%=data.field_7_goal_13%>" checked>
                                        <% }else{ %>
                                            <input id="goal_13" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_13" value="goal-13">
                                            <% } %>
                                                <label for="goal_13" class="checkbox-label"><img
                                                        src="/img/gr-goal-13.jpg" width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_14){ %>
                                        <input id="goal_14" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_14" value="<%=data.field_7_goal_14%>" checked>
                                        <% }else{ %>
                                            <input id="goal_14" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_14" value="goal-14">
                                            <% } %>
                                                <label for="goal_14" class="checkbox-label"><img
                                                        src="/img/gr-goal-14.jpg" width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_15){ %>
                                        <input id="goal_15" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_15" value="<%=data.field_7_goal_15%>" checked>
                                        <% }else{ %>
                                            <input id="goal_15" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_15" value="goal-15">
                                            <% } %>
                                                <label for="goal_15" class="checkbox-label"><img
                                                        src="/img/gr-goal-15.jpg" width="100px"></label>
                                </div>
                                <div class="wrap">
                                    <% if(data.field_7_goal_16){ %>
                                        <input id="goal_16" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_16" value="<%=data.field_7_goal_16%>" checked>
                                        <% }else{ %>
                                            <input id="goal_16" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_16" value="goal-16">
                                            <% } %>
                                                <label for="goal_16" class="checkbox-label"><img
                                                        src="/img/gr-goal-16.jpg" width="100px"></label>
                                </div>
                            </div>
                            <div class="flex-form-group form-group">
                                <div class="wrap">
                                    <% if(data.field_7_goal_17){ %>
                                        <input id="goal_17" class="checkbox-inline" type="checkbox"
                                            name="field_7_goal_17" value="<%=data.field_7_goal_17%>" checked>
                                        <% }else{ %>
                                            <input id="goal_17" class="checkbox-inline" type="checkbox"
                                                name="field_7_goal_17" value="goal-17">
                                            <% } %>
                                                <label for="goal_17" class="checkbox-label"><img
                                                        src="/img/gr-goal-17.jpg" width="100px"></label>
                                </div>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <h2 class="govgr-heading-m">8. Ποιοι είναι οι στόχοι της αξιολογούμενης ρύθμισης;</h2> <br />
                        <div class="index_field_8"></div>
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_8_1" class="govgr-label-row required">8.1 βραχυπρόθεσμοι:
                                </label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_8_1" name="field_8_1" rows="3"
                                    onkeypress="wordsCounter('field_8_1','words8_1', event)"
                                    onpaste="wordsCounter('field_8_1','words8_1', event)"><%= data.field_8_1 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words8_1"></span></p>
                            </div>
                        </div>

                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-field">
                            <div class="govgr-label">
                                <label for="field_8_2" class="govgr-label-row required">8.2 μακροπρόθεσμοι:</label>
                            </div>
                            <div class="govgr-grid__col-span-6">
                                <textarea class="govgr-textarea" id="field_8_2" name="field_8_2" rows="3"
                                    onkeypress="wordsCounter('field_8_2','words8_2', event)"
                                    onpaste="wordsCounter('field_8_2','words8_2', event)"><%= data.field_8_2 %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words8_2"></span></p>
                            </div>
                        </div>
                        <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                        <div class="govgr-button-group">
                            <button type="button" class="govgr-btn govgr-btn-primary previous action-button-previous"
                                name="previous">
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                    aria-hidden="true">
                                    <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                    <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
                                </svg> Προηγούμενα πεδία
                            </button>
                            <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
                                Επόμενα πεδία
                                <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                    aria-hidden="true">
                                    <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                </svg>
                            </button>
                        </div>
                    </fieldset>

                    <%- include('fill_form/field_9.ejs') %>

                        <fieldset id="digital_governance">
                            <h2 class="govgr-heading-m">Ψηφιακή διακυβέρνηση</h2> <br />
                            <div class="govgr-grid__col-span-12">
                                <label class="govgr-label-row col-form-label digital-gov-label">10. Σε περίπτωση που
                                    προβλέπεται η
                                    χρήση
                                    πληροφοριακού συστήματος, ποια θα είναι η συμβολή αυτού στην επίτευξη των στόχων της
                                    αξιολογούμενης ρύθμισης:
                                </label>
                                <div class="index_field_10"></div>
                            </div>
                            <div class="checkbox-group form-group row">
                                <div class="col-2"></div>
                                <label class="col-3 col-form-label">ΑΜΕΣΗ &nbsp;</label>
                                <input class="col-2 form-check-input position-static" type="checkbox"
                                    id="field_10_amesi" name="field_10_amesi" />
                            </div>
                            <div id="amesi_wrap" class="form-group digital_gov" style="display:none;">
                                <label for="field_10_amesi_comments" class="govgr-label-row digital-gov-label">Εάν είναι
                                    άμεση,
                                    εξηγήστε:
                                </label>
                                <textarea class="govgr-textarea" id="field_10_amesi_comments"
                                    name="field_10_amesi_comments" rows="3"
                                    onkeypress="wordsCounter('field_10_amesi_comments','words10_1', event)"
                                    onpaste="wordsCounter('field_10_amesi_comments','words10_1', event)"><%= data.field_10_amesi_comments %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words10_1"></span></p>
                            </div>
                            <div class="checkbox-group form-group row">
                                <div class="col-2"></div>
                                <label class="col-3 col-form-label">ΕΜΜΕΣΗ &nbsp;</label>
                                <input class="col-2 form-check-input position-static" type="checkbox"
                                    id="field_10_emmesi" name="field_10_emmesi" />
                            </div>
                            <div id="emesi_wrap" class="form-group digital_gov" style="display:none;">
                                <label for="field_10_emmesi_comments" class="digital-gov-label">Εάν είναι έμμεση,
                                    εξηγήστε:
                                </label>
                                <textarea class="govgr-textarea" id="field_10_emmesi_comments"
                                    name="field_10_emmesi_comments" rows="3"
                                    onkeypress="wordsCounter('field_10_emmesi_comments','words10_2', event)"
                                    onpaste="wordsCounter('field_10_emmesi_comments','words10_2', event)"><%= data.field_10_emmesi_comments %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words10_2"></span></p>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                            <div class="govgr-grid">
                                <div class="govgr-grid__col-span-9">
                                    <label for="field_11" class="govgr-label-row required">11. Το προβλεπόμενο
                                        πληροφοριακό
                                        σύστημα είναι συμβατό με την εκάστοτε ψηφιακή στρατηγική της χώρας (Βίβλος
                                        Ψηφιακού
                                        Μετασχηματισμού);
                                    </label>
                                </div>
                                <div class="govgr-grid__col-span-3">
                                    <select id="field_11" name="field_11" class="govgr-select">
                                        <option selected disabled>Eπιλογή</option>
                                        <option value="Ναι">Ναι</option>
                                        <option value="Όχι">Όχι</option>
                                    </select>
                                </div>
                            </div>

                            <div id="field_11_wrap" class="form-group digital_gov" style="display:none;">
                                <label for="field_11_comments" class="digital-gov-label">Εξηγήστε</label>
                                <textarea class="govgr-textarea" name="field_11_comments" id="field_11_comments"
                                    rows="3" onkeypress="wordsCounter('field_11_comments','words11', event)"
                                    onpaste="wordsCounter('field_11_comments','words11', event)"><%= data.field_11_comments %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words11"></span></p>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                            <div class="govgr-grid">
                                <div class="govgr-grid__col-span-9">
                                    <label for="field_12" class="govgr-label-row required">12. Διασφαλίζεται η
                                        διαλειτουργικότητα του εν λόγω πληροφοριακού συστήματος με άλλα υφιστάμενα
                                        συστήματα;
                                    </label>
                                </div>
                                <div class="govgr-grid__col-span-3">
                                    <select id="field_12" name="field_12" class="govgr-select">
                                        <option selected disabled>Eπιλογή</option>
                                        <option value="Ναι">Ναι</option>
                                        <option value="Όχι">Όχι</option>
                                    </select>
                                </div>
                            </div>

                            <div id="field_12_wrap" class="form-group digital_gov" style="display:none;">
                                <label for="field_12_comments" class="digital-gov-label">Αναφέρατε ποια είναι αυτά τα
                                    συστήματα:
                                </label>
                                <textarea class="govgr-textarea" name="field_12_comments" id="field_12_comments"
                                    rows="3" onkeypress="wordsCounter('field_12_comments','words12', event)"
                                    onpaste="wordsCounter('field_12_comments','words12', event)"><%= data.field_12_comments %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words12"></span></p>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" />
                            <div class="govgr-grid">
                                <div class="govgr-grid__col-span-9">
                                    <label for="field_13" class="govgr-label-row required">13. Έχει προηγηθεί
                                        μελέτη
                                        βιωσιμότητας του προβλεπόμενου πληροφοριακού συστήματος;
                                    </label>
                                </div>
                                <div class="govgr-grid__col-span-3">
                                    <select id="field_13" name="field_13" class="govgr-select">
                                        <option selected disabled>Eπιλογή</option>
                                        <option value="Ναι">Ναι</option>
                                        <option value="Όχι">Όχι</option>
                                    </select>
                                </div>
                            </div>

                            <div id="field_13_wrap" class="form-group digital_gov" style="display:none;">
                                <label for="field_13_comments" class="digital-gov-label">Εξηγήστε</label>
                                <textarea class="govgr-textarea" name="field_13_comments" id="field_13_comments"
                                    rows="3" onkeypress="wordsCounter('field_13_comments','words13', event)"
                                    onpaste="wordsCounter('field_13_comments','words13', event)"><%= data.field_13_comments %></textarea>
                                <p style="float: right;">Λέξεις: <span id="words13"></span></p>
                            </div>
                            <hr class="govgr-section-break govgr-section-break--m govgr-section-break--visible" /><br />
                            <div class="govgr-button-group">
                                <button type="button"
                                    class="govgr-btn govgr-btn-primary previous action-button-previous" name="previous">
                                    <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                        aria-hidden="true">
                                        <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                        <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
                                    </svg> Προηγούμενα πεδία
                                </button>
                                <button type="button" class="govgr-btn govgr-btn-primary next action-button"
                                    name="next">
                                    Επόμενα πεδία
                                    <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                        aria-hidden="true">
                                        <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                    </svg>
                                </button>
                            </div>
                        </fieldset>

                        <fieldset id="kat_arthro_analusi" class="table-14">
                            <h2 class="govgr-heading-m">Κατ’ άρθρο ανάλυση αξιολογούμενης ρύθμισης</h2> <br />
                            <table class="govgr-table--dark govgr-table" id="field_14_table">
                                <thead class="govgr-table__head">
                                    <tr class="govgr-table__row">
                                        <th class="govgr-table__header" colspan="2">
                                            <label id="table_14_label" class="table-14-label required">14.Σύνοψη
                                                στόχων κάθε άρθρου
                                            </label>
                                            <div class="table-cell index_14"></div>
                                        </th>
                                    </tr>
                                    <tr class="govgr-table__row">
                                        <th class="govgr-table__header" colspan="1">Άρθρο
                                            <div class="table-cell index_article"></div>
                                        </th>
                                        <th colspan="1">Στόχος
                                            <div class="table-cell index_goal"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="govgr-table__body" id="tbody_14">

                                    <% if( data.field_14_arthro && data.field_14_arthro.length ) { for (var i=0; i <
                                        data.field_14_arthro.length; i++) { %>
                                        <tr class="govgr-table__row" id="table_14_row<%=i%>">

                                            <td class="govgr-table__cell"><textarea class="govgr-textarea"
                                                    id="field_14_arthro<%=i%>" name="field_14_arthro<%=i%>"
                                                    rows="1"><%= Object.values(data.field_14_arthro[i]) %></textarea>
                                            </td>
                                            <td class="govgr-table__cell">
                                                <div style="position: relative;">
                                                    <br>
                                                    <textarea class="govgr-textarea" id="field_14_stoxos<%=i%>"
                                                        name="field_14_stoxos<%=i%>" rows="1"
                                                        onkeypress="wordsCounter('field_14_stoxos<%=i%>','words14_<%=i%>', event)"
                                                        onpaste="wordsCounter('field_14_stoxos<%=i%>','words14_<%=i%>', event)"><%= Object.values(data.field_14_stoxos[i]) %></textarea>
                                                    <p style="float: right;">Λέξεις: <span id="words14_<%=i%>"></span>
                                                    </p>
                                                    <button class="btn remove float-right" type="button"><img
                                                            src="/img/delete.png" width="20px"></button>
                                                </div>
                                            </td>

                                        </tr>
                                        <% } } %>

                                </tbody>
                            </table>

                            <button type="button" id="add_row_table_14" name="add_row_table_14"
                                class="govgr-btn govgr-btn-secondary" style="float: right;">+
                                Επιπλέον σειρά</button>
                            <br />
                            <br />
                            <br />
                            <div class="govgr-button-group">
                                <button type="button"
                                    class="govgr-btn govgr-btn-primary previous action-button-previous" name="previous">
                                    <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false"
                                        aria-hidden="true">
                                        <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                                        <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
                                    </svg> Προηγούμενα πεδία
                                </button>
                                <button type="button" class="govgr-btn govgr-btn-primary next action-button"
                                    name="next">
                                    Επόμενα πεδία
                                    <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false"
                                        aria-hidden="true">
                                        <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                                    </svg>
                                </button>
                            </div>
                        </fieldset>

                        <%- include('view_form/view_form_b.ejs') %>
                            <%- include('view_form/view_form_c.ejs') %>
                                <%- include('fill_form/fill_form_d.ejs') %>
                                    <%- include('view_form/view_form_e.ejs') %>
                                        <%- include('view_form/view_form_f.ejs') %>
                                            <%- include('view_form/view_form_g.ejs') %>
                                                <%- include('view_form/view_form_h.ejs') %>
                </form>
            </div>
            <%- include('sidebar.ejs') %>
        </div>
    </div>

    <style>
        .flex-form-group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .flex-form-group .wrap {
            min-width: 8em;
            margin: 4px;
            /* to add gap between rows */
        }

        fieldset {
            position: relative;
        }

        fieldset:not(:first-of-type) {
            display: none;
        }

        .explain_text {
            font-size: 12px;
        }

        .checkbox-group {
            display: flex;
            align-items: center;
        }

        .form-check-input {
            margin-top: 0px;
        }



        .parent {
            display: flex;
            flex-wrap: wrap;
        }

        .child {
            flex: 1 0 21%;

            margin: 5px;
            height: 100px;
            background-color: blue;
        }

        .versions-table tbody {
            display: block;
            max-height: 500px;
            overflow-y: auto;
        }

        .versions-table thead,
        .versions-table tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        .versions-table thead {
            width: calc(100% - 1em)
        }

        form label.required:after {
            color: red;
            content: " *";
        }

        .focused {
            border: solid 1px red;
        }

        .display {
            table-layout: fixed;
            overflow-wrap: break-word;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/nav_scripts.js"></script>
    <script type="text/javascript" src="/js/common_form_scripts.js"></script>
    <script type="text/javascript" src="/js/tooltips.js"></script>
    <script type="text/javascript" src="/js/common_form_events.js"></script>
    <script type="text/javascript" src="/js/form_a_scripts.js"></script>
    <script type="text/javascript" src="/js/form_a_events.js"></script>

    <script>

        const userRole = "<%= user.rolos %>";
        setUserRestrictions(userRole);
        const isAdmin = '<%= user.dikaiwmata_diaxeirisis %>';
        isAdmin ? $(".user").hide() : $(".admin").hide();

        let answer;
        let ekthesi_id = "<%= data.id %>";
        //prevent user from going to a different form through url
        if (sessionStorage.getItem("referer") != ekthesi_id) {
            window.location.href = "/user_views/history"
        }
        let analysisStatus = "<%= data.status_ekthesis %>";
        let role = "<%= rolos%>";
        let analysis = "<%= data.typos_analysis %>";
        let pdf_exists = "<%= pdf_exists %>";
        let ministries = JSON.parse(' <%- JSON.stringify(ministries) %> ');
        let ministers = JSON.parse(' <%- JSON.stringify(ministers) %> ');
        let ministriesArray = [];
        let ministersArray = [];
        for (let i in ministries) {
            ministriesArray.push(ministries[i].ministry)
        }
        for (let j in ministers) {
            ministersArray.push(ministers[j].lastName)
        }
        ministriesArray.sort();
        ministersArray.sort();

        var tables = "<%= JSON.stringify(tables) %>";
        var field4 = "<%= data.field_4%>";
        var field6 = "<%= data.field_6%>";
        var field11 = "<%= data.field_11%>";
        var field12 = "<%= data.field_12%>";
        var field13 = "<%= data.field_13%>";
        var field36 = "<%= data.field_36%>";
        let f17ministersRoles = JSON.parse(' <%- JSON.stringify(data.field_17_minister_role) %> ');
        let f17ministersNames = JSON.parse(' <%- JSON.stringify(data.field_17_minister_name) %> ');
        let f17ministersSurnames = JSON.parse(' <%- JSON.stringify(data.field_17_minister_surname) %> ');
        let f17ministersMinistry = JSON.parse(' <%- JSON.stringify(data.field_17_minister_ministry) %> ');
        let ekthesi_glk = "<%= data.ekthesi_glk%>"
        var field_18 = `<%- data.field_18_comments%>`;
        var field_19 = `<%= data.field_19_comments %>`;
        var field_20 = `<%= data.field_20_comments %>`;
        let ministersRoles = JSON.parse(' <%- JSON.stringify(data.minister_role) %> ');
        let ministersNames = JSON.parse(' <%- JSON.stringify(data.minister_name) %> ');
        let ministersSurnames = JSON.parse(' <%- JSON.stringify(data.minister_surname) %> ');
        let ministersMinistry = JSON.parse(' <%- JSON.stringify(data.minister_ministry) %> ');
        let f15ministry = "<%= data.field_15_ypoyrgeio %>"
        let f17ministry = "<%= data.field_17_ypoyrgeio %>"
        let ekpedeusi_politismos = "<%= data.ekpedeusi_politismos %>";
        let eksoteriki_politiki = "<%= data.eksoteriki_politiki %>";
        let forologiki_politiki = "<%= data.forologiki_politiki %>";
        let koinoniki_politiki = "<%= data.koinoniki_politiki %>";
        let dimosia_dioikisi = "<%= data.dimosia_dioikisi %>";
        let anaptiksi = "<%= data.anaptiksi %>";
        let field_10 = ["<%= data.field_10_amesi%>", "<%= data.field_10_emmesi%>"];
        let field_25 = ["<%= data.field_25_dikaio %>", "<%= data.field_25_kanonismos %>", "<%= data.field_25_odigia %>", "<%= data.field_25_apofasi %>"];
        let field_26 = ["<%= data.field_26_antrwpina_dikaiwmata %>", "<%= data.field_26_symvaseis %>"]
        let field_27 = ["<%= data.field_27_dikastirio %>", "<%= data.field_27_arxi %>"]
        let field_28 = ["<%= data.field_28_nomologia %>", "<%= data.field_28_nomologia_dikaiwmatwn_anthrwpou %>", "<%= data.field_28_alla_dikastiria %>"];
        let approvals = ["<%= data.egkrisi_aksiologisis_nomoparaskeyastikis %>", "<%= data.egkrisi_dieuthinsis_nomoparaskeyastikis %>", "<%= data.egkrisi_kalis_nomothetisis %>", "<%= data.egkrisi_genikou_grammatea %>"];

        var tooltips = '<%= tooltips %>';
        tooltips = textCleanUp(tooltips);
        createTooltips(tooltips);

        $("form").on("submit", function (ev) {
            onSubmitStatus();
            updateForm(ev);
        })

        function updateForm(ev) {
            ev.preventDefault();
            setDate("#last_updated");
            var inputs = $("form").find("input:disabled:not('.approvals')");
            $.each(inputs, () => {
                $(inputs).prop("disabled", false);
            });
            var fd = new FormData($("form").get(0));
            var checkbox = $("form").find("input[type=checkbox]:not(:checked)");//find all unchecked checkboxes 
            $.each(checkbox, function (key, chckbx) {
                fd.append($(chckbx).prop('name'), $(chckbx).value = '')//append to fd without value 
            });

            fd.append('f15', $('#field_15_rythmiseis').value = CKEDITOR.instances['field_15_rythmiseis'].getData());
            fd.append('f16_2', $('#field_16_kratikos_proypologismos').value = CKEDITOR.instances['field_16_kratikos_proypologismos'].getData());
            fd.append('f16_1', $('#field_16_proypologismos_forea').value = CKEDITOR.instances['field_16_proypologismos_forea'].getData());
            fd.append('f17', $('#field_17_oikonomika_apotelesmata').value = CKEDITOR.instances['field_17_oikonomika_apotelesmata'].getData());

            $.ajax({
                url: '/form_a/' + ekthesi_id,
                //data: $("form").serialize(),
                data: fd,
                contentType: false,
                processData: false,
                error: function (data) {
                    // var errors = JSON.parse(data.responseText);
                    // $('#errors').show();
                    // var alerts = '';
                    // for (i in errors) {
                    //     console.log(errors[i].msg)
                    //     alerts c+= "<li>" + errors[i].msg + "</li>";
                    // }
                    // if ($(this).val() === '') {
                    //     $(this).addClass("focused");
                    //     flag = false;
                    // }
                    // $('#alerts').empty();
                    // $('#alerts').html(alerts);
                    // window.scrollTo(0, 0);
                },
                success: function (data) {
                    //window.location.href = "/user_views/history"
                    window.location = data.redirect
                },
                type: 'PUT'
            });
        }

        function createNewForm(ev) {
            ev.preventDefault();
            setDate($("#initial_submit"));
            setDate($("#last_updated"));
            var fd = new FormData($("form").get(0));
            $.ajax({
                url: `/create/${analysis}`,
                data: fd,
                contentType: false,
                processData: false,
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    window.location.href = "/user_views/history";
                },
                type: 'POST'
            });
        }

        $(".delete-analysis").on("click", function (ev) {
            ev.preventDefault();
            answer = window.confirm("Είστε σίγουροι ότι θέλετε να διαγράψετε την ανάλυση;");
            if (answer) {
                $.ajax({
                    url: `/form_a/${ekthesi_id}/delete_analysis`,
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/history";
                    },
                    type: 'DELETE'
                });
            }
        });

        $("#save_temporarily").on("click", function (ev) {
            // var validationFlag;
            // validationFlag = validateRequiredFields(validationFlag);
            // console.log('validationFlag: ' + validationFlag)
            // if (validationFlag) {
            //     updateForm(ev);
            // } else {
            //     ev.preventDefault();
            // }
            updateForm(ev);
        });

        $(".back").on("click", function (ev) {
            window.location.href = "/user_views/history";
        });

        $('.convert').on("click", function (ev) {
            answer = window.confirm("Μετατροπή;");
            if (answer) {
                convertAnalysis("#typos_analysis");
                createNewForm(ev);
            }
        });

        $(".export-pdf").on("click", function (ev) {
            ev.preventDefault();
            let pdf_name = prompt("Παρακαλώ εισάγετε το όνομα του PDF");
            if (pdf_name) {
                $("#pdf_name").val(pdf_name);
                let inputs = $("form").find("input:disabled:not('.approvals')");
                let textareas = $("form").find("textarea:disabled");//find all textareas 
                let selects = $("form").find("select:disabled");
                $.each(textareas, () => {
                    $(textareas).prop("disabled", false);
                });//enable fields to be passed down to req.body to be exported
                $.each(inputs, () => {
                    $(inputs).prop("disabled", false);
                });
                $.each(selects, () => {
                    $(selects).prop("disabled", false);
                });
                $("#ekpedeusi_politismos").prop("checked") ? $(".ekpaideysi-politismos :input").prop('disabled', false) : $(".ekpaideysi-politismos :input").prop('disabled', true)
                $("#forologiki_politiki").prop("checked") ? $(".oikonomia :input").prop('disabled', false) : $(".oikonomia :input").prop('disabled', true)
                $("#koinoniki_politiki").prop("checked") ? $(".koinoniki-politiki :input").prop('disabled', false) : $(".koinoniki-politiki :input").prop('disabled', true)
                $("#dimosia_dioikisi").prop("checked") ? $(".dimosia-dioikisi :input").prop('disabled', false) : $(".dimosia-dioikisi :input").prop('disabled', true)
                $("#anaptiksi").prop("checked") ? $(".ependyseis :input").prop('disabled', false) : $(".ependyseis :input").prop('disabled', true)
                let fd = new FormData($("form").get(0));
                let checkbox = $("form").find("input[type=checkbox]:not(:checked)");//find all unchecked checkboxes 
                $.each(checkbox, function (key, chckbx) {
                    fd.append($(chckbx).prop('name'), $(chckbx).value = '')//append to fd without value 
                });
                fd = JSON.stringify(Object.fromEntries(fd));
                $("#pdf_download").hide();
                $.ajax({
                    url: '/form_a/' + ekthesi_id,
                    //data: $("form").serialize(),
                    data: fd,
                    contentType: 'application/json',
                    processData: false,
                    error: function (error) {
                        console.log(error);
                        $.each(textareas, () => {
                            $(textareas).prop("disabled", true);
                        });//enable fields to be passed down to req.body to be exported
                        $.each(inputs, () => {
                            $(inputs).prop("disabled", true);
                        });
                    },
                    success: function (data) {
                        window.open(`/pdf_exports/${pdf_name}.pdf`)
                        $.each(textareas, () => {
                            $(textareas).prop("disabled", true);
                        });//enable fields to be passed down to req.body to be exported
                        $.each(inputs, () => {
                            $(inputs).prop("disabled", true);
                        });
                        $.each(selects, () => {
                            $(selects).prop("disabled", true);
                        });
                        $("#pdf_download").html(`Το τελευταίο αποθηκευμένο PDF
                                    βρίσκεται <a href="/pdf_exports/${pdf_name}.pdf"><b><u>εδώ</u></b></a>.`)
                        $("#pdf_download").show();
                    },
                    type: 'POST'
                })
            } else if (pdf_name === "") {
                alert("Το όνομα του PDF δεν πρέπει να είναι κενό!")
            }
        });

        $(".export-glk").on("click", function (ev) {
            ev.preventDefault();
            var pdf_name = prompt("Παρακαλώ εισάγετε το όνομα του PDF");
            if (pdf_name) {
                $("#glk_pdf_name").val(pdf_name);
                setDate("#field_16_genikos_date");
                $("#title").prop("disabled", false);
                $("#epispeudon_foreas").prop("disabled", false);
                $("#stoixeia_epikoinwnias").prop("disabled", false);
                $.ajax({
                    url: `/form_a/export/glk/:${ekthesi_id}`,
                    //data: $("form").serialize(),
                    data: $("form").serialize(),
                    processData: false,
                    error: function (error) {
                        $("#arxiki").prop("disabled", true);
                        console.log(error);
                    },
                    success: function (data) {
                        window.open(`/pdf_exports/${pdf_name}.pdf`)
                        $("#glk_pdf_download").html(`Το τελευταίο αποθηκευμένο PDF
                                    βρίσκεται <a href="/pdf_exports/${pdf_name}.pdf"><b><u>εδώ</u></b></a>.`)
                        $("#glk_pdf_download").show();
                        $("#arxiki").prop("disabled", true);
                    },
                    type: 'POST'
                })
            } else if (pdf_name === "") {
                alert("Το όνομα του PDF δεν πρέπει να είναι κενό!")
            }
        });

        //ajax call to find all versions of current analysis
        $("#modalButton").on("click", function (ev) {
            ev.preventDefault();
            $("#versions tbody").empty();
            $.ajax({
                url: `/form_a/${ekthesi_id}/versions`,
                error: function (error) {
                    console.log(error);
                },
                success: function (result) {
                    var rowCount = $('#versions_table tbody tr').length;
                    if (rowCount === 0) {
                        for (i in result.entries) { //populate modal table
                            $("#versions_table tbody").append(`
                                        <tr class="govgr-table__row" > 
                                            <td class="govgr-table__cell"> 
                                                <div class="govgr-checkboxes__item">
                                                    <input type="checkbox" id="checkbox${result.entries[i].id}" name="checkbox${result.entries[i].id}" class="govgr-checkboxes__input">
                                                </div>                                                
                                            </td> 
                                            <td>
                                                ${result.entries[i].timestamp}
                                            </td>   
                                            <td class="govgr-table__cell">
                                                ${result.entries[i].user}
                                            </td>                                             
                                        </tr>`
                            );
                        }
                    }
                    $('#versioningModal').modal('toggle');
                },
                type: 'POST'
            });
        })

        $("#modal_submit").on("click", function (ev) {
            ev.preventDefault();
            $("#pdf_diff_download").hide();
            let selected = {};
            let ids = $($("#versions_table tbody input:checked"))
            selected['firstTargetDate'] = ids[0].name.replace('checkbox', '');
            selected['secondTargetDate'] = ids[1].name.replace('checkbox', '');
            $.ajax({
                url: `/form_a/${ekthesi_id}/diff`,
                data: selected,
                error: function (error) {
                    console.log(error);
                },
                success: function (result) {
                    //TODO: add new name
                    window.open('/pdf_exports/diff.pdf');
                    $('#versioningModal').modal('toggle');
                },
                type: 'POST'
            });
        });

        function onSubmitStatus() {

            if ((role === "Αρμόδιος επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων" || role === "Βουλευτής") || (role === "Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)" && $('#status_ekthesis').val("Συντάσσεται"))) {
                $('#status_ekthesis').val("Ολοκληρώθηκε");
            } else if (role === "Επιτροπή Αξιολόγησης0 Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)" || role === "Γραφείο Καλής Νομοθέτησης (ΓΓΝΚΘ)" || role === "Διεύθυνση Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)") {
                if ($("#egkrisi_aksiologisis_nomoparaskeyastikis").prop("checked") && $("#egkrisi_kalis_nomothetisis").prop("checked") && $("#egkrisi_dieuthinsis_nomoparaskeyastikis").prop("checked") && $("#egkrisi_genikou_grammatea").prop("checked")) {
                    $('#status_ekthesis').val("Οριστικοποιήθηκε");
                }
            } else if (role === "Γενικός Γραμματέας Νομικών και Κοινοβουλευτικών Θεμάτων") {
                if ($('#status_ekthesis').val() === "Οριστικοποιήθηκε" && ($("#signed_pdf tbody>tr").length > 0 || $('#signed_pdf_upload').get(0).files.length > 0)) {
                    $('#status_ekthesis').prop("disabled", false);
                    $('#status_ekthesis').val("Κατατέθηκε");

                } else if ($("#egkrisi_aksiologisis_nomoparaskeyastikis").prop("checked") && $("#egkrisi_kalis_nomothetisis").prop("checked") && $("#egkrisi_dieuthinsis_nomoparaskeyastikis").prop("checked") && $("#egkrisi_genikou_grammatea").prop("checked")) {
                    $('#status_ekthesis').val("Οριστικοποιήθηκε");
                }

            }
            else if (role === "Γενικό Λογιστήριο του Κράτους" && $('#status_ekthesis').val("Εκκρεμεί η έκθεση Γενικού Λογιστηρίου του Κράτους")) {
                $('#status_ekthesis').val("Ελέγχθηκε από το Γενικό Λογιστήριο του Κράτους");
            }
            //TODO: refactor
            if (role === "Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)" && $('#status_ekthesis').val() === "Οριστικοποιήθηκε" && $("#signed_pdf tbody>tr").length > 0) {
                $('#status_ekthesis').val("Οριστικοποιήθηκε");
            }
        }

        // TODO: review validation
        //check if required fields are empty
        function validateRequiredFields(validationFlag) {
            $('#alerts').empty();
            validationFlag = true;
            var validField9 = true;
            var errors;
            //review
            var textareas = $("form").find("textarea");//find all textareas            
            $.each(textareas, function (key, field) {
                //if ($(this).parent().find('label').hasClass('required') && $(this).prop('disabled',false)){                                                       
                if ($(this).parent().find("label").hasClass("required")) {//if label nearest textarea is required, add class to textfield
                    $(this).addClass("required");
                }
            })
            textareas.each(function () {
                if ($(this).val() === '' && $(this).hasClass('required')) {
                    $(this).addClass("focused");
                    validationFlag = false;
                }
                if ($(this).val() !== '' && $(this).hasClass('focused')) {
                    $(this).removeClass("focused");
                    validationFlag = true;
                }
            })
            if (validationFlag === false) {
                $("#alerts").append("<li> Συμπληρώστε τα υποχρεωτικά πεδία </li>");
                if ($("#errors").prop("hide", true)) {
                    $("#errors").show();
                    window.scrollTo(0, 0);
                }
            }

            if ($("#ekpedeusi_politismos").prop("checked", true)) {
                validField9 = focusElement($(".ekpaideysi-politismos :input"), validField9);
            }
            if ($("#forologiki_politiki").prop("checked", true)) {
                validField9 = focusElement($(".oikonomia :input"), validField9);
            }
            if ($("#koinoniki_politiki").prop("checked", true)) {
                validField9 = focusElement($(".koinoniki-politiki :input"), validField9);
            }
            if ($("#dimosia_dioikisi").prop("checked", true)) {
                validField9 = focusElement($(".dimosia-dioikisi :input"), validField9);
            }
            if ($("#anaptiksi").prop("checked", true)) {
                validField9 = focusElement($(".ependyseis :input"), validField9);
            }
            if (!validField9) {
                validationFlag = validField9;
                $("#alerts").append("<li> Υπάρχουν κενά πεδία στους πίνακες του πεδίου 9. </li>");
                if ($("#errors").prop("hide", true)) {
                    $("#errors").show();
                    window.scrollTo(0, 0);
                }
            }
            return validationFlag;
        }

        function focusElement(indexClass, flag) {
            indexClass.each(function () {
                if ($(this).val() === '') {
                    $(this).addClass("focused");
                    flag = false;
                }
            })
            return flag;
        }

        // jQuery button click event to remove a file 
        $('#uploads_21, #uploads_23, #uploads_36').on('click', '.remove-file', function (ev) {
            ev.preventDefault();
            $("#deleted_file").val($(this).closest('td').find('a').html());
            var bttn = $(this);
            if ($("#deleted_file").val()) {
                $.ajax({
                    url: `/form_a/${ekthesi_id}/delete_file`,
                    data: $("form").serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        $(bttn).closest('tr').remove();
                        location.reload(true);
                    },
                    type: 'PUT'
                });
            }
        });

    </script>
    <script type="text/javascript" src="/js/initialize_form.js"></script>
    </div>
    </div>
    <%- include('partials/footer.ejs') %>
        </div>
        </body>

        </html>