<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
    <br>
    <div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/countable/3.0.1/Countable.min.js"></script>
        <!-- Development version. Change to production version later-->
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

        <br>
        <input type="button" name="back" class="back" value="Πίσω" />
        <br><br>
        <form enctype="multipart/form-data">

            <input type="hidden" id="status_ekthesis" name="status_ekthesis" value="Σε σύνταξη">

            <fieldset id="arxiki" name="arxiki">
                <h2>Αρχική σελίδα</h2>
                <br>

                <div class="form-group row">
                    <label for="title" class="col-sm-6 col-form-label required">Τίτλος αξιολογούμενης ρύθμισης</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                </div>

                <br>
                <hr>

                <div class="form-group row">
                    <label for="typos_analysis" class="col-sm-6 col-form-label required">Τύπος ανάλυσης</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="typos_analysis" name="typos_analysis" readonly>
                    </div>
                </div>
                <br>
                <hr>

                <div class="form-group row">
                    <label for="initial_submit" class="col-sm-6 col-form-label required">Αρχική καταχώρηση</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="initial_submit" name="initial_submit" readonly>
                    </div>
                </div>
                <br>
                <hr>

                <div class="form-group row">
                    <label for="epispeudon_foreas" class="col-sm-6 col-form-label required">Επισπεύδον φορέας</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="epispeudon_foreas" name="epispeudon_foreas" rows="3"
                            placeholder="Επισπεύδον Υπουργείο ή Βουλευτής"></textarea>
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label for="rythmisi_pou_afora" class="col-sm-6 col-form-label">Ρύθμιση την οποία αφορά</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="rythmisi_pou_afora" name="rythmisi_pou_afora" rows="3"
                            placeholder="Ρύθμιση"></textarea>
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label for="stoixeia_epikoinwnias" class="col-sm-6 col-form-label">Στοιχεία επικοινωνίας</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="stoixeia_epikoinwnias" name="stoixeia_epikoinwnias" rows="3"
                            placeholder="E-mail, κινητό, γραφείο κ.ο.κ"></textarea>
                    </div>
                </div>

                <br>
                <hr>
                <div>
                    <p id="tomeis_nomothetisis">Επιλέξατε από τον παρακάτω κατάλογο τον τομέα ή τους τομείς νομοθέτησης
                        στους οποίους αφορούν οι
                        βασικές διατάξεις της αξιολογούμενης ρύθμισης:
                    </p>

                </div>
                <div class="checkbox-group form-group row ">
                    <label for="ekpedeusi_politismos" class="col-sm-8 col-form-label">ΕΚΠΑΙΔΕΥΣΗ -
                        ΠΟΛΙΤΙΣΜΟΣ<sup>1</sup></label>
                    <input class="col-sm-2 form-check-input position-static" name="ekpedeusi_politismos" type="checkbox"
                        id="ekpedeusi_politismos">
                </div>
                <div class="checkbox-group form-group row">
                    <label for="eksoteriki_politiki" class="col-sm-8 col-form-label">ΕΘΝΙΚΗ ΑΜΥΝΑ - ΕΞΩΤΕΡΙΚΗ
                        ΠΟΛΙΤΙΚΗ<sup>2</sup></label>
                    <input class="col-sm-2 form-check-input position-static" type="checkbox" id="eksoteriki_politiki"
                        name="eksoteriki_politiki" value="eksoteriki_politiki">
                </div>
                <div class="checkbox-group form-group row">
                    <label for="forologiki_politiki" class="col-sm-8 col-form-label">ΟΙΚΟΝΟΜΙΚΗ / ΔΗΜΟΣΙΟΝΟΜΙΚΗ /
                        ΦΟΡΟΛΟΓΙΚΗ ΠΟΛΙΤΙΚΗ<sup>3</sup></label>
                    <input class="col-sm-2 form-check-input position-static" type="checkbox" id="forologiki_politiki"
                        name="forologiki_politiki" value="forologiki_politiki">
                </div>
                <div class="checkbox-group form-group row">
                    <label for="koinoniki_politiki" class="col-sm-8 col-form-label">ΚΟΙΝΩΝΙΚΗ
                        ΠΟΛΙΤΙΚΗ<sup>4</sup></label>
                    <input class="col-sm-2 form-check-input position-static" type="checkbox" id="koinoniki_politiki"
                        name="koinoniki_politiki" value="koinoniki_politiki">
                </div>
                <div class="checkbox-group form-group row">
                    <label for="dimosia_dioikisi" class="col-sm-8 col-form-label">ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ - ΔΗΜΟΣΙΑ ΤΑΞΗ -
                        ΔΙΚΑΙΟΣΥΝΗ<sup>5</sup></label>
                    <input class="col-sm-2 form-check-input position-static" type="checkbox" id="dimosia_dioikisi"
                        name="dimosia_dioikisi" value="dimosia_dioikisi">
                </div>
                <div class="checkbox-group form-group row">
                    <label for="anaptiksi" class="col-sm-8 col-form-label">ΑΝΑΠΤΥΞΗ - ΕΠΕΝΔΥΤΙΚΗ
                        ΔΡΑΣΤΗΡΙΟΤΗΤΑ<sup>6</sup></label>
                    <input class="col-sm-2 form-check-input position-static" type="checkbox" id="anaptiksi"
                        name="anaptiksi" value="anaptiksi">
                </div>
                <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />

                <hr>
                <br>
                <p class="explain_text"><sup>1</sup> Τομέας νομοθέτησης επί θεμάτων Υπουργείου Παιδείας & Θρησκευμάτων
                    και Υπουργείου Πολιτισμού & Αθλητισμού.</p>
                <p class="explain_text"><sup>2</sup> Τομέας νομοθέτησης επί θεμάτων Υπουργείου Εθνικής Άμυνας και
                    Υπουργείου Εξωτερικών.</p>
                <p class="explain_text"><sup>3</sup> Τομέας νομοθέτησης επί θεμάτων Υπουργείου Οικονομικών.</p>
                <p class="explain_text"><sup>4</sup> Τομέας νομοθέτησης επί θεμάτων Υπουργείου Εργασίας και Κοινωνικών
                    Υποθέσεων και Υπουργείου Υγείας.</p>
                <p class="explain_text"><sup>5</sup> Τομέας νομοθέτησης επί θεμάτων Υπουργείου Εσωτερικών, Υπουργείου
                    Ψηφιακής Διακυβέρνησης, Υπουργείου Προστασίας του Πολίτη και Υπουργείου Δικαιοσύνης</p>
                <p class="explain_text"><sup>6</sup> Τομέας νομοθέτησης επί θεμάτων Υπουργείου Ανάπτυξης & Επενδύσεων,
                    Υπουργείου Περιβάλλοντος & Ενέργειας, Υπουργείου Υποδομών & Μεταφορών, Υπουργείου Ναυτιλίας &
                    Νησιωτικής Πολιτικής, Υπουργείου Αγροτικής Ανάπτυξης & Τροφίμων και Υπουργείου Τουρισμού.</p>
            </fieldset>

            <fieldset id="tautotita_ruthmisis">
                <h2>Α. Αιτιολογική έκθεση</h2>
                <br><br>
                <h3>Η «ταυτότητα» της αξιολογούμενης ρύθμισης</h3>
                <br>

                <div class="form-group">
                    <label for="field_1" class="required">1. Ποιο ζήτημα αντιμετωπίζει η αξιολογούμενη
                        ρύθμιση;</label>
                    <textarea class="form-control" id="field_1" name="field_1" rows="3"
                        onkeypress="wordsCounter('field_1','words1',100, event)"
                        onpaste="wordsCounter('field_1','words1',100, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words1"></span> /100</p>
                </div>

                <div class="form-group">
                    <label for="field_2" class="required">2. Γιατί αποτελεί πρόβλημα;</label>
                    <textarea class="form-control" id="field_2" name="field_2" rows="3"
                        onkeypress="wordsCounter('field_2','words2',150, event)"
                        onpaste="wordsCounter('field_2','words2',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words2"></span> /150</p>
                </div>

                <div class="form-group">
                    <label for="field_3" class="required">3. Ποιους φορείς ή πληθυσμιακές ομάδες αφορά;</label>
                    <textarea class="form-control" id="field_3" name="field_3" rows="3"
                        onkeypress="wordsCounter('field_3','words3',100, event)"
                        onpaste="wordsCounter('field_3','words3',100, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words3"></span> /100</p>
                </div>

                <input type="button" name="previous" class="previous action-button-previous"
                    value="Προηγούμενα πεδία" />
                <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
            </fieldset>

            <fieldset id="anagkaiotita_rythmisis_1">
                <h2>Η αναγκαιότητα της αξιολογούμενης ρύθμισης (i)</h2>
                <br>
                <div class="checkbox-group form-group row">
                    <label for="field_4" class="col-sm-8 col-form-label required">4. Το εν λόγω ζήτημα έχει
                        αντιμετωπιστεί με νομοθετική ρύθμιση στο παρελθόν;</label>
                    <select id="field_4" name="field_4" class="col-sm-2 form-control">
                        <option selected disabled>Eπιλογή</option>
                        <option value="Ναι">Ναι</option>
                        <option value="Όχι">Όχι</option>
                    </select>
                </div>

                <div id="field_4_wrap" class="form-group" style="display:none;">
                    <label for="field_4_1" class="required">4.1 Ποιο είναι το ισχύον νομικό πλαίσιο που ρυθμίζει το
                        ζήτημα;</label>
                    <textarea class="form-control" id="field_4_1" name="field_4_comments" rows="3"
                        onkeypress="wordsCounter('field_4_1','words4',150)"
                        onpaste="wordsCounter('field_4_1','words4',150)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words4"></span> /150</p>
                </div>

                <input type="button" name="previous" class="previous action-button-previous"
                    value="Προηγούμενα πεδία" />
                <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
            </fieldset>

            <fieldset id="anagkaiotita_rythmisis_2">
                <h2>Η αναγκαιότητα της αξιολογούμενης ρύθμισης (ii)</h2>
                <label>5. Γιατί δεν είναι δυνατό να αντιμετωπιστεί στο πλαίσιο της υφιστάμενης νομοθεσίας:</label>
                <div class="form-group">
                    <label for="field_5_1" class="required">5.1 με αλλαγή προεδρικού διατάγματος, υπουργικής απόφασης ή
                        άλλης κανονιστικής πράξης;</label>
                    <textarea class="form-control" id="field_5_1" name="field_5_1" rows="3"
                        onkeypress="wordsCounter('field_5_1','words5_1',150, event)"
                        onpaste="wordsCounter('field_5_1','words5_1',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words5_1"></span> /150</p>
                </div>

                <div class="form-group">
                    <label for="field_5_2" class="required">5.2 με αλλαγή διοικητικής πρακτικής συμπεριλαμβανομένης της
                        δυνατότητας νέας ερμηνευτικής προσέγγισης της υφιστάμενης νομοθεσίας;</label>
                    <textarea class="form-control" id="field_5_2" name="field_5_2" rows="3"
                        onkeypress="wordsCounter('field_5_2','words5_2',150, event)"
                        onpaste="wordsCounter('field_5_2','words5_2',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words5_2"></span> /150</p>
                </div>

                <div class="form-group">
                    <label for="field_5_3" class="required">5.3 με διάθεση περισσότερων ανθρώπινων και υλικών
                        πόρων;</label>
                    <textarea class="form-control" id="field_5_3" name="field_5_3" rows="3"
                        onkeypress="wordsCounter('field_5_3','words5_3',150, event)"
                        onpaste="wordsCounter('field_5_3','words5_3',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words5_3"></span> /150</p>
                </div>

                <input type="button" name="previous" class="previous action-button-previous"
                    value="Προηγούμενα πεδία" />
                <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
            </fieldset>

            <fieldset id="sunafeis_praktikes">
                <h2>Συναφείς πρακτικές</h2>
                <br>
                <div class="checkbox-group form-group row">
                    <label for="field_6" class="col-sm-8 col-form-label required">6. Έχετε λάβει υπόψη συναφείς
                        πρακτικές;</label>
                    <select id="field_6" name="field_6" class="col-sm-2 form-control">
                        <option selected disabled>Eπιλογή</option>
                        <option value="Ναι">Ναι</option>
                        <option value="Όχι">Όχι</option>
                    </select>
                </div>

                <div id="field_6_wrap" class="form-group" style="display:none;">
                    <label for="field_6_1" class="required">6.1 Σε άλλη/ες χώρα/ες της Ε.Ε. ή του ΟΟΣΑ:</label>
                    <textarea class="form-control" id="field_6_1" name="field_6_1" rows="3"
                        onkeypress="wordsCounter('field_6_1','words6_1',150, event)"
                        onpaste="wordsCounter('field_6_1','words6_1',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words6_1"></span> /150</p>
                    <br>
                    <label for="field_6_2" class="required">6.2 Σε όργανα της Ε.Ε.:</label>
                    <textarea class="form-control" id="field_6_2" name="field_6_2" rows="3"
                        onkeypress="wordsCounter('field_6_2','words6_2',150, event)"
                        onpaste="wordsCounter('field_6_2','words6_2',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words6_2"></span> /150</p>
                    <label for="field_6_3" class="required">6.3 Σε διεθνείς οργανισμούς:</label>
                    <textarea class="form-control" id="field_6_3" name="field_6_3" rows="3"
                        onkeypress="wordsCounter('field_6_3','words6_3',150, event)"
                        onpaste="wordsCounter('field_6_3','words6_3',150, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words6_3"></span> /150</p>
                </div>
                <input type="button" name="previous" class="previous action-button-previous"
                    value="Προηγούμενα πεδία" />
                <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
            </fieldset>

            <fieldset id="stoxoi_ruthmisis">
                <h2>Στόχοι αξιολογούμενης ρύθμισης</h2>
                <br>
                <div id="field_7_wrap">
                    <label class="col-form-label required">7. Σημειώστε ποιοι από τους στόχους βιώσιμης ανάπτυξης των
                        Ηνωμένων Εθνών επιδιώκονται με την αξιολογούμενη ρύθμιση</label>
                    <div class="flex-form-group form-group">
                        <div class="wrap">
                            <input id="goal_1" class="checkbox-inline" type="checkbox" name="field_7_goal_1"
                                value="goal-1">
                            <label for="goal_1" class="checkbox-label"><img src="/img/gr-goal-1.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_2" class="checkbox-inline" type="checkbox" name="field_7_goal_2"
                                value="goal-2">
                            <label for="goal_2" class="checkbox-label"><img src="/img/gr-goal-2.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_3" class="checkbox-inline" type="checkbox" name="field_7_goal_3"
                                value="goal-3">
                            <label for="goal_3" class="checkbox-label"><img src="/img/gr-goal-3.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_4" class="checkbox-inline" type="checkbox" name="field_7_goal_4"
                                value="goal-4">
                            <label for="goal_4" class="checkbox-label"><img src="/img/gr-goal-4.jpg"
                                    width="100px"></label>
                        </div>

                    </div>
                    <div class="flex-form-group form-group">
                        <div class="wrap">
                            <input id="goal_5" class="checkbox-inline" type="checkbox" name="field_7_goal_5"
                                value="goal-5">
                            <label for="goal_5" class="checkbox-label"><img src="/img/gr-goal-5.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_6" class="checkbox-inline" type="checkbox" name="field_7_goal_6"
                                value="goal-6">
                            <label for="goal_6" class="checkbox-label"><img src="/img/gr-goal-6.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_7" class="checkbox-inline" type="checkbox" name="field_7_goal_7"
                                value="goal-7">
                            <label for="goal_7" class="checkbox-label"><img src="/img/gr-goal-7.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_8" class="checkbox-inline" type="checkbox" name="field_7_goal_8"
                                value="goal-8">
                            <label for="goal_8" class="checkbox-label"><img src="/img/gr-goal-8.jpg"
                                    width="100px"></label>
                        </div>

                    </div>

                    <div class="flex-form-group form-group">
                        <div class="wrap">
                            <input id="goal_9" class="checkbox-inline" type="checkbox" name="field_7_goal_9"
                                value="goal-9">
                            <label for="goal_9" class="checkbox-label"><img src="/img/gr-goal-9.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_10" class="checkbox-inline" type="checkbox" name="field_7_goal_10"
                                value="goal-10">
                            <label for="goal_10" class="checkbox-label"><img src="/img/gr-goal-10.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_11" class="checkbox-inline" type="checkbox" name="field_7_goal_11"
                                value="goal-11">
                            <label for="goal_11" class="checkbox-label"><img src="/img/gr-goal-11.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_12" class="checkbox-inline" type="checkbox" name="field_7_goal_12"
                                value="goal-12">
                            <label for="goal_12" class="checkbox-label"><img src="/img/gr-goal-12.jpg"
                                    width="100px"></label>
                        </div>
                    </div>
                    <div class="flex-form-group form-group">
                        <div class="wrap">
                            <input id="goal_13" class="checkbox-inline" type="checkbox" name="field_7_goal_13"
                                value="goal-13">
                            <label for="goal_13" class="checkbox-label"><img src="/img/gr-goal-13.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_14" class="checkbox-inline" type="checkbox" name="field_7_goal_14"
                                value="goal-14">
                            <label for="goal_14" class="checkbox-label"><img src="/img/gr-goal-14.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_15" class="checkbox-inline" type="checkbox" name="field_7_goal_15"
                                value="goal-15">
                            <label for="goal_15" class="checkbox-label"><img src="/img/gr-goal-15.jpg"
                                    width="100px"></label>
                        </div>
                        <div class="wrap">
                            <input id="goal_16" class="checkbox-inline" type="checkbox" name="field_7_goal_16"
                                value="goal-16">
                            <label for="goal_16" class="checkbox-label"><img src="/img/gr-goal-16.jpg"
                                    width="100px"></label>
                        </div>
                    </div>
                    <div class="flex-form-group form-group">
                        <div class="wrap">
                            <input id="goal_17" class="checkbox-inline" type="checkbox" name="field_7_goal_17"
                                value="goal-17">
                            <label for="goal_17" class="checkbox-label"><img src="/img/gr-goal-17.jpg"
                                    width="100px"></label>
                        </div>
                    </div>
                </div>
                <hr>
                <label>8. Ποιοι είναι οι στόχοι της αξιολογούμενης ρύθμισης;</label>
                <div class="form-group">
                    <label for="field_8_1" class="required">8.1 βραχυπρόθεσμοι: </label>
                    <textarea class="form-control" id="field_8_1" name="field_8_1" rows="3"
                        onkeypress="wordsCounter('field_8_1','words8_1',200, event)"
                        onpaste="wordsCounter('field_8_1','words8_1',200, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words8_1"></span> /200</p>
                </div>

                <div class="form-group">
                    <label for="field_8_2" class="required">8.2 μακροπρόθεσμοι: </label>
                    <textarea class="form-control" id="field_8_2" name="field_8_2" rows="3"
                        onkeypress="wordsCounter('field_8_2','words8_2',200, event)"
                        onpaste="wordsCounter('field_8_2','words8_2',200, event)"></textarea>
                    <p style="float: right;">Λέξεις: <span id="words8_2"></span> /200</p>
                </div>

                <input type="button" name="previous" class="previous action-button-previous"
                    value="Προηγούμενα πεδία" />
                <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
            </fieldset>

            <%- include('fill_form/field_9.ejs') %>

                <fieldset id="digital_governance">
                    <h2>Ψηφιακή διακυβέρνηση</h2>
                    <br>

                    <div class="checkbox-group form-group row">
                        <label class="col-sm-8 col-form-label required">10. Σε περίπτωση που προβλέπεται η χρήση
                            πληροφοριακού συστήματος, ποια θα είναι η συμβολή αυτού στην επίτευξη των στόχων της
                            αξιολογούμενης ρύθμισης: </label>
                    </div>

                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <label class="col-3 col-form-label">ΑΜΕΣΗ</label>
                        <input class="col-2 form-check-input position-static" type="checkbox" id="field_10_amesi"
                            name="field_10_amesi" value="field_10_amesi">
                    </div>
                    <div id="amesi_wrap" class="form-group" style="display:none;">
                        <label for="field_10_amesi_comments " class="required">Εάν είναι άμεση, εξηγήστε:</label>
                        <textarea class="form-control" id="field_10_amesi_comments" name="field_10_amesi_comments"
                            rows="3" onkeypress="wordsCounter('field_10_amesi_comments','words10_1',150, event)"
                            onpaste="wordsCounter('field_10_amesi_comments','words10_1',150, event)"></textarea>
                        <p style="float: right;">Λέξεις: <span id="words10_1"></span> /150</p>
                    </div>

                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <label class="col-3 col-form-label">ΕΜΜΕΣΗ</label>
                        <input class="col-2 form-check-input position-static" type="checkbox" id="field_10_emmesi"
                            name="field_10_emmesi" value="field_10_emmesi">
                    </div>

                    <div id="emesi_wrap" class="form-group" style="display:none;">
                        <label for="field_10_emesi_comments " class="required">Εάν είναι έμμεση, εξηγήστε:</label>
                        <textarea class="form-control" id="field_10_emesi_comments" name="field_10_emmesi_comments"
                            rows="3" onkeypress="wordsCounter('field_10_emmesi_comments','words10_2',150, event)"
                            onpaste="wordsCounter('field_10_emmesi_comments','words10_2',150, event)"></textarea>
                        <p style="float: right;">Λέξεις: <span id="words10_2"></span> /150</p>
                    </div>
                    <hr>

                    <div class="checkbox-group form-group row">
                        <label for="field_11" class="col-sm-8 col-form-label required">11. Το προβλεπόμενο πληροφοριακό
                            σύστημα είναι συμβατό με την εκάστοτε ψηφιακή στρατηγική της χώρας (Βίβλος Ψηφιακού
                            Μετασχηματισμού);</label>
                        <select id="field_11" name="field_11" class="col-sm-2 form-control">
                            <option selected disabled>Eπιλογή</option>
                            <option value="Ναι">Ναι</option>
                            <option value="Όχι">Όχι</option>
                        </select>
                    </div>

                    <div id="field_11_wrap" class="form-group" style="display:none;">
                        <label for="field_11_comments " class="required">Εξηγήστε</label>
                        <textarea class="form-control" name="field_11_comments" id="field_11_comments" rows="3"
                            onkeypress="wordsCounter('field_11_comments','words11',100, event)"
                            onpaste="wordsCounter('field_11_comments','words11',100, event)"></textarea>
                        <p style="float: right;">Λέξεις: <span id="words11"></span> /100</p>
                    </div>
                    <hr>

                    <div class="checkbox-group form-group row">
                        <label for="field_12" class="col-sm-8 col-form-label required">12. Διασφαλίζεται η
                            διαλειτουργικότητα του εν λόγω πληροφοριακού συστήματος με άλλα υφιστάμενα
                            συστήματα;</label>
                        <select id="field_12" name="field_12" class="col-sm-2 form-control">
                            <option selected disabled>Eπιλογή</option>
                            <option value="Ναι">Ναι</option>
                            <option value="Όχι">Όχι</option>
                        </select>
                    </div>

                    <div id="field_12_wrap" class="form-group " style="display:none;">
                        <label for="field_12_comments " class="required">Αναφέρατε ποια είναι αυτά τα συστήματα:</label>
                        <textarea class="form-control" name="field_12_comments" id="field_12_comments" rows="3"
                            onkeypress="wordsCounter('field_12_comments','words12',100, event)"
                            onpaste="wordsCounter('field_12_comments','words12',100, event)"></textarea>
                        <p style="float: right;">Λέξεις: <span id="words12"></span> /100</p>
                    </div>
                    <hr>

                    <div class="checkbox-group form-group row">
                        <label for="field_13" class="col-sm-8 col-form-label required">13. Έχει προηγηθεί μελέτη
                            βιωσιμότητας του προβλεπόμενου πληροφοριακού συστήματος;</label>
                        <select id="field_13" name="field_13" class="col-sm-2 form-control">
                            <option selected disabled>Eπιλογή</option>
                            <option value="Ναι">Ναι</option>
                            <option value="Όχι">Όχι</option>
                        </select>
                    </div>

                    <div id="field_13_wrap" class="form-group" style="display:none;">
                        <label for="field_13_comments " class="required">Εξηγήστε</label>
                        <textarea class="form-control" name="field_13_comments" id="field_13_comments" rows="3"
                            onkeypress="wordsCounter('field_13_comments','words13',100, event)"
                            onpaste="wordsCounter('field_13_comments','words13',100, event)"></textarea>
                        <p style="float: right;">Λέξεις: <span id="words13"></span> /100</p>
                    </div>

                    <input type="button" name="previous" class="previous action-button-previous"
                        value="Προηγούμενα πεδία" />
                    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
                </fieldset>

                <fieldset id="kat_arthro_analusi" class="table-14">
                    <h2>Κατ’ άρθρο ανάλυση αξιολογούμενης ρύθμισης</h2>
                    <br>
                    <table class="table " id="field_14_table">
                        <thead class="thead ">
                            <tr>
                                <th colspan="2"><label id="table_14_label" class="table-14-label required">14.Σύνοψη στόχων κάθε άρθρου</label></label><div class="table-cell index_fourteen"></div></th>
                            </tr>
                            <tr>
                                <th colspan="1">Άρθρο<div class="table-cell index_article"></div></th>
                                <th colspan="1">Στόχος<div class="table-cell index_goal"></div></th>
                            </tr>
                        </thead>
                        <tbody id="tbody_14">

                        </tbody>
                    </table>

                    <input type="button" id="add_row_table_14" name="add_row_table_14" class="float-right"
                        value="Επιπλέον σειρά" />

                    <br><br><br>
                    <input type="button" name="previous" class="previous action-button-previous"
                        value="Προηγούμενα πεδία" />
                    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα" />
                </fieldset>

                <%- include('fill_form/fill_form_b.ejs') %>
                    <%- include('fill_form/fill_form_c.ejs') %>
                        <%- include('fill_form/fill_form_d.ejs') %>
                            <%- include('fill_form/fill_form_e.ejs') %>
                                <%- include('fill_form/fill_form_f.ejs') %>
                                    <%- include('fill_form/fill_form_g.ejs') %>
                                        <%- include('fill_form/fill_form_h.ejs') %>

                                            <br>
                                            <input type="button" name="save_temporarily"
                                                class="save_temporarily float-right" value="Προσωρινή αποθήκευση" />
        </form>

    </div>
</div>
<%- include('sidebar.ejs') %>


    <style>
        /* .content_div {
            width: 90%;
            overflow: hidden;
            float: left;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .tootltip_div {
            width: 10%;
            overflow: hidden;
            float: right;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        } */

        .exit {
            font-size: 16px;
        }

        .tooltip_text[data-show] {
            display: block;
        }

        .tooltip_text {

            background: #333;
            color: white;
            font-weight: bold;
            padding: 4px 8px;
            font-size: 13px;
            border-radius: 4px;
            /* width: 50%; */
            display: none;

        }

        .arrow,
        .arrow::before {
            position: absolute;
            width: 8px;
            height: 8px;
            z-index: -1;
        }

        .arrow::before {
            content: '';
            transform: rotate(45deg);
            background: #333;
        }

        #tooltip[data-popper-placement^='top']>#arrow {
            bottom: -4px;
        }

        #tooltip[data-popper-placement^='bottom']>#arrow {
            top: -4px;
        }

        #tooltip[data-popper-placement^='left']>#arrow {
            right: -4px;
        }

        #tooltip[data-popper-placement^='right']>#arrow {
            left: -4px;
        }

        table {
            border: 1px solid black;
            width: 100%;
            padding: 20px;
            text-align: left;
        }

        table th {
            background-color: grey;
            text-align: center;
            padding: 10px;
        }

        table td {
            border: 1px dotted black;
        }

        li.active {
            border-color: blue;
            border-width: 1px;
            border-style: dashed;
        }

        .arxiki_menu {
            display: none
        }

        .arxiki_list:hover .arxiki_menu {
            display: initial
        }

        .aitiologiki_menu {
            display: none
        }

        .aitiologiki_list:hover .aitiologiki_menu {
            display: initial
        }

        .ekthesi_syntagmatos_menu {
            display: none
        }

        .ekthesi_syntagmatos_list:hover .ekthesi_syntagmatos_menu {
            display: initial
        }

        .eidiki_ekthesi_menu {
            display: none
        }

        .eidiki_ekthesi_list:hover .eidiki_ekthesi_menu {
            display: initial
        }

        .ekthesi_genikwn_synepeiwn_menu {
            display: none
        }

        .ekthesi_genikwn_synepeiwn_list:hover .ekthesi_genikwn_synepeiwn_menu {
            display: initial
        }

        .ekthesi_diavouleusis_menu {
            display: none
        }

        .ekthesi_diavouleusis_list:hover .ekthesi_diavouleusis_menu {
            display: initial
        }

        .ekthesi_nomimotitas_menu {
            display: none
        }

        .ekthesi_nomimotitas_list:hover .ekthesi_nomimotitas_menu {
            display: initial
        }

        .pinakas_tropopoioymenwn_katargoymenwn_diataksewn_menu {
            display: none
        }

        .pinakas_tropopoioymenwn_katargoymenwn_diataksewn_list:hover .pinakas_tropopoioymenwn_katargoymenwn_diataksewn_menu {
            display: initial
        }

        .ekthesi_efarmogis_rythmisis_menu {
            display: none
        }

        .ekthesi_efarmogis_rythmisis_list:hover .ekthesi_efarmogis_rythmisis_menu {
            display: initial
        }

        .flex-form-group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .flex-form-group .wrap {
            min-width: 8em;
            margin: 4px;
            /* to add gap between rows */
        }

        fieldset {
            position: relative;
        }

        fieldset:not(:first-of-type) {
            display: none;
        }

        .explain_text {
            font-size: 12px;
        }

        .checkbox-group {
            display: flex;
            align-items: center;
        }

        .form-check-input {
            margin-top: 0px;
        }

        label {
            font-weight: 700;
        }

        .parent {
            display: flex;
            flex-wrap: wrap;
        }

        .child {
            flex: 1 0 21%;
            /* explanation below */
            margin: 5px;
            height: 100px;
            background-color: blue;
        }

        form label.required:after {
            color: red;
            content: " *";
        }
    </style>


    <script>
        (function ($) {
            var $root = $('html, body');
            $('a.menu').click(function () {
                var href = $.attr(this, 'href');
                current_fs = $("fieldset:visible");
                $(".progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
                next_fs = $(href);
                //hide the current fieldset with style
                current_fs.hide();
                //show the next fieldset
                next_fs.show();
                $(".progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                return false;
            });

        }(jQuery));

        //count & limit words
        function wordsCounter(fieldId, spanId, wordlimit, event) {
            Countable.on(document.getElementById(fieldId), counter => {
                if (counter.words >= wordlimit) {
                    event.preventDefault();//if word limit is reached prevent typing by preventing next event
                }
                //console.log(counter);
                document.getElementById(spanId).innerHTML = counter.words.toString();
            })
        }

        $("form").on("submit", function (ev) {
            ev.preventDefault();
            //initializeAnalysis("#typos_analysis");
            onSubmitStatus();
            var fd = new FormData($("form").get(0));
            // console.log('heyhey my val: '+ document.getElementById("field_23_upload").files[0].name);
            $.ajax({
                url: '/create',
                data: fd,
                contentType: false,
                processData: false,
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    console.log(data);
                    //window.location.href = "/user_views/history";
                },
                type: 'POST'
            });
        })

        $(".save_temporarily").on("click", function (ev) {
            ev.preventDefault();
            var fd = new FormData($("form").get(0));
            console.log(fd)
            var checkbox = $("form").find("input[type=checkbox]:not(:checked)");//find all unchecked checkboxes 
            $.each(checkbox, function (key, chckbx) {
                fd.append($(chckbx).prop('name'), $(chckbx).value = '')//append to fd without value 
            });
            //console.log('my file: '+ document.getElementById("field_23_upload").files[0].name);
            $.ajax({
                url: '/create/<%= analysis %>',
                data: fd,
                contentType: false,
                processData: false,
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    //console.log(data);
                    window.location.href = "/user_views/history";
                },
                type: 'POST'
            });
        })

        $(".back").on("click", function (ev) {
            window.location.href = "/user_views/history";
        })
        function onSubmitStatus() {
            if ($("#ekthesi_glk").prop("checked")) {
                $("#status_ekthesis_drp").val("Σε σύνταξη");
                alert("Για την ανάλυση εκκρεμεί ο έλεγχος του Γενικού Λογιστηρίου του Κράτους που έχετε ζητήσει. Επικοινωνήστε με το Γενικό Λογιστήριο του Κράτους για να τον ολοκληρώσει ή ενημερώστε τον αρμόδιο του Υπουργείου σας για να το επιλύσει.");
                ev.preventDefault();
            } else {
                if ($('input[name=status_ekthesis]').val("Σε σύνταξη") || $('input[name=status_ekthesis]').val("Επιμελημένη")) {
                    $('input[name=status_ekthesis]').val("Ολοκληρώθηκε");
                    //console.log($('input[name=status_ekthesis]').val());
                }
            }
        }

        $("#ekthesi_glk").on("click", function (ev) {
            if (this.checked) {
                answer = window.confirm("Με την ενέργειά σας αυτή η έκθεση θα αποσταλλεί στο Γενικό Λογιστήριο του κράτους. Συνέχεια;");
                if (answer) {
                    $("#status_ekthesis").val("Εκκρεμεί η έκθεση Γενικού Λογιστηρίου του Κράτους");
                    if (role == "Συντάκτης επισπεύδοντος Υπουργείου") {
                        $(this).prop('disabled', true);
                    }
                }
                else {
                    $(this).prop('checked', false);
                }
            } else {
                $('input[name=status_ekthesis]').val("Σε σύνταξη");
            }
        })
        var analysis = "<%= analysis%>";
        console.log(analysis);
        //console.log("init val " + $(analysis).val());
        if (analysis == ':sxedio_nomou') {
            $("#typos_analysis").prop('value', 'Σχέδιο νόμου');
        } else if (analysis == ':prosxedio_nomou') {
            $("#typos_analysis").prop('value', 'Προσχέδιο νόμου');
        } else if (analysis == ':kateythintiries_grammes') {
            $("#typos_analysis").prop('value', 'Κατευθυντήριες γραμμές');
        } else if (analysis == ':epeigon_katepeigon') {
            $("#typos_analysis").prop('value', 'Επείγον ή κατεπείγον νομοσχέδιο');
        } else if (analysis == ':diethneis_symvaseis') {
            $("#typos_analysis").prop('value', 'Διεθνείς συμβάσεις');
        } else if (analysis == ':tropologies_upourgwn') {
            $("#typos_analysis").prop('value', 'Τροπολογίες Υπουργών');
        } else if (analysis == ':protasi_nomou') {
            $("#typos_analysis").prop('value', 'Πρόταση νόμου');
        } else if (analysis == ':tropologies_vouleutwn') {
            $("#typos_analysis").prop('value', 'Τροπολογίες Βουλευτών');
        }
        // console.log("1" + analysis);
        // console.log("2" + $(analysis));
        // console.log("3" + $(analysis).val());


        function getFullDate(fieldId) {
            $(fieldId).prop("value", new Date().toLocaleString("el-GR", { timeZone: "Europe/Athens" }));
            //console.log($(fieldId).val());
        }
        //init_submit date - will be updated when actually submitted
        getFullDate("#initial_submit");

        var role = "<%= rolos%>";
        function optionalFields(fieldId) {
            $(fieldId).prop('disabled', true);//find and disable field, button or fieldset
            //console.log((fieldId));
        };

        function enableFields(fieldId) {
            $(fieldId).prop('disabled', false);//find and enable field or button
            //console.log((fieldId));
        };

        function optionalFieldsClassRemoval(fieldLabel, className) {
            var items = document.getElementsByClassName(fieldLabel);
            for (var i = 0; i < items.length; i++) {
                $(items[i]).removeClass(className);//remove required class from label
            }
        };

        function addLabelClass(fieldLabel, className) {
            $(fieldLabel).addClass(className);//remove required class from label
        };



        //console.log("analysis-> "+analysis); // log analysis type
        if (analysis == ":kateythintiries_grammes") {
            optionalFields(".mostly-optional :input");
            optionalFields(".optional :input");
            optionalFields(".table-14 :input");
            enableFields(".create-new");
            enableFields(".next");
            enableFields(".previous");

            optionalFieldsClassRemoval("mostly-optional-label", "required");
            optionalFieldsClassRemoval("optional-label", "required");
            optionalFieldsClassRemoval("table-14-label", "required");

        } else if (analysis == ":prosxedio_nomou") {
            optionalFields(".mostly-optional :input");
            optionalFieldsClassRemoval("mostly-optional-label", "required");

        } else if (analysis == ":epeigon_katepeigon" || analysis == ":diethneis_symvaseis" || analysis == ":tropologies_upourgwn") {
            optionalFields(".field-22 :input");
            optionalFields(".optional :input");
            enableFields(".create-new");
            enableFields(".next");
            enableFields(".previous");

            optionalFieldsClassRemoval("field-22-label", "required");
            optionalFieldsClassRemoval("optional-label", "required");


        } else if (analysis == ":tropologies_vouleutwn" || analysis == ":protasi_nomou") {
            optionalFields(".field-18 :input");
            optionalFields(".field-19 :input");
            optionalFields(".field-20 :input");
            optionalFields(".field-21 :input");
            optionalFields(".field-22 :input");
            optionalFields(".field-24 :input");
            optionalFields(".field-25 :input");
            optionalFields(".field-26 :input");
            optionalFields(".field-27 :input");
            optionalFields(".field-28 :input");

            optionalFields(".optional :input");
            enableFields(".table-31 :input");
            enableFields(".table-32 :input");
            enableFields(".create-new");
            enableFields(".next");
            enableFields(".previous");

            optionalFieldsClassRemoval("field-18-label", "required");
            optionalFieldsClassRemoval("field-19-label", "required");
            optionalFieldsClassRemoval("field-20-label", "required");
            optionalFieldsClassRemoval("field-21-label", "required");
            optionalFieldsClassRemoval("field-22-label", "required");
            optionalFieldsClassRemoval("field-24-label", "required");
            optionalFieldsClassRemoval("field-25-label", "required");
            optionalFieldsClassRemoval("field-26-label", "required");
            optionalFieldsClassRemoval("field-27-label", "required");
            optionalFieldsClassRemoval("field-28-label", "required");
            optionalFieldsClassRemoval("optional-label", "required");
            addLabelClass(".table-31-label", "required");
            addLabelClass(".table-32-label", "required");
        }
        //these fields are by default disabled
        optionalFields(".glk :input");
        optionalFields(".glk :input");
        enableFields(".next");
        enableFields(".previous");
        enableFields("#ekthesi_glk");

        //console.log($("#status_ekthesis").val());

        //if (role == 'Επιτροπή Αξιολόγησης Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)') { }

        //row counter
        var table14RowIndex = 0;

        // jQuery button click event for table 14 to add a row
        $("#add_row_table_14").on("click", function () {
            //append adds row to table body with id 'tbody_14'
            //line 604 creates unique id for the line, which will later be used for deletion
            //also adding a delete icon for each row 
            $('#tbody_14').append(`
        <tr id="R${++table14RowIndex}"> 
            <td> 
                <textarea class="form-control" id="field_14_arthro${table14RowIndex}" name="field_14_arthro${table14RowIndex}" placeholder="Άρθρο" rows="1" onkeypress="wordsCounter('field_14_arthro${table14RowIndex}','words14_${table14RowIndex}',50, event)" onpaste="wordsCounter('field_14_arthro${table14RowIndex}','words14_${table14RowIndex}',50, event)"></textarea>
                <p style="float: right;">Λέξεις: <span id="words14_${table14RowIndex}" ></span> /50</p>                                            
            </td> 
            <td> 
                <textarea class="form-control" id="field_14_stoxos${table14RowIndex}" name="field_14_stoxos${table14RowIndex}" placeholder="Στόχος" rows="1"></textarea>
                <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
            </td>    
        </tr>`
            );
        });

        // jQuery button click event to remove a row 
        $('#tbody_14').on('click', '.remove', function () {

            // Getting all the rows close to the one to be removed 
            var child = $(this).closest('tr').nextAll();

            // Iterating across all the rows  
            // obtained to change the index 
            child.each(function () {

                // Getting <tr> id
                var id = $(this).attr('id');

                // Gets row number from <tr> id
                var row_num = parseInt(id.substring(1));

                //Getting index
                var idx = $(this).children('.row-index');

                // Modifying row index
                idx.html(`Row ${row_num - 1}`);

                // Modifying row id
                $(this).attr('id', `R${row_num - 1}`);
            });

            // Removing the current row. 
            $(this).closest('tr').remove();

            // Decreasing the total number of rows by 1. 
            table14RowIndex--;
        });

        var table17RowIndex = 0;

        // jQuery button click event for table 14 to add a row
        $("#add_row_table_17").on("click", function () {
            //append adds row to table body with id 'tbody_14'
            //line 604 creates unique id for the line, which will later be used for deletion
            //also adding a delete icon for each row 
            $('#tbody_17').append(`
        <tr id="R${++table17RowIndex}">  
            <td> 
                <textarea class="form-control" id="field_17_onoma${table17RowIndex}" name="field_17_onoma${table17RowIndex}" placeholder="Όνομα" rows="1"></textarea> 
            </td>    
            <td> 
                <textarea class="form-control" id="field_17_epitheto${table17RowIndex}" name="field_17_epitheto${table17RowIndex}" placeholder="Επώνυμο" rows="1"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_17_idiotita${table17RowIndex}" name="field_17_idiotita${table17RowIndex}" placeholder="Ιδιότητα" rows="1"></textarea>
                <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button>
            </td> 
        </tr>`
            );
            //console.log(table17RowIndex)
        });

        // jQuery button click event to remove a row 
        $('#tbody_17').on('click', '.remove', function () {

            // Getting all the rows close to the one to be removed 
            var child = $(this).closest('tr').nextAll();

            // Iterating across all the rows  
            // obtained to change the index 
            child.each(function () {

                // Getting <tr> id
                var id = $(this).attr('id');

                // Gets row number from <tr> id
                var row_num = parseInt(id.substring(1));

                //Getting index
                var idx = $(this).children('.row-index');

                // Modifying row index
                idx.html(`Row ${row_num - 1}`);

                // Modifying row id
                $(this).attr('id', `R${row_num - 1}`);
            });

            // Removing the current row. 
            $(this).closest('tr').remove();

            // Decreasing the total number of rows by 1. 
            table17RowIndex--;
        });


        var table29RowIndex = 0;
        $("#add_row_table_29").on("click", function () {

            $('#tbody_29').append(`
        <tr id="R${++table29RowIndex}"> 
            <td> 
                <textarea class="form-control" id="field_29_diatakseis_rythmisis${table29RowIndex}" name="field_29_diatakseis_rythmisis${table29RowIndex}" placeholder="Διατάξεις αξιολογούμενης ρύθμισης" rows="1"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_29_yfistamenes_diatakseis${table29RowIndex}" name="field_29_yfistamenes_diatakseis${table29RowIndex}" placeholder="Υφιστάμενες διατάξεις" rows="1"></textarea>
                <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
            </td>    
        </tr>`
            );
        });

        $('#tbody_29').on('click', '.remove', function () {

            var child = $(this).closest('tr').nextAll();

            child.each(function () {

                var id = $(this).attr('id');
                var row_num = parseInt(id.substring(1));
                var idx = $(this).children('.row-index');
                idx.html(`Row ${row_num - 1}`);
                $(this).attr('id', `R${row_num - 1}`);
            });

            $(this).closest('tr').remove();
            table29RowIndex--;
        });

        var table30RowIndex = 0;
        $("#add_row_table_30").on("click", function () {

            $('#tbody_30').append(`
        <tr id="R${++table30RowIndex}"> 
            <td> 
                <textarea class="form-control" id="field_30_diatakseis_katargisi${table30RowIndex}" name="field_30_diatakseis_katargisi${table30RowIndex}" placeholder="Διατάξεις αξιολογούμενης ρύθμισης που προβλέπουν κατάργηση" rows="2"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_30_katargoumenes_diatakseis${table30RowIndex}" name="field_30_katargoumenes_diatakseis${table30RowIndex}" placeholder="Καταργούμενες διατάξεις" rows="2"></textarea>
                <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
            </td>    
        </tr>`
            );
        });

        $('#tbody_30').on('click', '.remove', function () {

            var child = $(this).closest('tr').nextAll();

            child.each(function () {

                var id = $(this).attr('id');
                var row_num = parseInt(id.substring(1));
                var idx = $(this).children('.row-index');
                idx.html(`Row ${row_num - 1}`);
                $(this).attr('id', `R${row_num - 1}`);
            });

            $(this).closest('tr').remove();
            table30RowIndex--;
        });

        var table31RowIndex = 0;
        $("#add_row_table_31").on("click", function () {

            $('#tbody_31').append(`
        <tr id="R${++table31RowIndex}"> 
            <td> 
                <textarea class="form-control" id="field_31_sxetiki_diataksi${table31RowIndex}" name="field_31_sxetiki_diataksi${table31RowIndex}" placeholder="Σχετική διάταξη αξιολογούμενης ρύθμισης" rows="2" onkeypress="wordsCounter('field_31_sxetiki_diataksi${table31RowIndex}','words31_${table31RowIndex}',50, event)" onpaste="wordsCounter('field_31_sxetiki_diataksi${table31RowIndex}','words31_${table31RowIndex}',50, event)"></textarea>
                <p style="float: right;">Λέξεις: <span id="words31_${table31RowIndex}" ></span> /50</p>                                            
            </td> 
            <td> 
                <textarea class="form-control" id="field_31_synarmodia_ypoyrgeia${table31RowIndex}" name="field_31_synarmodia_ypoyrgeia${table31RowIndex}" placeholder="Συναρμόδια Υπουργεία – Συναρμόδιες υπηρεσίες / φορείς" rows="2"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_31_antikeimeno_synarmodiotitas${table31RowIndex}" name="field_31_antikeimeno_synarmodiotitas${table31RowIndex}" placeholder="Αντικείμενο συναρμοδιότητας" rows="2"></textarea>
                <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
            </td>    
        </tr>`
            );
        });

        $('#tbody_31').on('click', '.remove', function () {

            var child = $(this).closest('tr').nextAll();

            child.each(function () {

                var id = $(this).attr('id');
                var row_num = parseInt(id.substring(1));
                var idx = $(this).children('.row-index');
                idx.html(`Row ${row_num - 1}`);
                $(this).attr('id', `R${row_num - 1}`);
            });

            $(this).closest('tr').remove();
            table31RowIndex--;
        });

        var table32RowIndex = 0;
        $("#add_row_table_32").on("click", function () {

            $('#tbody_32').append(`
        <tr id="R${++table32RowIndex}"> 
            <td> 
                <textarea class="form-control" id="field_32_eksousiodotiki_diataksi${table32RowIndex}" name="field_32_eksousiodotiki_diataksi${table32RowIndex}" placeholder="Εξουσιοδοτική διάταξη" rows="4"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_32_eidos_praksis${table32RowIndex}" name="field_32_eidos_praksis${table32RowIndex}" placeholder="Είδος πράξης" rows="4"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_32_armodio_ypoyrgeio${table32RowIndex}" name="field_32_armodio_ypoyrgeio${table32RowIndex}" placeholder="Αρμόδιο ή επισπεύδον Υπουργείο ή υπηρεσία" rows="4"></textarea>
            </td> 
            <td> 
                <textarea class="form-control" id="field_32_antikeimeno${table32RowIndex}" name="field_32_antikeimeno${table32RowIndex}" placeholder="Αντικείμενο" rows="4" onkeypress="wordsCounter('field_32_antikeimeno${table32RowIndex}','words32_${table32RowIndex}',50, event)" onpaste="wordsCounter('field_32_antikeimeno${table32RowIndex}','words32_${table32RowIndex}',50, event)"></textarea>
                <p style="float: right;">Λέξεις: <span id="words32_${table32RowIndex}" ></span> /50</p>                                            
            </td> 
            <td> 
                <textarea class="form-control" id="field_32_xronodiagramma${table32RowIndex}" name="field_32_xronodiagramma${table32RowIndex}" placeholder="Χρονοδιάγραμμα (ενδεικτική ή αποκλειστική προθεσμία)" rows="4"></textarea>
                <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
            </td>    
        </tr>`
            );
        });

        $('#tbody_32').on('click', '.remove', function () {

            var child = $(this).closest('tr').nextAll();

            child.each(function () {

                var id = $(this).attr('id');
                var row_num = parseInt(id.substring(1));
                var idx = $(this).children('.row-index');
                idx.html(`Row ${row_num - 1}`);
                $(this).attr('id', `R${row_num - 1}`);
            });

            $(this).closest('tr').remove();
            table32RowIndex--;
        });

        function tooltipEvents(imgId, tooltipClass) {
            const img = document.querySelector('#' + imgId);
            const tooltip = document.querySelector('#' + tooltipClass);
            //console.log(img);
            let popperInstance = null;

            function create() {
                popperInstance = Popper.createPopper(img, tooltip, {
                    modifiers: [
                        {
                            name: 'offset',
                            options: {
                                offset: [0, 8],
                            },
                        },
                    ],
                });
            }

            function destroy() {
                if (popperInstance) {
                    popperInstance.destroy();
                    popperInstance = null;
                }
            }

            function show() {
                tooltip.setAttribute('data-show', '');
                create();
            }

            function hide() {
                tooltip.removeAttribute('data-show');
                destroy();
            }

            const showEvents = ['mouseenter', 'focus'];
            const hideEvents = ['mouseleave', 'blur'];

            showEvents.forEach(event => {
                img.addEventListener(event, show);
            });

            hideEvents.forEach(event => {
                img.addEventListener(event, hide);
            });
        }

        $("#ekpedeusi_politismos").click(function (ev) {
            if (this.checked) {
                $("#politismos_table").show();
                $("#ekpaideysi_table").show();
                $(this).prop('value', 'true');
            } else {
                $("#politismos_table").hide();
                $("#ekpaideysi_table").hide();
                $(this).prop('value', 'false');
            }
        })

        $("#forologiki_politiki").click(function (ev) {
            if (this.checked) {
                $("#oikonomia_table").show();
                $("#forologia_table").show();
                $("#ergasiakes_sxeseis_table").show();
            } else {
                $("#oikonomia_table").hide();
                $("#forologia_table").hide();
                $("#ergasiakes_sxeseis_table").hide();
            }
        })

        $("#koinoniki_politiki").click(function (ev) {
            if (this.checked) {
                $("#apasxolisi_table").show();
                $("#koinwniki_asfalisi_table").show();
                $("#koinwniki_pronoia_table").show();
                $("#ygeia_table").show();
                $("#isotita_fylwn_table").show();
                $("#metanasteytiki_prosfygiki_politiki_table").show();
            } else {
                $("#apasxolisi_table").hide();
                $("#koinwniki_asfalisi_table").hide();
                $("#koinwniki_pronoia_table").hide();
                $("#ygeia_table").hide();
                $("#isotita_fylwn_table").hide();
                $("#metanasteytiki_prosfygiki_politiki_table").hide();
            }
        })

        $("#dimosia_dioikisi").click(function (ev) {
            if (this.checked) {
                $("#dimosia_dioikisi_table").show();
                $("#dimosia_asfaleia_table").show();
                $("#dikaiosini_table").show();
            } else {
                $("#dimosia_dioikisi_table").hide();
                $("#dimosia_asfaleia_table").hide();
                $("#dikaiosini_table").hide();
            }
        })

        $("#anaptiksi").click(function (ev) {
            if (this.checked) {
                $("#ependytiki_drastiriotita_table").show();
                $("#perivallon_energeia_table").show();
            } else {
                $("#ependytiki_drastiriotita_table").hide();
                $("#perivallon_energeia_table").hide();
            }
        })

        $("#field_10_emmesi").on("change", function (ev) {
            $("#emesi_wrap").toggle();
        })

        $("#field_10_amesi").on("change", function (ev) {
            $("#amesi_wrap").toggle();
        })

        $("#field_25_dikaio").on("change", function (ev) {
            $("#dikaio_wrap").toggle();
        })

        $("#field_25_kanonismos").on("change", function (ev) {
            $("#kanonismos_wrap").toggle();
        })

        $("#field_25_odigia").on("change", function (ev) {
            $("#odigia_wrap").toggle();
        })

        $("#field_25_apofasi").on("change", function (ev) {
            $("#apofasi_wrap").toggle();
        })

        $("#field_26_antrwpina_dikaiwmata").on("change", function (ev) {
            $("#antrwpina_dikaiwmata_wrap").toggle();
        })

        $("#field_26_symvaseis").on("change", function (ev) {
            $("#symvaseis_wrap").toggle();
        })

        $("#field_27_dikastirio").on("change", function (ev) {
            $("#dikastirio_wrap").toggle();
        })

        $("#field_27_arxi").on("change", function (ev) {
            $("#arxi_wrap").toggle();
        })

        $("#field_28_nomologia").on("change", function (ev) {
            $("#nomologia_wrap").toggle();
        })

        $("#field_28_nomologia_dikaiwmatwn_anthrwpou").on("change", function (ev) {
            $("#nomologia_dikaiwmatwn_anthrwpou_wrap").toggle();
        })

        $("#field_28_alla_dikastiria").on("change", function (ev) {
            $("#alla_dikastiria_wrap").toggle();
        })

        $("#field_4").on("click", function (ev) {
            if ($(this).val() == "Ναι") {
                $("#field_4_wrap").show();
            } else {
                $("#field_4_wrap").hide();
            }
        })

        $("#field_6").on("change", function (ev) {
            if ($(this).val() == "Ναι") {
                $("#field_6_wrap").show();
            } else {
                $("#field_6_wrap").hide();
            }
        })

        $("#field_11").on("change", function (ev) {
            if ($(this).val() == "Ναι") {
                $("#field_11_wrap").show();
            } else {
                $("#field_11_wrap").hide();
            }
        })

        $("#field_12").on("change", function (ev) {
            if ($(this).val() == "Ναι") {
                $("#field_12_wrap").show();
            } else {
                $("#field_12_wrap").hide();
            }
        })

        $("#field_13").on("change", function (ev) {
            if ($(this).val() == "Ναι") {
                $("#field_13_wrap").show();
            } else {
                $("#field_13_wrap").hide();
            }
        })

        $("#field_36").on("change", function (ev) {
            if ($(this).val() == "Ναι") {
                $("#field_36_wrap").show();
            } else {
                $("#field_36_wrap").hide();
            }
        })

        // $('fieldset').find('[required]').each(function() {
        // //your code here
        // })
        
        // addTooltipByClass('index_label');
        // addTooltipByClass('index_five');

        var tooltips = '<%= tooltips %>';
        tooltips = tooltips.replace(/&#34;/g, '"')//replace html for double quotes
            .replace(/[\u0000-\u0019]+/g, "")
            .replace(/\\'/g, "\\'")
            .replace(/\\"/g, '\\"')
            .replace(/\\&/g, "\\&")
            .replace(/\\r/g, "\\r")
            .replace(/\\t/g, "\\t")
            .replace(/\\b/g, "\\b")
            .replace(/\\f/g, "\\f");
        tooltips = JSON.parse(tooltips)//parse to JSON obj

        //for rows in csv call function        
        
        for (i in tooltips) {
            var fieldId = tooltips[i].fieldId 
            if (fieldId) {
                if ($("." + fieldId).length > 0) {
                    addTooltipByClass(fieldId);
                } else {
                    addTooltip(tooltips[i].fieldId);
                }                
            }            
        }

        function addTooltip(fieldID) {
            console.log(fieldID)
            var parentDiv = $('#' + fieldID).closest('div.form-group');
            var tooltip = `<div class="tooltip_div" >
                            <img src="/img/information.png"  id="${fieldID}_tooltip_img" aria-describedby="${fieldID}_tooltip_img" 
                                onmouseover="tooltipEvents('${fieldID}_tooltip_img', '${fieldID}_tooltip_div'); setTooltip('${fieldID}_tooltip_div','${fieldID}');" width="20px" >
                            <div id="${fieldID}_tooltip_div" class="tooltip_text" role="tooltip"></div>
                        </div>`;
            parentDiv.append(tooltip);
        }

        function addTooltipByClass(fieldID) {
            var parentDiv = $("." + fieldID);
            parentDiv.each(function (index) {
                var tooltip = `<div class="tooltip_div" >
                            <img src="/img/information.png"  id="${fieldID}_tooltip_img_${index}" aria-describedby="${fieldID}_tooltip_img" 
                                onmouseover="tooltipEvents('${fieldID}_tooltip_img_${index}', '${fieldID}_tooltip_div_${index}'); setTooltip('${fieldID}_tooltip_div_${index}','${fieldID}');" width="20px" >
                            <div id="${fieldID}_tooltip_div_${index}" class="tooltip_text" role="tooltip"></div>
                        </div>`; 
                $(this).append(tooltip);          
            });
            //alert(parentDiv.html())
            
            //alert(tooltip)
        }

        // function removeTooltip(divID) {
        //     $("#" + divID).empty();

        // }
         
        function setTooltip(divID, fieldId) {
            //var fieldId = fieldId.substring(1)//remove 1st character if #fieldID is passed as parameter

            var tooltip;
            for (i in tooltips) {
                if (tooltips[i].fieldId == fieldId) {
                    tooltip = tooltips[i].tooltipText;
                    $("#" + divID).html((tooltip));
                }
            }
        }

        var current_fs, next_fs, previous_fs; //fieldsets


        $(".next").click(function () {
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $(".progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.hide();
        });

        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $(".progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            //add class "active" if it doesn't exist 
            if (!$(previous_fs).hasClass("active")) {
                $(".progressbar li").eq($("fieldset").index(previous_fs)).addClass("active");
            }
            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.hide();
        });

        $(".submit").click(function () {
            return false;
        })
    </script>