<%- include('../partials/head.ejs') %>

  <div id="content">
    <div class=""> <br />
      <!--<input type="button" name="back" class="back" value="Πίσω"/> <br/>--> <a href="#" class="govgr-back-link"
        id="back" name="back"> <svg class="govgr-caret--left" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M18,22V2L6,12L18,22z" />
        </svg>
        Επιστροφή στην αρχική</a> <br />
      <div class="govgr-layout-wrapper govgr-layout-wrapper__full-height">
        <div class="govgr-width-container"> <br />
          <div class="govgr-button-group">
            <input type="button" id="user_button" class="govgr-btn govgr-btn-primary" value="Οι αναλύσεις μου" />
            <input type="button" id="entries_button" class="govgr-btn govgr-btn-primary"
              value="Διαθέσιμες αναλύσεις του Φορέα" /> <br />
            <br />
          </div>
          <div id="user_div" style="display: none;">
            <h4 class="govgr-heading-m">Οι αναλύσεις μου</h4>
            <table id="user_data" class="govgr-table--zebra govgr-table--dense govgr-table--dark govgr-table hover">
              <thead class="govgr-table__head">
                <tr class="govgr-table__row">
                  <th class="govgr-table__header" scope="col">Τίτλος</th>
                  <th class="govgr-table__header" scope="col">Αρχικοποίηση από</th>
                  <th class="govgr-table__header" scope="col">Τελευταία τροποποίηση από</th>
                  <th class="govgr-table__header" scope="col">Ρόλος τελευταίου συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Φορέας τελευταίου συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Τύπος ανάλυσης</th>
                  <th class="govgr-table__header" scope="col">Κατάσταση ανάλυσης</th>
                </tr>
              </thead>
              <!-- TODO: fix table headers and rows to display correct information -->
              <tbody class="govgr-table__body">
                <% for(let i=0; i<latestEntries.length; i++) {%>
                    <tr class="govgr-table__row" onclick="setReferer('<%=  latestEntries[i].userEntry.id %>')">
                      <td class="govgr-table__cell hover:underline">
                        <%= latestEntries[i].userEntry.data.title %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= latestEntries[i].firstAuditEntry.user.fname %> 
                        <%= latestEntries[i].firstAuditEntry.user.lname %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= latestEntries[i].latestAuditEntry.user.fname %> 
                        <%= latestEntries[i].latestAuditEntry.user.lname %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= latestEntries[i].latestAuditEntry.user.role %>                      
                      </td>
                      <td class="govgr-table__cell">
                        <%= latestEntries[i].latestAuditEntry.user.agency %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= latestEntries[i].userEntry.type %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= latestEntries[i].userEntry.status %>
                      </td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div id="agency_div" style="display: none;">
            <h4 class="govgr-heading-m">Αναλύσεις του Φορέα μου</h4>
            <table id="agency_data" class="govgr-table--zebra govgr-table--dense govgr-table--dark govgr-table hover">
              <thead class="govgr-table__head">
                <tr class="govgr-table__row">
                  <th class="govgr-table__header" scope="col">Τίτλος</th>
                  <th class="govgr-table__header" scope="col">Ονοματεπώνυμο συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Ρόλος συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Φορέας συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Τύπος ανάλυσης</th>
                  <th class="govgr-table__header" scope="col">Κατάσταση ανάλυσης</th>
                </tr>
              </thead>
              <tbody class="govgr-table__body">
                <% if (entries !=null) {%>
                  <% for(var i=0; i<entries.length; i++) {%>
                    <tr class="govgr-table__row" onclick="setReferer('<%= entries[i].id %>')">
                      <td class="govgr-table__cell hover:underline">
                        <%= entries[i].data.title %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].user.fname%>
                          <%= entries[i].user.lname%>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].user.role%>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].user.agency %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].type %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].status %>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
              </tbody>
            </table>
          </div> <br />
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>

    <style>
      .display {
        table-layout: fixed;
        overflow-wrap: break-word;
      }
    </style>
    <script type="text/javascript" src="/js/enums.js"></script>
    <script type="text/javascript" src="/js/nav_scripts.js"></script>
    <script>
      $("#user_data").dataTable();
      $('#agency_data').dataTable();

      function setReferer(id) {
        sessionStorage.setItem("referer", id);
        window.location.href = '/edit_analysis/' + id;
      }

      const userRole = "<%= user.role %>";
      setUserRestrictions(userRole);

      const isAdmin = '<%= user.isAdmin %>';
      const userEntries = '<%= entries %>';
      const agencyEntries = '<%= latestEntries %>';

      if (userEntries.length > 0 && agencyEntries.length === 0) {
        $("#agency_div").show();
      } else if ((userEntries.length === 0 && agencyEntries.length > 0)) {
        $("#user_div").show();
      } else {
        $("#user_div").show();
      }

      $("#user_button").on("click", function (ev) {
        $("#agency_div").hide();
        $("#user_div").show();
      });
      $("#entries_button").on("click", function (ev) {
        $("#agency_div").show();
        $("#user_div").hide();
      });

      $("#back").on("click", function (ev) {
        window.location.href = "/user_views/dashboard";
      });

    </script>
    <script type="text/javascript" src="/js/common_user_scripts.js"></script>
    </body>

    </html>