<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
  <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
      <br><br>
      <input type="button" name="back" class="back float-right" value="Πίσω" />
      <br><br>
      <table id="all_entries_data" class="display">
        <thead>
          <tr>
            <th>ID</th>
            <th>Τίτλος</th>
            <th>Όνομα συντάκτη</th>
            <th>Επώνυμο συντάκτη</th>
            <th>Τύπος ανάλυσης</th>
            <th>Κατάσταση αίτησης</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<entries.length; i++) {%>
          <tr onclick="window.location.href='/form_a/<%= entries[i].id %>'">
            <td style="text-align:center"><%= entries[i].id %></td>
            <td><%= entries[i].title %></td>
            <td><%= entries[i].author %></td>
            <td></td>
            <td><%= entries[i].typos_analysis %></td>
            <td></td>
          </tr>
          <% } %>

        </tbody>
      </table>

      <%- include('../user_views/menus.ejs') %>
    </div>

  </div>

</div>

<%- include('../partials/footer.ejs') %>
</div>

<style>
  a {
    color: blue;
  }

  .exit,
  .back {
    font-size: 16px;
  }
</style>

<script>
  $(document).ready(function () {
    $('#all_entries_data').DataTable();
  });

  var user_role = '<%= user.rolos %>';
  var user_dikaiwmata_diaxeirisis = "<%= user.dikaiwmata_diaxeirisis %>"
  if (user_dikaiwmata_diaxeirisis) { //depending on administrational show menu
    $("#admin_menu").show();
    $("#user_menu").hide();
    //depending on user role hide menu items
    if (user_role == 'Βουλευτής') {
      document.getElementById("admin_ekthesi").children[1].style.display = "none";
      document.getElementById("admin_ekthesi").children[2].style.display = "none";
      document.getElementById("admin_ekthesi").children[3].style.display = "none";
      document.getElementById("admin_ekthesi").children[4].style.display = "none";
      document.getElementById("admin_ekthesi").children[6].style.display = "none";
      document.getElementById("admin_ekthesi").children[7].style.display = "none";
    } else if (user_role == 'Βουλή' || user_role == 'Αρμόδιος επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων') {
      document.getElementById("admin_ekthesi").children[0].style.display = "none";
      document.getElementById("admin_ekthesi").children[1].style.display = "none";
      document.getElementById("admin_ekthesi").children[2].style.display = "none";
      document.getElementById("admin_ekthesi").children[3].style.display = "none";
      document.getElementById("admin_ekthesi").children[4].style.display = "none";
      document.getElementById("admin_ekthesi").children[5].style.display = "none";
      document.getElementById("admin_ekthesi").children[6].style.display = "none";
      document.getElementById("admin_ekthesi").children[7].style.display = "none";
      document.getElementById("admin_ekthesi").children[8].style.display = "none";
    } else if (user_role == 'Συντάκτης Υπουργείου') {
      document.getElementById("admin_ekthesi").children[5].style.display = "none";
      document.getElementById("admin_ekthesi").children[8].style.display = "none";
    }
  }
  else {
    $("#user_menu").show();
    $("#admin_menu").hide();
    if (user_role == 'Βουλευτής') {
      document.getElementById("users_ekthesi").children[1].style.display = "none";
      document.getElementById("users_ekthesi").children[2].style.display = "none";
      document.getElementById("users_ekthesi").children[3].style.display = "none";
      document.getElementById("users_ekthesi").children[4].style.display = "none";
      document.getElementById("users_ekthesi").children[6].style.display = "none";
      document.getElementById("users_ekthesi").children[7].style.display = "none";
    } else if (user_role == 'Βουλή') {
      document.getElementById("users_ekthesi").children[0].style.display = "none";
      document.getElementById("users_ekthesi").children[1].style.display = "none";
      document.getElementById("users_ekthesi").children[2].style.display = "none";
      document.getElementById("users_ekthesi").children[3].style.display = "none";
      document.getElementById("users_ekthesi").children[4].style.display = "none";
      document.getElementById("users_ekthesi").children[5].style.display = "none";
      document.getElementById("users_ekthesi").children[6].style.display = "none";
      document.getElementById("users_ekthesi").children[7].style.display = "none";
      document.getElementById("users_ekthesi").children[8].style.display = "none";
    } else if (user_role == 'Συντάκτης Υπουργείου') {
      document.getElementById("users_ekthesi").children[5].style.display = "none";
      document.getElementById("users_ekthesi").children[8].style.display = "none";
    }
  }

  $(".back").on("click", function (ev) {
    if (user_dikaiwmata_diaxeirisis) {
      window.location.href = "/user_views/admin_dashboard";
    } else {
      window.location.href = "/user_views/user_dashboard";
    }
  });
</script>
</body>

</html>