<%- include('../partials/head.ejs') %>

  <div id="content">
    <div class=""> <br />
      <!--<input type="button" name="back" class="back" value="Πίσω"/> <br/>--> <a href="#" class="govgr-back-link"
        id="back" name="back"> <svg class="govgr-caret--left" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M18,22V2L6,12L18,22z" />
        </svg>
        Επιστροφή στην αρχική</a> <br />
      <div class="govgr-layout-wrapper govgr-layout-wrapper__full-height">
        <div class="govgr-width-container"> <br />
          <div class="govgr-button-group">
            <input type="button" id="user_button" class="govgr-btn govgr-btn-primary" value="Οι αναλύσεις μου" />
            <input type="button" id="entries_button" class="govgr-btn govgr-btn-primary"
              value="Διαθέσιμες αναλύσεις του Φορέα" /> <br />
            <br />
          </div>
          <div id="user_div" style="display: none;">
            <table id="user_data" class="govgr-table--zebra govgr-table--dense govgr-table--dark govgr-table hover">
              <thead class="govgr-table__head">
                <tr class="govgr-table__row">
                  <th class="govgr-table__header" scope="col">Τίτλος</th>
                  <th class="govgr-table__header" scope="col">Ονοματεπώνυμο συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Ρόλος συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Φορέας συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Τύπος ανάλυσης</th>
                  <th class="govgr-table__header" scope="col">Κατάσταση αίτησης</th>
                </tr>
              </thead>
              <tbody class="govgr-table__body">
                <% for(var i=0; i<user.ekthesis.length; i++) {%>
                  <tr class="govgr-table__row" onclick="setReferer('<%=  user.ekthesis[i].id %>')">
                    <td class="govgr-table__cell hover:underline">
                      <%= user.ekthesis[i].title %>
                    </td>
                    <td class="govgr-table__cell">
                      <%= user.fname%>
                        <%= user.lname%>
                    </td>
                    <td class="govgr-table__cell">
                      <%= user.rolos%>
                    </td>
                    <td class="govgr-table__cell">
                      <%= user.ypoyrgeio %>
                    </td>
                    <td class="govgr-table__cell">
                      <%= user.ekthesis[i].typos_analysis %>
                    </td>
                    <td class="govgr-table__cell">
                      <%= user.ekthesis[i].status_ekthesis %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
          <div id="entries_div" style="display: none;">
            <table id="entries_data" class="govgr-table--zebra govgr-table--dense govgr-table--dark govgr-table hover">
              <thead class="govgr-table__head">
                <tr class="govgr-table__row">
                  <th class="govgr-table__header" scope="col">Τίτλος</th>
                  <th class="govgr-table__header" scope="col">Ονοματεπώνυμο συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Ρόλος συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Φορέας συντάκτη</th>
                  <th class="govgr-table__header" scope="col">Τύπος ανάλυσης</th>
                  <th class="govgr-table__header" scope="col">Κατάσταση αίτησης</th>
                </tr>
              </thead>
              <tbody class="govgr-table__body">
                <% if (entries !=null) {%>
                  <% for(var i=0; i<entries.length; i++) {%>
                    <tr class="govgr-table__row" onclick="setReferer('<%= entries[i].id %>')">
                      <td class="govgr-table__cell hover:underline">
                        <%= entries[i].title %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].user.fname%>
                          <%= entries[i].user.lname%>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].user.rolos%>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].user.ypoyrgeio %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].typos_analysis %>
                      </td>
                      <td class="govgr-table__cell">
                        <%= entries[i].status_ekthesis %>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
              </tbody>
            </table>
          </div> <br />
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>

    <style>
      .display {
        table-layout: fixed;
        overflow-wrap: break-word;
      }
    </style>
    <script type="text/javascript" src="/js/nav_scripts.js"></script>
    <script>
      $(document).ready(function () {
        $("#user_data").dataTable();
        $('#entries_data').dataTable();

      });

      function setReferer(id) {
        sessionStorage.setItem("referer", id);
        window.location.href = '/form_a/' + id;
      }

      const userRole = "<%= user.rolos %>";
      setUserRestrictions(userRole);

      let isAdmin = '<%= user.dikaiwmata_diaxeirisis %>';

      isAdmin ? $(".user").hide() : $(".admin").hide();//display admin info if user has administration rights

      //set width of column x
      /*$('#entries_data').dataTable({
        "columnDefs": [
          { "width": "20%", "targets": [5,6] }
        ]
      });*/

      function hideDataTable(table, table_wrapper) {
        $(table).hide();
        $(table_wrapper).hide();
      }

      function showDataTable(table, table_wrapper) {
        $(table).show();
        $(table_wrapper).show();
      }

      $("#user_button").on("click", function (ev) {
        $("#entries_div").hide();
        $("#user_div").show();
        // hideDataTable("#entries_data", "#entries_data_wrapper");
        // showDataTable("#user_data", "#user_data_wrapper");
      });
      $("#entries_button").on("click", function (ev) {
        $("#entries_div").show();
        $("#user_div").hide();
        // hideDataTable("#user_data", "#user_data_wrapper");
        // showDataTable("#entries_data", "#entries_data_wrapper");
      });

      $("#back").on("click", function (ev) {
        window.location.href = "/user_views/dashboard";
      });

    </script>
    </body>

    </html>