<%- include('../partials/head.ejs') %>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <div id="content">
    <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
      <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
          <br><br>
          <input type="button" class="back" value="Πίσω" />
          <br><br>
          <input type="button" id="user_button" class="display-table-button" value="Οι αναλύσεις μου" />
          <input type="button" id="entries_button" class="display-table-button"
            value="Διαθέσιμες αναλύσεις του Φορέα" />
          <br><br>
          <div>
            <table id="user_data" class="display">
              <thead>
                <tr>
                  <th>Τίτλος</th>
                  <th>Ονοματεπώνυμο συντάκτη</th>
                  <th>Ρόλος συντάκτη</th>
                  <th>Φορέας συντάκτη</th>
                  <th>Τύπος ανάλυσης</th>
                  <th>Κατάσταση αίτησης</th>
                </tr>
              </thead>
              <tbody>

                <% for(var i=0; i<user.ekthesis.length; i++) {%>
                  <tr onclick="setReferer('<%=  user.ekthesis[i].id %>')">
                    <td>
                      <%= user.ekthesis[i].title %>
                    </td>
                    <td>
                      <%= user.fname%>
                        <%= user.lname%>
                    </td>
                    <td>
                      <%= user.rolos%>
                    </td>
                    <td>
                      <%= user.ypoyrgeio %>
                    </td>
                    <td>
                      <%= user.ekthesis[i].typos_analysis %>
                    </td>
                    <td>
                      <%= user.ekthesis[i].status_ekthesis %>
                    </td>
                  </tr>
                  <% } %>

              </tbody>
            </table>
          </div>
          <div>
            <table id="entries_data" class="display">
              <thead>
                <tr>
                  <th>Τίτλος</th>
                  <th>Ονοματεπώνυμο συντάκτη</th>
                  <th>Ρόλος συντάκτη</th>
                  <th>Φορέας συντάκτη</th>
                  <th>Τύπος ανάλυσης</th>
                  <th>Κατάσταση αίτησης</th>
                </tr>
              </thead>
              <tbody>
                <% if (entries !=null) {%>
                  <% for(var i=0; i<entries.length; i++) {%>
                    <tr onclick="setReferer('<%= entries[i].id %>')">
                      <td>
                        <%= entries[i].title %>
                      </td>
                      <td>
                        <%= entries[i].user.fname%>
                          <%= entries[i].user.lname%>
                      </td>
                      <td>
                        <%= entries[i].user.rolos%>
                      </td>
                      <td>
                        <%= entries[i].user.ypoyrgeio %>
                      </td>
                      <td>
                        <%= entries[i].typos_analysis %>
                      </td>
                      <td>
                        <%= entries[i].status_ekthesis %>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
              </tbody>
            </table>
          </div>
          <br><br>

          <%- include('../user_views/menus.ejs') %>
        </div>
      </div>
    </div>

  </div>

  <%- include('../partials/footer.ejs') %>
    </div>

    <style>
      a {
        color: blue;
      }

      .display {
        table-layout: fixed;
        overflow-wrap: break-word;
      }

      .exit,
      .back,
      .display-table-button {
        font-size: 16px;
      }

      #footer {
        position: relative;
        bottom: 0%;
      }
    </style>

    <script>
      $(document).ready(function () {
        $("#user_data").dataTable();
        hideDataTable("#user_data", "#user_data_wrapper");
        $('#entries_data').DataTable();
        hideDataTable("#entries_data", "#entries_data_wrapper");

      });

      function setReferer(id) {
        sessionStorage.setItem("referer", id);
        console.log(sessionStorage.getItem("referer"));
        window.location.href = '/form_a/' + id;
      }

      var user_role = '<%= user.rolos %>';
      var user_dikaiwmata_diaxeirisis = "<%= user.dikaiwmata_diaxeirisis %>"
      if (user_dikaiwmata_diaxeirisis) { //depending on administrational show menu
        $("#admin_menu").show();
        $("#user_menu").hide();
        //depending on user role hide menu items
        if (user_role == 'Βουλευτής') {
          $("#admin_ekthesi").children(":not(.vouleftis)").hide();//hide all children elements without class vouleftis
        } else if (user_role == 'Συντάκτης επισπεύδοντος Υπουργείου' || user_role == 'Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)') {
          $("#admin_ekthesi").children(".vouleftis").hide();
        } else {
          $("#admin_ekthesi").children().hide();
        }
      }
      else {
        $("#user_menu").show();
        $("#admin_menu").hide();
        if (user_role == 'Βουλευτής') {
          $("#users_ekthesi").children(":not(.vouleftis)").hide();//hide all children elements without class vouleftis
        } else if (user_role == 'Συντάκτης επισπεύδοντος Υπουργείου' || user_role == 'Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)') {
          $("#users_ekthesi").children(".vouleftis").hide();
        } else {
          $("#users_ekthesi").children().hide();
        }
      }
      //set width of column x
      /*$('#entries_data').dataTable({
        "columnDefs": [
          { "width": "20%", "targets": [5,6] }
        ]
      });*/

      function hideDataTable(table, table_wrapper) {
        $(table).hide();
        $(table_wrapper).hide();
      }

      function showDataTable(table, table_wrapper) {
        $(table).show();
        $(table_wrapper).show();
      }

      $("#user_button").on("click", function (ev) {
        hideDataTable("#entries_data", "#entries_data_wrapper");
        showDataTable("#user_data", "#user_data_wrapper");
      });
      $("#entries_button").on("click", function (ev) {
        hideDataTable("#user_data", "#user_data_wrapper");
        showDataTable("#entries_data", "#entries_data_wrapper");
      });

      $(".back").on("click", function (ev) {
        if (user_dikaiwmata_diaxeirisis) {
          window.location.href = "/user_views/admin_dashboard";
        } else {
          window.location.href = "/user_views/user_dashboard";
        }
      });

    </script>
    </body>

    </html>