<%- include('../partials/head.ejs') %>

    <div class="govgr-layout-wrapper govgr-layout-wrapper__full-height">
        <div class="govgr-width-container">
            <a href="/user_views/dashboard" class="govgr-back-link" id="back" name="back"> <svg
                    class="govgr-caret--left" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M18,22V2L6,12L18,22z" />
                </svg> Επιστροφή στο ιστορικό</a>
            <div class="govgr-main-wrapper">
                <div class="govgr-button-group">
                    <input type="button" id="create_index" class="govgr-btn govgr-btn-primary"
                        value="Καταχώρηση δείκτη" />
                    <input type="button" id="edit_index" class="govgr-btn govgr-btn-primary"
                        value="Επεξεργασία δείκτη" /> <br />
                    <br />
                </div>
            </div>
            <form id="createIndex">
                <h1 class="govgr-heading-xl">Νέος δείκτης</h1>
                <div class="govgr-field">
                    <label class="govgr-label" for="name"> <span>Όνομα δείκτη:</span>
                        <textarea class="govgr-input govgr-!-width-one-half" id="name" name="name" required
                            minlength="10"></textarea>
                    </label>
                </div>
                <div class="govgr-field">
                    <label class="govgr-label" for="role">
                        Πίνακας:
                        <select class="govgr-select govgr-!-width-one-half" id="indexTable" name="indexTable" required>
                            <option selected disabled value="">Eπιλογή</option>
                        </select>
                    </label>
                </div> <br />
                <div class="govgr-button-group">
                    <input type="submit" id="create_submit" name="create_submit" class="govgr-btn govgr-btn-primary"
                        value="Καταχώρηση" />
                </div>
            </form>
            <form id="editIndex" style="display: none;" disabled>
                <h1 class="govgr-heading-xl">Επεξεργασία δείκτη</h1>
                <div class="govgr-field">
                    <label class="govgr-label" for="editIndexTable">
                        Πίνακας:
                        <select class="govgr-select govgr-!-width-one-half" id="editIndexTable" name="editIndexTable"
                            required>
                            <option selected disabled value="">Eπιλογή</option>
                        </select>
                    </label>
                </div> <br />
                <div class="govgr-field">
                    <label class="govgr-label" for="indexSelect">
                        Επιλογή δείκτη:
                        <select class="govgr-select govgr-!-width-one-half" id="indexSelect" name="indexSelect">
                            <option selected disabled>Eπιλογή</option>
                        </select>
                    </label>
                </div>
                <div class="govgr-field">
                    <label class="govgr-label" for="edit_name"> <span>Όνομα δείκτη:</span>
                        <textarea class="govgr-input govgr-!-width-one-half" id="edit_name" name="edit_name"
                            required minlength="10"></textarea>
                    </label>
                </div>
                <div class="govgr-button-group">
                    <input type="submit" id="edit_submit" name="edit_submit" class="govgr-btn govgr-btn-primary"
                        value="Επεξεργασία" />
                    <button id="deleteIndex" class="govgr-btn govgr-btn-warning">Διαγραφή</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>

        <style>
            .display {
                table-layout: fixed;
                overflow-wrap: break-word;
            }
        </style>
        <script type="text/javascript" src="/js/enums.js"></script>
        <script type="text/javascript" src="/js/nav_scripts.js"></script>
        <script>
            const userRole = "<%= user.role %>";
            setUserRestrictions(userRole);
            const isAdmin = '<%= user.isAdmin %>';
            const indexes = JSON.parse('<%- JSON.stringify(indexes) %>');
            const indexTables = JSON.parse('<%- JSON.stringify(indexTables) %>');
            for (i in indexTables) {
                $('#indexTable').append(
                    `<option value="${indexTables[i]}">${indexTables[i]}</option>`
                );
                $('#editIndexTable').append(
                    `<option value="${indexTables[i]}">${indexTables[i]}</option>`
                );
            }

            $('#create_index').on('click', () => {
                $('#createIndex').prop('disabled', false);
                $('#createIndex').show();
                $('#editIndex').hide();
                $('#editIndex').prop('disabled', true);
            });

            $('#edit_index').on('click', () => {
                $('#editIndex').prop('disabled', false);
                $('#editIndex').show();
                $('#createIndex').hide();
                $('#createIndex').prop('disabled', true);
            });

            $('#editIndexTable').on('change', () => {
                $('#indexSelect').empty();
                const indexTableValue = $('#editIndexTable').val();
                $('#indexSelect').append(
                    `<option value="" selected disabled>Eπιλογή</option>`
                );
                for (let i in indexes[indexTableValue]) {
                    $('#indexSelect').append(
                        `<option value="${indexes[indexTableValue][i]}">${indexes[indexTableValue][i]}</option>`
                    );
                }
            });

            $('#indexSelect').on('change', () => {
                $('#edit_name').empty();
                const indexTableValue = $('#indexSelect').val();
                $('#edit_name').val(indexTableValue);
            });

            $("#createIndex").on("submit", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/indexes`,
                    data: $('#createIndex').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'POST'
                });
            });

            $("#editIndex").on("submit", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/indexes`,
                    data: $('#editIndex').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'PUT'
                });
            });

            $("#deleteIndex").on("click", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/indexes`,
                    data: $('#editIndex').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'DELETE'
                });
            });
        </script>
        <script type="text/javascript" src="/js/common_user_scripts.js"></script>
        </body>

        </html>