<%- include('../partials/head.ejs') %>

    <div class="govgr-layout-wrapper govgr-layout-wrapper__full-height">
        <div class="govgr-width-container">
            <a href="/user_views/dashboard" class="govgr-back-link" id="back" name="back"> <svg
                    class="govgr-caret--left" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M18,22V2L6,12L18,22z" />
                </svg> Επιστροφή στο ιστορικό</a>
            <div class="govgr-main-wrapper">
                <div class="govgr-button-group">
                    <input type="button" id="create_ministry" class="govgr-btn govgr-btn-primary"
                        value="Καταχώρηση Υπουργείου" />
                    <input type="button" id="edit_ministry" class="govgr-btn govgr-btn-primary"
                        value="Επεξεργασία Υπουργείου" />
                    <input type="button" id="create_minister" class="govgr-btn govgr-btn-primary"
                        value="Καταχώρηση Υπουργού" />
                    <input type="button" id="edit_minister" class="govgr-btn govgr-btn-primary"
                        value="Επεξεργασία Υπουργού" />
                    <br />
                </div>
            </div>
            <form id="createMinistry">
                <h1 class="govgr-heading-xl">Νέο Υπουργείο</h1>
                <div class="govgr-field">
                    <label class="govgr-label" for="ministryName"> <span>Όνομα Υπουργείου:</span>
                        <input class="govgr-input govgr-!-width-one-half" type="text" id="ministryName" name="ministry"
                            required minlength="10" />
                    </label>
                </div>
                <div class="govgr-button-group">
                    <input type="submit" id="create_ministry_submit" name="create_ministry_submit"
                        class="govgr-btn govgr-btn-primary" value="Καταχώρηση" />
                </div>
            </form>
            <form id="createMinister" style="display: none;" disabled>
                <h1 class="govgr-heading-xl">Νέος Υπουργός</h1>
                <div class="govgr-field">
                    <label class="govgr-label" for="ministerName"> <span>Ονοματεπώνυμο Υπουργού:</span>
                        <input class="govgr-input govgr-!-width-one-half" type="text" id="ministerName" name="minister"
                            required minlength="10" />
                    </label>
                </div>
                <div class="govgr-field">
                    <label class="govgr-label" for="ministerRole"> <span>Ρόλος Υπουργού:</span>
                        <input class="govgr-input govgr-!-width-one-half" type="text" id="ministerRole" name="role" />
                    </label>
                </div>
                <div class="govgr-field">
                    <label class="govgr-label" for="ministerResponsibility"> <span>Αρμοδιότητα:</span>
                        <input class="govgr-input govgr-!-width-one-half" type="text" id="ministerResponsibility"
                            name="responsibility" />
                    </label>
                </div>
                <div class="govgr-field">
                    <label class="govgr-label" for="ministerMinistry">
                        Υπουργείο:
                        <select class="govgr-select govgr-!-width-one-half" id="ministerMinistry" name="ministry"
                            required>
                            <option selected disabled value="">Eπιλογή</option>
                        </select>
                    </label>
                </div> <br />
                <div class="govgr-button-group">
                    <input type="submit" id="create_minister_submit" name="create_minister_submit"
                        class="govgr-btn govgr-btn-primary" value="Καταχώρηση" />
                </div>
            </form>
            <form id="editMinistry" style="display: none;" disabled>
                <h1 class="govgr-heading-xl">Επεξεργασία Υπουργείου</h1>
                <div class="govgr-field">
                    <label class="govgr-label" for="editMinistrySelect">
                        Υπουργείο:
                        <select class="govgr-select govgr-!-width-one-half" id="editMinistrySelect"
                            name="editMinistrySelect" required>
                            <option selected disabled value="">Eπιλογή</option>
                        </select>
                    </label>
                </div> <br />
                <div class="govgr-field">
                    <label class="govgr-label" for="newMinistryName"> <span>Όνομα Υπουργείου:</span>
                        <textarea class="govgr-input govgr-!-width-one-half" type="text" id="newMinistryName"
                            name="ministry" required minlength="10"></textarea>
                    </label>
                </div>
                <div class="govgr-button-group">
                    <input type="submit" id="edit_ministry_submit" name="edit_ministry_submit"
                        class="govgr-btn govgr-btn-primary" value="Επεξεργασία" />
                    <button id="deleteMinistry" class="govgr-btn govgr-btn-warning">Διαγραφή</button>
                </div>
            </form>
            <form id="editMinister" style="display: none;" disabled>
                <h1 class="govgr-heading-xl">Επεξεργασία Υπουργού</h1>
                <div class="govgr-field">
                    <label class="govgr-label" for="editMinister">
                        Υπουργός:
                        <select class="govgr-select govgr-!-width-one-half" id="selectMinister" name="selectMinister"
                            required>
                            <option selected disabled value="">Eπιλογή</option>
                        </select>
                    </label>
                    <div class="govgr-field">
                        <label class="govgr-label" for="editMinisterName"> <span>Ονοματεπώνυμο Υπουργού:</span>
                            <input class="govgr-input govgr-!-width-one-half" type="text" id="editMinisterName"
                                name="name" required minlength="10" />
                        </label>
                    </div>
                    <div class="govgr-field">
                        <label class="govgr-label" for="editMinisterRole"> <span>Ρόλος Υπουργού:</span>
                            <input class="govgr-input govgr-!-width-one-half" type="text" id="editMinisterRole"
                                name="role" />
                        </label>
                    </div>
                    <div class="govgr-field">
                        <label class="govgr-label" for="editMinisterResponsibility"> <span>Αρμοδιότητα:</span>
                            <input class="govgr-input govgr-!-width-one-half" type="text" id="responsibility"
                                name="responsibility" />
                        </label>
                    </div>
                    <label class="govgr-label" for="editMinisterMinistry">
                        Υπουργείο:
                        <select class="govgr-select govgr-!-width-one-half" id="editMinisterMinistry"
                            name="ministry" required>
                            <option selected disabled value="">Eπιλογή</option>
                        </select>
                    </label>
                </div> <br />
                <div class="govgr-button-group">
                    <input type="submit" id="edit_minister_submit" name="edit_minister_submit"
                        class="govgr-btn govgr-btn-primary" value="Επεξεργασία" />
                    <button id="deleteMinister" class="govgr-btn govgr-btn-warning">Διαγραφή</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>

        <style>
            .display {
                table-layout: fixed;
                overflow-wrap: break-word;
            }
        </style>
        <script type="text/javascript" src="/js/enums.js"></script>
        <script type="text/javascript" src="/js/nav_scripts.js"></script>
        <script>
            const userRole = "<%= user.role %>";
            setUserRestrictions(userRole);
            const isAdmin = '<%= user.isAdmin %>';
            const ministries = JSON.parse('<%- JSON.stringify(ministries) %>');
            const ministers = JSON.parse('<%- JSON.stringify(ministers) %>');
            for (i in ministries) {
                $('#ministerMinistry').append(
                    `<option value="${ministries[i]}">${ministries[i]}</option>`
                );
                $('#editMinistrySelect').append(
                    `<option value="${ministries[i]}">${ministries[i]}</option>`
                );
                $('#editMinisterMinistry').append(
                    `<option value="${ministries[i]}">${ministries[i]}</option>`
                );
            }

            for (i in ministers) {
                $('#selectMinister').append(
                    `<option value="${ministers[i].name}">${ministers[i].name}</option>`
                );
            }

            $('#create_ministry').on('click', () => {
                $('#createMinistry').prop('disabled', false);
                $('#createMinister').prop('disabled', true);
                $('#editMinistry').prop('disabled', true);
                $('#editMinister').prop('disabled', true);
                $('#createMinistry').show();
                $('#createMinister').hide();
                $('#editMinistry').hide();
                $('#editMinister').hide();
            });

            $('#create_minister').on('click', () => {
                $('#createMinistry').prop('disabled', true);
                $('#createMinister').prop('disabled', false);
                $('#editMinistry').prop('disabled', true);
                $('#editMinister').prop('disabled', true);
                $('#createMinistry').hide();
                $('#createMinister').show();
                $('#editMinistry').hide();
                $('#editMinister').hide();
            });

            $('#edit_minister').on('click', () => {
                $('#createMinistry').prop('disabled', true);
                $('#createMinister').prop('disabled', true);
                $('#editMinistry').prop('disabled', true);
                $('#editMinister').prop('disabled', false);
                $('#createMinistry').hide();
                $('#createMinister').hide();
                $('#editMinistry').hide();
                $('#editMinister').show();
            });

            $('#edit_ministry').on('click', () => {
                $('#createMinistry').prop('disabled', true);
                $('#createMinister').prop('disabled',);
                $('#editMinistry').prop('disabled', false);
                $('#editMinister').prop('disabled', true);
                $('#createMinistry').hide();
                $('#createMinister').hide();
                $('#editMinistry').show();
                $('#editMinister').hide();
            });

            $('#editMinistrySelect').on('change', () => {
                $('#newMinistryName').empty();
                const editMinistrySelectValue = $('#editMinistrySelect').val();
                $('#newMinistryName').val(editMinistrySelectValue);
            });

            $('#selectMinister').on('change', () => {
                // TODO: add AJAX call to get minister's data
                $('#editMinisterName').empty();
                let minister;                
                const ministerNameValue = $('#selectMinister').val();
                for (i in ministers) {
                    if (ministers[i].name === ministerNameValue) minister = ministers[i];
                }
                $('#editMinisterName').val(ministerNameValue);
                $('#editMinisterRole').val(minister.role);
                $('#responsibility').val(minister.responsibility);
                $('#editMinisterMinistry').val(minister.ministry);
            });

            $("#createMinistry").on("submit", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/ministries`,
                    data: $('#createMinistry').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'POST'
                });
            });

            $("#createMinister").on("submit", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/ministries/minister`,
                    data: $('#createMinister').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'POST'
                });
            });

            $("#editMinistry").on("submit", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/ministries`,
                    data: $('#editMinistry').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'PUT'
                });
            });

            $("#deleteMinistry").on("click", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/ministries`,
                    data: $('#editMinistry').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'DELETE'
                });
            });

            $("#deleteMinister").on("click", function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: `/user_views/ministries/minister`,
                    data: $('#editMinister').serialize(),
                    error: function (error) {
                        console.log(error);
                    },
                    success: function (data) {
                        window.location.href = "/user_views/dashboard";
                    },
                    type: 'DELETE'
                });
            });

            $("#editMinister").on("submit", function (ev) {
                    ev.preventDefault();
                    $.ajax({
                        url: `/user_views/ministries/minister`,
                        data: $('#editMinister').serialize(),
                        error: function (error) {
                            console.log(error);
                        },
                        success: function (data) {
                            window.location.href = "/user_views/dashboard";
                        },
                        type: 'PUT'
                    });
                });
        </script>
        <script type="text/javascript" src="/js/common_user_scripts.js"></script>
        </body>

        </html>