<%- include('../partials/head.ejs') %>
    <div class="">
        <!--<input type="button" name="back" class="back" value="Πίσω"/> <br/>--> <a href="/user_views/dashboard"
            class="govgr-back-link" id="back" name="back"> <svg class="govgr-caret--left" viewBox="0 0 24 24"
                aria-hidden="true">
                <path d="M18,22V2L6,12L18,22z" />
            </svg>
            Επιστροφή στην αρχική</a> <br />
        <div class="govgr-layout-wrapper govgr-layout-wrapper__full-height">
            <div class="govgr-width-container">
                <div class="govgr-main-wrapper">
                    <div class="govgr-grid-column-two-thirds">
                        <form>
                            <div id="errors" style="display: none;">
                                <!--Display validation errors here-->
                                <!-- <div class="alert alert-danger"> 
                    <ul id="alerts"></ul>                     
                </div>                 
            </div>   -->
                                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                                    role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close"></a> <strong>
                                        <ul id="alerts"></ul>
                                    </strong>
                                </div>
                            </div>
                            <h1 class="govgr-heading-xl">Τα στοιχεία μου</h1>
                            <div class="govgr-field">
                                <label class="govgr-label" for="fname"> <span>Όνομα χρήστη:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="text" id="fname"
                                        name="fname" placeholder="Όνομα χρήστη" value="<%= user.fname %>" />
                                </label>
                            </div>
                            <hr />
                            <div class="govgr-field">
                                <label class="govgr-label" for="lname"> <span>Επώνυμο χρήστη:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="text" id="lname"
                                        name="lname" placeholder="Επώνυμο χρήστη" value="<%= user.lname %>" />
                                </label>
                            </div>
                            <hr />
                            <div class="govgr-field">
                                <label class="govgr-label" for="taxid"> <span>ΑΦΜ:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="text" id="taxid"
                                        name="taxid" required minlength="9" maxlength="9" value="<%= user.taxId %>" />
                                </label>
                            </div>
                            <hr />
                            <div class="govgr-field">
                                <label class="govgr-label" for="username"> <span>Username:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="text" id="username"
                                        name="username" placeholder="Username" value="<%= user.username %>" />
                                </label>
                            </div>
                            <hr />
                            <div class="govgr-field">
                                <label class="govgr-label" for="password"> <span>Κωδικός Πρόσβασης:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="password" id="password"
                                        name="password" placeholder="********" minlength="8" />
                                </label>
                            </div>
                            <div class="govgr-field">
                                <label class="govgr-label" for="password"> <span>Νέος Κωδικός Πρόσβασης:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="password" size="20"
                                        id="new_password" name="new_password" minlength="8" placeholder="********"
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
                                        oninvalid="this.setCustomValidity('Ο κωδικός πρέπει να περιέχει τουλάχιστον ένα πεζό και ένα κεφαλαίο γράμμα, έναν αριθμό και ένα σύμβολο(!@#$%^&*_=+-).')"
                                        oninput="this.setCustomValidity('')" />
                                </label>
                            </div>
                            <div class="govgr-field">
                                <label class="govgr-label" for="password"> <span>Επανάληψη νέου κωδικού πρόσβασης
                                        χρήστη:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="password" size="20"
                                        id="password_repeat" name="password_repeat" minlength="8" placeholder="********"
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
                                        oninvalid="this.setCustomValidity('Ο κωδικός πρέπει να περιέχει τουλάχιστον ένα πεζό και ένα κεφαλαίο γράμμα, έναν αριθμό και ένα σύμβολο(!@#$%^&*_=+-).')"
                                        oninput="this.setCustomValidity('')" />
                                </label>
                                <div id="msg"></div>
                            </div>
                            <hr />
                            <div class="govgr-field">
                                <label class="govgr-label" for="agency">
                                    Φορέας:
                                    <select class="govgr-select govgr-!-width-two-thirds" id="agency" name="agency">
                                        <option value="" selected disabled>Eπιλογή</option>
                                    </select>
                                </label>
                            </div>
                            <div id="other_agency_div" style="display: none;">
                                <br>
                                <label class="govgr-label" for="password"> <span>Άλλος φορέας:</span>
                                    <input class="govgr-input govgr-!-width-one-half" type="text" id="other_agency"
                                        name="other_agency" value="<%= user.agency %>" />
                                </label>
                            </div>
                            <hr />
                            <div class="govgr-field">
                                <label class="govgr-label" for="role">
                                    Ρόλος:
                                    <select class="govgr-select govgr-!-width-two-thirds" id="role" name="role">
                                        <option selected disabled>Eπιλογή</option>
                                        <option
                                            value="Αρμόδιος επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων">
                                            Αρμόδιος
                                            επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων
                                        <option value="Βουλευτής">Βουλευτής</option>
                                        <option value="Βουλή">Βουλή</option>
                                        <option value="Γενικό Λογιστήριο του Κράτους">Γενικό Λογιστήριο του Κράτους
                                        </option>
                                        <option value="Γενικός Γραμματέας Νομικών και Κοινοβουλευτικών Θεμάτων">Γενικός
                                            Γραμματέας
                                            Νομικών και Κοινοβουλευτικών Θεμάτων
                                        </option>
                                        <option value="Γραφείο Καλής Νομοθέτησης (ΓΓΝΚΘ)">Γραφείο Καλής Νομοθέτησης
                                            (ΓΓΝΚΘ)</option>
                                        <option value="Διαχειριστής πλατφόρμας">Διαχειριστής πλατφόρμας</option>
                                        </option>
                                        <option value="Διεύθυνση Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)">Διεύθυνση
                                            Νομοπαρασκευαστικής
                                            Διαδικασίας (ΓΓΝΚΘ)
                                        </option>
                                        <option
                                            value="Επιτροπή Αξιολόγησης Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)">
                                            Επιτροπή Αξιολόγησης Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)
                                        </option>
                                        <option value="Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)">Νομοπαρασκευαστική Επιτροπή
                                            (ΓΓΝΚΘ)
                                        </option>
                                        <option value="Συντάκτης επισπεύδοντος Υπουργείου">Συντάκτης επισπεύδοντος
                                            Υπουργείου
                                        </option>
                                    </select>
                                </label>
                            </div> <br />
                            <div class="govgr-field isAdmin">
                                <fieldset class="govgr-fieldset">
                                    <legend for="isAdmin" role="heading" aria-level="1"
                                        class="govgr-fieldset__legend govgr-heading-l">
                                        Δικαιώματα Διαχείρισης
                                    </legend>
                                    <p class="govgr-hint">
                                        Ο χρήστης έχει δικαιώματα διαχείρισης: </p>
                                    <div class="govgr-checkboxes" id="isAdmin_checkbox">
                                        <% if(user.isAdmin){ %>
                                            <div class="govgr-checkboxes__item">
                                                <label class="govgr-label govgr-checkboxes__label">
                                                    <input class="govgr-checkboxes__input" type="checkbox" id="isAdmin"
                                                        name="isAdmin" value="isAdmin" checked />
                                                </label>
                                            </div>
                                            <% }else{ %>
                                                <div class="govgr-checkboxes__item">
                                                    <label class="govgr-label govgr-checkboxes__label">
                                                        <input class="govgr-checkboxes__input" type="checkbox"
                                                            id="isAdmin" name="isAdmin" value="isAdmin" />
                                                    </label>
                                                </div>
                                                <% } %>
                                    </div>
                                </fieldset>
                            </div>
                            <hr /> <br />
                            <input type="submit" id="edit_submit" name="edit_submit" class="govgr-btn govgr-btn-primary"
                                value="Επεξεργασία" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
        <script type="text/javascript" src="/js/nav_scripts.js"></script>
        <script type="text/javascript" src="/js/enums.js"></script>
        <script>
            const user = JSON.parse(' <%- JSON.stringify(user) %> ');
            const lname = user.lname;
            setUserRestrictions(user.role);
            const isAdmin = user.isAdmin;

            let username = $("#username").val();
            let validationErrors;
            $("form").on("submit", function (ev) {
                ev.preventDefault();

                if ($("#password_repeat").val() != $("#new_password").val()) {
                    ev.preventDefault();
                    validationErrors = '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><li>Οι νέοι κωδικοί δεν ταιριάζουν.</li>';
                    $('#alerts').empty();
                    $('#alerts').html(validationErrors);
                    $('#errors').show();
                    window.scrollTo(0, 0);
                } else {
                    $.ajax({
                        url: `/user_views/profile/${username}`,
                        data: $(this).serialize(),
                        error: function (error) {
                            let errors = JSON.parse(error.responseText);
                            $('#errors').show();
                            let alerts = '';
                            for (i in errors) {
                                alerts += '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' + "<li>" + errors[i].msg + "</li>";
                            }
                            $('#alerts').empty();
                            $('#alerts').html(alerts);
                            window.scrollTo(0, 0);
                        },
                        success: function (data) {
                            window.location = data.redirect
                        },
                        type: 'PUT'
                    });
                }

            });
            $("#back").on("click", function (ev) {
                window.location.href = "/user_views/dashboard";
            });

            ///////////////////////////////Handle ministries/////////////////////////////////////

            let ministries = JSON.parse(' <%- JSON.stringify(ministries) %> ');
            for (i in ministries) {
                $("#agency").append(`<option value="${ministries[i]}">${ministries[i]}</option>`);
            }
            $("#agency").append('<option value="Άλλος">Άλλος</option>');
            let ministryValue = "<%= user.agency %>";
            let roleValue = "<%= user.role %>";
            $("#agency").val(ministryValue ? ministryValue : $("#agency option:first").val());//if user is assigned a ministry, set dropdown accordingly, else set to first option
            $("#role").val(roleValue ? roleValue : $("#agency option:first").val());//if user is assigned a role, set dropdown accordingly, else set to first option

            if (!user.username) {
                $('#username').prop('disabled', true);
            }

            if (!user.password) {
                $('#password').prop('disabled', true);
                $('#new_password').prop('disabled', true);
                $('#password_repeat').prop('disabled', true);
            }

            $("#agency").on('change', () => {
                if ($("#agency").val() === 'Άλλος') {
                    $('#other_agency_div').show();
                } else {
                    $('#other_agency_div').empty();
                    $('#other_agency_div').hide();
                }
            })
            /////////////////////////////////////////////////////////////////////////////////////  

            if (user.isAdmin) {
                $("#isAdmin_checkbox").show();
                $("#isAdmin").prop('checked', true);
                $("#agency").prop('disabled', false);
                $("#role").prop('disabled', false);
            } else {
                $(".isAdmin").hide();
                $("#isAdmin_checkbox").hide();
                $("#agency").prop('disabled', true);
                $("#role").prop('disabled', true);
            }

            $("#password_repeat, #new_password").keyup(function () {
                passwordsMatch();
            });

            function passwordsMatch() {
                if (($("#password_repeat").val() == $("#new_password").val() && $("#new_password").val() != '')) {
                    $("#msg").html("Οι κωδικοί ταιριάζουν.").css("color", "green");
                } else if (!$("#password_repeat").val() && !$("#new_password").val()) {
                    $("#msg").empty();
                } else {
                    $("#msg").html("Οι κωδικοί δεν ταιριάζουν.").css("color", "red");
                }
            }
        </script>
        <script type="text/javascript" src="/js/common_user_scripts.js"></script>
        </body>

        </html>