<%- include('../partials/head.ejs') %>
  <div class=""> <br />
    <!--<input type="button" name="back" class="back" value="Πίσω"/> <br/>--> <a href="#" class="govgr-back-link"
      id="back" name="back"> <svg class="govgr-caret--left" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M18,22V2L6,12L18,22z" />
      </svg>
      Επιστροφή στην αρχική</a> <br />
    <div class="govgr-width-container">
      <table id="data" class="govgr-table--zebra govgr-table--dense govgr-table--dark govgr-table">
        <!-- <table id="data" class="display"> -->
        <thead class="govgr-table__head">
          <tr class="govgr-table__row">
            <th class="govgr-table__header" scope="col">Όνομα</th>
            <th class="govgr-table__header" scope="col">Επώνυμο</th>
            <th class="govgr-table__header" scope="col">Ρόλος</th>
            <th class="govgr-table__header" scope="col">Υπουργείο</th>
          </tr>
        </thead>
        <tbody class="govgr-table__body">
          <% for(var i=0; i<users.length; i++) {%>
            <!-- Should i replace taxId in url with username and lastname? -->
            <tr class="govgr-table__row" onclick="window.location.href='./edit_user/<%= users[i].taxId%>'">
              <td class="govgr-table__cell">
                <%= users[i].fname %>
              </td>
              <td class="govgr-table__cell">
                <%= users[i].lname %>
              </td>
              <td class="govgr-table__cell">
                <%= users[i].role %>
              </td>
              <td class="govgr-table__cell">
                <%= users[i].agency %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <%- include('../user_views/menus.ejs') %>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="/js/nav_scripts.js"></script>
    <script type="text/javascript" src="/js/enums.js"></script>
    <script>
      $("#back").on("click", function (ev) {
        window.location.href = "/user_views/dashboard";
      })
      const userRole = "<%= user.role %>";
      setUserRestrictions(userRole);
      const isAdmin = '<%= user.isAdmin %>';
    </script>
    <script type="text/javascript" src="/js/common_user_scripts.js"></script>