<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">      
              <br><br>  
              <table id="data" class="display">
                <thead>
                    <tr>
                      <th colspan="1">Όνομα</th>
                      <th colspan="1">Επώνυμο</th>
                      <th colspan="1">Username</th>
                      <th colspan="1">Ρόλος</th>
                      <th colspan="1">Υπουργείο</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for(var i=0; i<users.length; i++) {%>
                    <tr onclick="window.location.href='./edit_user/<%= users[i].user_id %>'">
                      <td style="text-align:center" ><%= users[i].fname %></td>
                      <td style="text-align:center" ><%= users[i].lname %></td>
                      <td style="text-align:center" ><%= users[i].username %></td>
                      <td style="text-align:center" ><%= users[i].rolos %></td>
                      <td style="text-align:center" ><%= users[i].ypoyrgeio %></td>
                    </tr>
                    <% } %>
                    
                </tbody>
            </table>
            </div>
          
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </div>

  <style>
   a {
      color: blue;
    }
  </style>

  <script>
    $(document).ready( function () {
        $('#data').DataTable();
    } );
  </script>
</body>
</html>