<%- include('../partials/head.ejs') %>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
        <br><br>
        <input type="button" name="back" class="back" value="Πίσω" />
        <br><br>
        <table id="data" class="display">
          <thead>
            <tr>
              <th>Όνομα</th>
              <th>Επώνυμο</th>
              <th>Username</th>
              <th>Ρόλος</th>
              <th>Υπουργείο</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<users.length; i++) {%>
              <tr onclick="window.location.href='./edit_user/<%= users[i].username %>'">
                <td style="text-align:center">
                  <%= users[i].fname %>
                </td>
                <td style="text-align:center">
                  <%= users[i].lname %>
                </td>
                <td style="text-align:center">
                  <%= users[i].username %>
                </td>
                <td style="text-align:center">
                  <%= users[i].rolos %>
                </td>
                <td style="text-align:center">
                  <%= users[i].ypoyrgeio %>
                </td>
              </tr>
              <% } %>

          </tbody>
        </table>
        <%- include('../user_views/menus.ejs') %>
      </div>

    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
    </div>

    <style>
      a {
        color: blue;
      }

      .display {
        table-layout: fixed;
        overflow-wrap: break-word;
      }

      .exit,
      .back {
        font-size: 16px;
      }
    </style>

    <script>
      $(document).ready(function () {
        $('#data').DataTable();
      });
      $(".back").on("click", function (ev) {
        window.location.href = "/user_views/dashboard";
      })
      $("#admin_menu").show();

      var user_role = '<%= current_user %>';

      if (user_role === 'Βουλευτής') {
        $("#create_analysis").children(":not(.vouleftis):not(.header)").hide();//hide all children elements without class vouleftis
      } else if (user_role === 'Συντάκτης επισπεύδοντος Υπουργείου' || user_role == 'Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)') {
        $("#create_analysis").children(".vouleftis").hide();//hide all children elements with class vouleftis
      } else {
        $("#create_analysis").children().hide();//hide all children elements
      }

    </script>
    </body>

    </html>