<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">      
              <br><br>  
              <table id="data" class="display">
                <thead>
                    <tr>
                      <th colspan="1">Όνομα</th>
                      <th colspan="1">Επώνυμο</th>
                      <th colspan="1">Username</th>
                      <th colspan="1">Ρόλος</th>
                      <th colspan="1">Υπουργείο</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for(var i=0; i<users.length; i++) {%>
                    <tr onclick="window.location.href='./edit_user/<%= users[i].username %>'">
                      <td style="text-align:center" ><%= users[i].fname %></td>
                      <td style="text-align:center" ><%= users[i].lname %></td>
                      <td style="text-align:center" ><%= users[i].username %></td>
                      <td style="text-align:center" ><%= users[i].rolos %></td>
                      <td style="text-align:center" ><%= users[i].ypoyrgeio %></td>
                    </tr>
                    <% } %>
                    
                </tbody>
            </table>
            </div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4">
              <div class="jss111">
                <div class="jss274">
                  <h3 class="jss273 jss178 jss181">Χρήσιμοι Σύνδεσμοι</h3>
                  <ul class="jss275" id="progressbar">
                    <h4 class="jss276 jss178 jss181">Διαχείριση Χρηστών:</h4>
                    <li><a href="./create_user">Δημιουργία νέου χρήστη</a></li>
                    <li><a href="./search_user">Επεξεργασία στοιχείων χρήστη</a></li>
                    <li><a href="./user_profile">Τα στοιχεία μου</a></li>
                  </ul>
                  <ul>
                    <h4 class="jss276 jss178 jss181">Διαχείριση Εκθέσεων</h4>
                    <li><a href="./summaries">Συνοπτικά στοιχεία</a></li>
                    <li><a href="./history">Ιστορικό</a></li>
                  </ul>
                  </ul>
                </div>
              </div>
            </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </div>
  
  <style>
   a {
      color: blue;
    }
  </style>

  <script>
    $(document).ready( function () {
        $('#data').DataTable();
    } );
  </script>
</body>
</html>