<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
  <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
      <br><br>
      <input type="button" name="back" class="back" value="Πίσω" />
      <br><br>
      <table id="data" class="display">
        <thead>
          <tr>
            <th>Κατηγορία</th>
            <th>Εκθέσεις</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>Προσχέδιο νόμου</td>
            <td></td>
          </tr>
          <tr>
            <td>Κατευθυντήριες γραμμές</td>
            <td></td>
          </tr>
          <tr>
            <td>Επείγοντα και κατεπείγοντα νομοσχέδια</td>
            <td></td>
          </tr>
          <tr>
            <td>Πρόταση νόμου</td>
            <td></td>
          </tr>
          <tr>
            <td>Κύρωση διεθνών συμβάσεων</td>
            <td></td>
          </tr>
          <tr>
            <td>Τροπολογίες (Υπουργών και Βουλευτών)</td>
            <td></td>
          </tr>

        </tbody>
        <tr>
          <td><b>Σύνολο</b></td>
          <td><%= entries %></td>
        </tr>
      </table>
      <%- include('../user_views/menus.ejs') %>

    </div>
  </div>
</div>
</div>
<%- include('../partials/footer.ejs') %>
</div>

<style>
  a {
    color: blue;
  }

  .exit, .back {
    font-size: 16px;
  }
</style>

<script>
  $(document).ready(function () {
    $('#data').DataTable();
  });
  
  $(".back").on("click", function (ev) {
    window.location.href = "/user_views/admin_dashboard";
  })
  $("#admin_menu").show();
  
  var user_role = '<%= user.rolos %>';
  if (user_role == 'Βουλευτής') {
    document.getElementById("admin_ekthesi").children[1].style.display = "none";
    document.getElementById("admin_ekthesi").children[2].style.display = "none";
    document.getElementById("admin_ekthesi").children[3].style.display = "none";
    document.getElementById("admin_ekthesi").children[4].style.display = "none";
    document.getElementById("admin_ekthesi").children[6].style.display = "none";
    document.getElementById("admin_ekthesi").children[7].style.display = "none";
  } else if (user_role == 'Συντάκτης επισπεύδοντος Υπουργείου' || user_role == 'Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)') {
      document.getElementById("admin_ekthesi").children[5].style.display = "none";
      document.getElementById("admin_ekthesi").children[8].style.display = "none";
  } else if (user_role == 'Βουλή' || user_role == 'Αρμόδιος επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων') {
    document.getElementById("admin_ekthesi").children[0].style.display = "none";
    document.getElementById("admin_ekthesi").children[1].style.display = "none";
    document.getElementById("admin_ekthesi").children[2].style.display = "none";
    document.getElementById("admin_ekthesi").children[3].style.display = "none";
    document.getElementById("admin_ekthesi").children[4].style.display = "none";
    document.getElementById("admin_ekthesi").children[5].style.display = "none";
    document.getElementById("admin_ekthesi").children[6].style.display = "none";
    document.getElementById("admin_ekthesi").children[7].style.display = "none";
    document.getElementById("admin_ekthesi").children[8].style.display = "none";
  } 
</script>
</body>

</html>