<%- include('../partials/head.ejs') %>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
        <br><br>

        <% if( typeof errors !=="undefined" ) { for (i in errors) {%>
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>
              <%= errors[i].msg%>
            </strong>
          </div>
          <% } } %>

            <p class="MuiTypography-root jss211 MuiTypography-body1">
              Ως χρήστης του συστήματος μπορείτε, επιλέγοντας τον αντίστοιχο σύνδεσμο, να: <br>
            <ul>
              <li>Διαχειριστείτε τα στοιχεία του προφίλ σας</li>
              <li>Να ξεκινήσετε μια νέα έκθεση</li>
              <li>Να δείτε τις καταχωρημένες εκθέσεις σε κάθε κατηγορία και να συνεχίσετε μια θεση που έχετε αποθηκεύσει
                προσωρινά</li>
            </ul>
            </p>

            <%- include('../user_views/menus.ejs') %>

      </div>
    </div>
  </div>
  <br><br>
  <%- include('../partials/footer.ejs') %>
    </div>

    <style>
      a {
        color: blue;
      }

      .exit {
        font-size: 16px;
      }
    </style>

    <script>
      $(".exit").on("click", function (ev) {

        window.location.href = "/login"

      })
      
      $("#user_menu").show();

      var user_role = '<%= user.rolos %>';
      if (user_role == 'Βουλευτής') {
        $("#users_ekthesi").children(":not(.vouleftis)").hide();//hide all children elements without class vouleftis
      } else if (user_role == 'Συντάκτης επισπεύδοντος Υπουργείου' || user_role == 'Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)') {
        $("#users_ekthesi").children(".vouleftis").hide();
      } else {
        $("#users_ekthesi").children().hide();
      }

    </script>
    </body>

    </html>