<fieldset>
    <h2>Β. Έκθεση του άρθρου 75 παρ. 1 και 2 του Συντάγματος</h2>
    <br>
    <h3>Έκθεση Γενικού Λογιστηρίου του Κράτους</h3>
    <br><br>
    <div class="checkbox-group form-group row">
        <label for="ekthesi_glk" class="col-sm-8 col-form-label">Απαιτείται η Έκθεση του Γενικού Λογιστηρίου του Κράτους</label>
        <input class="col-sm-2 form-check-input position-static" type="checkbox" id="ekthesi_glk" name="ekthesi_glk" value="<%= data.ekthesi_glk %>">
    </div>
    <br>
    <div class="form-group">
        <label for="field_15_ypoyrgeio">Στο σχέδιο νόμου του Υπουργείου</label>
        <textarea class="form-control" id="field_15_ypoyrgeio" name="field_15_ypoyrgeio" rows="1" disabled><%= data.field_15_ypoyrgeio %></textarea>
    </div>
    <div class="form-group">
        <label for="field_15_sxedio_nomou">ή επί τροπολογίας στο σχέδιο νόμου του Υπουργείου</label>
        <textarea class="form-control" id="field_15_sxedio_nomou" name="field_15_sxedio_nomou" rows="1" disabled><%= data.field_15_sxedio_nomou %></textarea>
    </div>
    <div class="form-group">
        <label for="field_15_rythmiseis">15.Συνοπτική ανάλυση των άρθρων της αξιολογούμενης ρύθμισης</label>
        <textarea class="form-control" id="field_15_rythmiseis" name="field_15_rythmiseis" rows="5" disabled><%= data.field_15_rythmiseis %></textarea>
    </div>
    <br>
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>
</fieldset>

<fieldset>
    <h3>16.Οικονομικά αποτελέσματα επί του Κρατικού Προϋπολογισμού ή/και επί του
        προϋπολογισμού του/των αρμόδιου/ων φορέα/ων</h3>
    <br>

    <div class="form-group">
        <h4>Από τις προτεινόμενες διατάξεις προκαλούνται τα ακόλουθα οικονομικά αποτελέσματα:</h4>
    </div>
    <div class="form-group">
        <label for="field_16_kratikos_proypologismos">Επί του Κρατικού Προϋπολογισμού:</label>
        <textarea class="form-control" id="field_16_kratikos_proypologismos" name="field_16_kratikos_proypologismos" rows="5" disabled><%= data.field_16_kratikos_proypologismos %></textarea>
    </div>
    <div class="form-group">
        <label for="field_16_proypologismos_forea">Επί του Προϋπολογισμού του/των αρμόδιου/ων φορέα/ων:</label>
        <textarea class="form-control" id="field_16_proypologismos_forea" name="field_16_proypologismos_forea" rows="5" disabled><%= data.field_16_proypologismos_forea %></textarea>
    </div>
    <br>
        <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
        <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα"/>
</fieldset>
