<fieldset id="diavouleusi_nomoparaskeuastikis" class="field-22">

    <h2>Ε. Έκθεση διαβούλευσης</h2>
    <br>
    <div class="form-group">
        <h3>22.Διαβούλευση κατά τη διάρκεια της νομοπαρασκευαστικής διαδικασίας από την έναρξη κατάρτισης της αξιολογούμενης ρύθμισης μέχρι την υπογραφή από τους συναρμόδιους Υπουργούς</h3>
        <br>
            <label id="field_22_sinergasia_ypoyrgeiwn_label" class="field-22-label required" for="field_22_sinergasia_ypoyrgeiwn">Συνεργασία με άλλα υπουργεία / υπηρεσίες</label>
            <textarea class="form-control" id="field_22_sinergasia_ypoyrgeiwn" name="field_22_sinergasia_ypoyrgeiwn" rows="5" onkeypress="wordsCounter('field_22_sinergasia_ypoyrgeiwn','words22_1',150, event)" onpaste="wordsCounter('field_22_sinergasia_ypoyrgeiwn','words22_1',150, event)"><%= data.field_22_sinergasia_ypoyrgeiwn %></textarea>
        <p style="float: right;">Λέξεις: <span id="words22_1" ></span> /150</p> 
    </div>
    <div>
        <label id="field_22_sinergasia_forewn_arxwn_label" class="required field-22-label" for="field_22_sinergasia_forewn_arxwn">Συνεργασία με κοινωνικούς φορείς / Ανεξάρτητες Αρχές</label>
        <textarea class="form-control" id="field_22_sinergasia_forewn_arxwn" name="field_22_sinergasia_forewn_arxwn" rows="5" onkeypress="wordsCounter('field_22_sinergasia_forewn_arxwn','words22_2',150, event)" onpaste="wordsCounter('field_22_sinergasia_forewn_arxwn','words22_2',150, event)"><%= data.field_22_sinergasia_forewn_arxwn %></textarea>
        <p style="float: right;">Λέξεις: <span id="words22_2" ></span> /150</p> 
    </div>

    <div>
        <label id="field_22_diethnis_diavouleusi_label" class="required field-22-label" for="field_22_diethnis_diavouleusi">Διεθνής διαβούλευση</label>
        <textarea class="form-control" id="field_22_diethnis_diavouleusi" name="field_22_diethnis_diavouleusi" rows="5" onkeypress="wordsCounter('field_22_diethnis_diavouleusi','words22_3',150, event)" onpaste="wordsCounter('field_22_diethnis_diavouleusi','words22_3',150, event)"><%= data.field_22_diethnis_diavouleusi %></textarea>
        <p style="float: right;">Λέξεις: <span id="words22_3" ></span> /150</p> 
    </div>
    <br>
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>

</fieldset>

<fieldset id="sxolia_diavouleusis" class = 'optional mostly-optional'>

    <h3>23.Σχόλια στο πλαίσιο της διαβούλευσης μέσω της ηλεκτρονικής πλατφόρμας www.opengov.gr (ηλεκτρονική επισύναψη της έκθεσης) </h3>
    <br>
    <input type="file" id="field_23_upload" name="field_23_upload" accept=".pdf" multiple> 
    <br>    
    <table id="uploads_23" class="display">
        <thead>
            <tr>
                <th colspan="1">Προηγούμενες αναρτήσεις:</th>
            </tr>
        </thead>
        <tbody>

            <% if( data.field_23_upload && data.field_23_upload.length ) { 
                for (var i=0; i< data.field_23_upload.length;i++) {    %>
            <tr>
                <td>
                    <a href="/public/uploads/<%= data.field_23_upload[i] %> "><%= data.field_23_upload[i] %></a>
                </td>
            </tr>
            <%  }
            }%>            

        </tbody>
    </table>    
    <br><br>
    <br><br>
        
    <label id="field_23_arxes_label" class="required mostly-optional-label optional-label">Επί των γενικών αρχών («επί της αρχής») της αξιολογούμενης ρύθμιση</label>
    <br>   
    <label id="field_23_arxes_symmetasxontes_label" class="required field-23-label" for="field_23_arxes_symmetasxontes">Αριθμός συμμετασχόντων</label>
    <textarea class="form-control" id="field_23_arxes_symmetasxontes" name="field_23_arxes_symmetasxontes" placeholder="Αριθμός συμμετασχόντων" rows="3" onkeypress="wordsCounter('field_23_arxes_symmetasxontes','words23_1',250, event)" onpaste="wordsCounter('field_23_arxes_symmetasxontes','words23_1',250, event)"><%= data.field_23_arxes_symmetasxontes %></textarea>
    <p style="float: right;">Λέξεις: <span id="words23_1" ></span> /250</p>
    <label id="field_23_arxes_sxolia_yiothetithikan_label" class="required field-23-label" for="field_23_arxes_sxolia_yiothetithikan">Σχόλια που υιοθετήθηκαν</label>
    <textarea class="form-control" id="field_23_arxes_sxolia_yiothetithikan" name="field_23_arxes_sxolia_yiothetithikan" placeholder="Σχόλια που υιοθετήθηκαν" rows="3" onkeypress="wordsCounter('field_23_arxes_sxolia_yiothetithikan','words23_2',250, event)" onpaste="wordsCounter('field_23_arxes_sxolia_yiothetithikan','words23_2',250, event)"><%= data.field_23_arxes_sxolia_yiothetithikan %></textarea> 
    <p style="float: right;">Λέξεις: <span id="words23_2" ></span> /250</p>
    <label id="field_23_arxes_sxolia_den_yiothetithikan_label" class="required field-23-label" for="field_23_arxes_sxolia_den_yiothetithikan">Σχόλια που δεν υιοθετήθηκαν (συμπεριλαμβανομένης επαρκούς αιτιολόγησης)</label>
    <textarea class="form-control" id="field_23_arxes_sxolia_den_yiothetithikan" name="field_23_arxes_sxolia_den_yiothetithikan" placeholder="Σχόλια που δεν υιοθετήθηκαν (συμπεριλαμβανομένης επαρκούς αιτιολόγησης)" rows="3" onkeypress="wordsCounter('field_23_arxes_sxolia_den_yiothetithikan','words23_3',250, event)" onpaste="wordsCounter('field_23_arxes_sxolia_den_yiothetithikan','words23_3',250, event)"><%= data.field_23_arxes_sxolia_den_yiothetithikan %></textarea>
    <p style="float: right;">Λέξεις: <span id="words23_3" ></span> /250</p>
    <br>
    
    <label id="field_23_arthra_label" class="required mostly-optional-label optional-label">Επί των άρθρων της αξιολογούμενης ρύθμισης</label>
    <br>   
    <label id="field_23_arthra_symmetasxontes_label" class="required field-23-label" for="field_23_arthra_symmetasxontes">Αριθμός συμμετασχόντων</label>
    <textarea class="form-control" id="field_23_arthra_symmetasxontes" name="field_23_arthra_symmetasxontes" placeholder="Αριθμός συμμετασχόντων" rows="3" onkeypress="wordsCounter('field_23_arthra_symmetasxontes','words23_4',250, event)" onpaste="wordsCounter('field_23_arthra_symmetasxontes','words23_4',250, event)"><%= data.field_23_arthra_symmetasxontes %></textarea>  
    <p style="float: right;">Λέξεις: <span id="words23_4" ></span> /250</p>
    <label id="field_23_arthra_sxolia_yiothetithikan_label" class="required field-23-label" for="field_23_arthra_sxolia_yiothetithikan">Σχόλια που υιοθετήθηκαν</label>
    <textarea class="form-control" id="field_23_arthra_sxolia_yiothetithikan" name="field_23_arthra_sxolia_yiothetithikan" placeholder="Σχόλια που υιοθετήθηκαν" rows="3" onkeypress="wordsCounter('field_23_arthra_sxolia_yiothetithikan','words23_5',250, event)" onpaste="wordsCounter('field_23_arthra_sxolia_yiothetithikan','words23_5',250, event)"><%= data.field_23_arthra_sxolia_yiothetithikan %></textarea> 
    <p style="float: right;">Λέξεις: <span id="words23_5" ></span> /250</p>
    <label id="field_23_arthra_sxolia_den_yiothetithikan_label" class="required field-23-label" for="field_23_arthra_sxolia_den_yiothetithikan">Σχόλια που δεν υιοθετήθηκαν (συμπεριλαμβανομένης επαρκούς αιτιολόγησης)</label>
    <textarea class="form-control" id="field_23_arthra_sxolia_den_yiothetithikan" name="field_23_arthra_sxolia_den_yiothetithikan" placeholder="Σχόλια που δεν υιοθετήθηκαν (συμπεριλαμβανομένης επαρκούς αιτιολόγησης)" rows="3" onkeypress="wordsCounter('field_23_arthra_sxolia_den_yiothetithikan','words23_6',250, event)" onpaste="wordsCounter('field_23_arthra_sxolia_den_yiothetithikan','words23_6',250, event)"><%= data.field_23_arthra_sxolia_den_yiothetithikan %></textarea>
    <p style="float: right;">Λέξεις: <span id="words23_6" ></span> /250</p>
    <br> 
    

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα"/>
    
</fieldset>