<fieldset id="ekthesi_genikou_logistiriou" class = 'glk mostly-optional'>
    <h2>Β. Έκθεση Γενικού Λογιστηρίου του Κράτους (άρθρο 75 παρ. 1 ή 2 του Συντάγματος)</h2>
    <br><br>
    <div class="checkbox-group form-group row">
        <label for="ekthesi_glk" class="glk-required mostly-optional-label col-sm-8 col-form-label">Απαιτείται η Έκθεση του Γενικού Λογιστηρίου του Κράτους</label>
        <input class="col-sm-2 form-check-input position-static" type="checkbox" id="ekthesi_glk" name="ekthesi_glk" >
    </div>
    <br>
    <div class="form-group">
        <label id="field_15_sxedio_nomou_label" for="field_15_sxedio_nomou" class="mostly-optional-label required">Στο σχέδιο νόμου ή στην τροπολογία επί του σχεδίου νόμου</label>
        <textarea class="form-control" id="field_15_sxedio_nomou" name="field_15_sxedio_nomou" placeholder="Σχέδιο νόμου" rows="1"  ><%= data.field_15_sxedio_nomou %></textarea>
    </div>
    <div class="form-group">
        <label id="field_15_ypoyrgeio_label" for="field_15_ypoyrgeio" class="mostly-optional-label required">του Υπουργείου</label>
        <textarea class="form-control" id="field_15_ypoyrgeio" name="field_15_ypoyrgeio" rows="1" placeholder="Υπουργείο" ><%= data.field_15_ypoyrgeio %></textarea>
    </div>
    <div class="form-group">
        <h3><label id="field_15_rythmiseis_label" for="field_15_rythmiseis" class="mostly-optional-label required">15.Συνοπτική ανάλυση των άρθρων της αξιολογούμενης ρύθμισης</label></h3>
        <textarea class="form-control" id="field_15_rythmiseis" name="field_15_rythmiseis" rows="5" placeholder="Με τις διατάξεις του υπόψη νομοσχεδίου (ή τροπολογίας στο σχέδιο νόμου) ρυθμίζονται θέματα αρμοδιότητας του Υπουργείου" ><%= data.field_15_rythmiseis %></textarea>
    </div>
    <br>
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>
</fieldset>

<fieldset id="oikonomika_apotelesmata_proupologismwn" class = 'glk mostly-optional'>
    <h3>16.Οικονομικά αποτελέσματα επί του Κρατικού Προϋπολογισμού ή/και επί του
        προϋπολογισμού του/των αρμόδιου/ων φορέα/ων<div class="index_budget"></div></h3>
    <br>

    <div class="form-group">
        <h4>Από τις προτεινόμενες διατάξεις προκαλούνται τα ακόλουθα οικονομικά αποτελέσματα:</h4>
    </div>
    <div class="form-group">
        <label id="field_16_kratikos_proypologismos_label" for="field_16_kratikos_proypologismos" class="mostly-optional-label required">Επί του Κρατικού Προϋπολογισμού</label>
        <textarea class="form-control" id="field_16_kratikos_proypologismos" name="field_16_kratikos_proypologismos" rows="5"  ><%= data.field_16_kratikos_proypologismos %></textarea>
    </div>
    <div class="form-group">
        <label id="field_16_proypologismos_forea_label" for="field_16_proypologismos_forea" class="mostly-optional-label required">Επί του Προϋπολογισμού του/των αρμόδιου/ων φορέα/ων</label>
        <textarea class="form-control" id="field_16_proypologismos_forea" name="field_16_proypologismos_forea" rows="5"  ><%= data.field_16_proypologismos_forea %></textarea>
    </div>
    <br>
    <table class="table " id="field_16_table">
        <thead class="thead ">
            <tr> 
                <th colspan="3" ><label id="table_16_label" class="mostly-optional-label required">Ο/Η ΥΠΟΓΡΑΦΩΝ/ΟΥΣΑ ΓΕΝΙΚΟΣ/Η ΔΙΕΥΘΥΝΤΗΣ/ΡΙΑ (Όνομα Επώνυμο Ιδιότητα)</label></th>
            </tr>  
            <tr>
                <th colspan="1">Όνομα</th>
                <th colspan="1">Επώνυμο</th>
                <th colspan="1">Ημερομηνία</th>
           </tr>
        </thead>
        <tbody id="tbody_16">
            <tr>
                <td> 
                    <textarea class="form-control" id="field_16_genikos_onoma" name="field_16_genikos_onoma" placeholder="Όνομα" rows="1"><%= data.field_16_genikos_onoma %></textarea> 
                </td>
                <td> 
                    <textarea class="form-control" id="field_16_genikos_epitheto" name="field_16_genikos_epitheto" placeholder="Επώνυμο" rows="1"><%= data.field_16_genikos_epitheto %></textarea> 
                </td>
                <td> 
                    <textarea class="form-control" id="field_16_genikos_date" name="field_16_genikos_date" placeholder="Ημερομηνία" rows="1"><%= data.field_16_genikos_date %></textarea> 
                </td>
            </tr>
        </tbody>
      </table>
    <br>

    <% var pdf_name = data.title.replace(/\s+/g, ''); %>
    <p id="glk_pdf_download" class="glk-pdf-download action-button" style="display: none;">Το τελευταίο αποθηκευμένο PDF βρίσκεται <a href="/pdf_exports/glk_<%=pdf_name%>.pdf">εδώ</a>.
    </p>  
    <br><br>  

    <input type="button" id="glkPdfExport" name="glkPdfExport" class="glk-export-pdf action-button-previous" style="float: right;"
        value="Εξαγωγή σε PDF" />
    <br><br>

    <label class="field-16-label" id="field_16_upload_label" for="field_16_upload"><h3>Επισύναψη υπογεγραμμένου pdf </h3></label><div class="index_field21"></div>
    <input type="file" class="required" id="field_16_upload" name="field_16_upload" accept=".pdf" > 
    <br>  

    <table id="uploads_16" class="display">
        <thead>
            <tr>
                <th colspan="1">Προηγούμενες αναρτήσεις:</th>
            </tr>
        </thead>
        <tbody>

            <% if( data.field_16_upload && data.field_16_upload.length ) { for (var i=0; i< data.field_16_upload.length;i++) { %>
                <tr>
                    <td>
                        <a href="/uploads/<%= data.field_16_upload[i] %> ">
                            <%= data.field_16_upload[i] %>
                        </a>
                    </td>
                </tr>
                <% } }%>

        </tbody>
    </table>  

    <br>
        <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
        <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα"/>
</fieldset>
