<fieldset id="oikonomika_apotelesmata" class = 'mostly-optional'>
    <h2>Γ. Ειδική Έκθεση (άρθρο 75 παρ. 3 του Συντάγματος)</h2>
    <br>
    <div class="form-group">
        <label for="field_17_ypoyrgeio" class="mostly-optional-label required">Στο σχέδιο νόμου του Υπουργείου</label>
        <textarea class="form-control" id="field_17_ypoyrgeio" name="field_17_ypoyrgeio" rows="1"><%= data.field_17_ypoyrgeio %></textarea>
    </div>    
    <div class="form-group">
        <label for="field_17_sxedio_nomou" class="mostly-optional-label required">ή στην τροπολογία επί του σχεδίου νόμου του Υπουργείου</label>
        <textarea class="form-control" id="field_17_sxedio_nomou" name="field_17_sxedio_nomou" rows="1"><%= data.field_17_sxedio_nomou %></textarea>
    </div>
    <div class="form-group">
        <label for="field_17_oikonomika_apotelesmata" class="mostly-optional-label required">17.Οικονομικά αποτελέσματα:</label>
        <textarea class="form-control" id="field_17_oikonomika_apotelesmata" name="field_17_oikonomika_apotelesmata" rows="10"><%= data.field_17_oikonomika_apotelesmata %></textarea>
    </div>
    <table class="table " id="field_17_table">
        <thead class="thead ">
            <tr> 
                <th colspan="4" ><label id="table_17_label">ΟΙ ΥΠΟΓΡΑΦΟΝΤΕΣ ΥΠΟΥΡΓΟΙ</label></th>
            </tr>  
            <tr>
                <th colspan="1">Όνομα</th>
                <th colspan="1">Επώνυμο</th>
                <th colspan="1">Ιδιότητα</th>
           </tr>
        </thead>
        <tbody id="tbody_17">
          
            <% if(data.field_17_onoma != null){
                for (var i = 0; i < data.field_17_onoma.length; i++) { %>
            <tr id="table_17_row<%=i%>">
                <td>
                    <textarea class="form-control" id="field_17_onoma<%=i%>"
                        name="field_17_onoma<%=i%>" rows="4"><%= Object.values(data.field_17_onoma[i]) %></textarea>
                </td>
                <td>
                    <textarea class="form-control" id="field_17_epitheto<%=i%>" name="field_17_epitheto<%=i%>"
                        rows="4"><%= Object.values(data.field_17_epitheto[i]) %></textarea>
                </td>
                <td>
                    <textarea class="form-control" id="field_17_idiotita<%=i%>"
                        name="field_17_idiotita<%=i%>" rows="4"><%= Object.values(data.field_17_idiotita[i]) %></textarea>
                </td>                
            </tr>
            <% } 
              } %>

        </tbody>
      </table>
      <input type="button" id="add_row_table_17" name="add_row_table_17" class="float-right" value="Επιπλέον σειρά" />
      <br><br><br>
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα"/>
</fieldset>


