<fieldset id="sunafeis_diatakseis" class="field-24 vouleutes">
    <h2 class="govgr-heading-l">Στ. Έκθεση νομιμότητας</h2> <br />
    <div class="form-group">
        <label id="field_24_label" class="govgr-label-row required field-24-label vouleutes-label"
            for="field_24">24.Συναφείς συνταγματικές διατάξεις</label>
        <textarea class="govgr-textarea " id="field_24" name="field_24"
            rows="10"><%= data.field_24 %></textarea>
    </div> <br />
    <div class="govgr-button-group">
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta previous action-button-previous" name="previous">
            <svg viewBox="0 0 24 24" class="govgr-arrow--left" focusable="false" aria-hidden="true">
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
            </svg> Προηγούμενη φόρμα
        </button>
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta next action-button" name="next">
            Επόμενα πεδία
            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
            </svg>
        </button>
    </div>
</fieldset>
<fieldset id="enwsiako_dikaio" class="field-25 vouleutes">
    <h3 class="govgr-heading-m">25.Ενωσιακό δίκαιο </h3>
    <div class="index_field25"></div> <br />
    <div class="govgr-checkboxes">
        <div class="govgr-checkboxes__item">
            <label id="field_25_dikaio_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-25-label vouleutes-label required">Πρωτογενές
                ενωσιακό δίκαιο (συμπεριλαμβανομένου του Χάρτη Θεμελιωδών Δικαιωμάτων)</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_25_dikaio" name="field_25_dikaio" />
        </div>
        <div id="dikaio_wrap" class="form-group" style="display:none;">
            <label for="field_25_dikaio_comment" class="govgr-label-row field-25-label required">Συμπληρώστε:</label>
            <textarea class="govgr-textarea " id="field_25_dikaio_comment" name="field_25_dikaio_comment"
                rows="3"><%= data.field_25_dikaio_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label id="field_25_kanonismos_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-25-label vouleutes-label required">Κανονισμός</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_25_kanonismos"
                name="field_25_kanonismos" />
        </div>
        <div id="kanonismos_wrap" class="form-group" style="display:none;">
            <label for="field_25_kanonismos_comment"
                class="govgr-label-row field-25-label vouleutes-label required">Συμπληρώστε:</label>
            <textarea class="govgr-textarea " id="field_25_kanonismos_comment"
                name="field_25_kanonismos_comment" rows="3"><%= data.field_25_kanonismos_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label id="field_25_odigia_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-25-label required ">Οδηγία</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_25_odigia" name="field_25_odigia" />
        </div>
        <div id="odigia_wrap" class="form-group" style="display:none;">
            <label for="field_25_odigia_comment" class="govgr-label-row field-25-label required">Συμπληρώστε:</label>
            <textarea class="govgr-textarea " id="field_25_odigia_comment" name="field_25_odigia_comment"
                rows="3"><%= data.field_25_odigia_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label id="field_25_apofasi_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-25-label required">Απόφαση</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_25_apofasi" name="field_25_apofasi" />
        </div>
        <div id="apofasi_wrap" class="form-group" style="display:none;">
            <label for="field_25_apofasi_comment" class="govgr-label-row required field-25-label">Συμπληρώστε:</label>
            <textarea class="govgr-textarea " id="field_25_apofasi_comment" name="field_25_apofasi_comment"
                rows="3"><%= data.field_25_apofasi_comment %></textarea>
        </div> <br />
    </div>
    <div class="govgr-button-group">
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta previous action-button-previous" name="previous">
            <svg viewBox="0 0 24 24" class="govgr-arrow--left" focusable="false" aria-hidden="true">
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
            </svg> Προηγούμενα πεδία
        </button>
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta next action-button" name="next">
            Επόμενα πεδία
            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
            </svg>
        </button>
    </div>
</fieldset>
<fieldset id="diatakseis_diethnwn_sumfwniwn" class="field-26 vouleutes">
    <h3 class="govgr-heading-m">26.Συναφείς διατάξεις διεθνών συνθηκών ή συμφωνιών </h3>
    <div class="index_field26"></div> <br />
    <div class="govgr-checkboxes">
        <div class="govgr-checkboxes__item">
            <label id="field_26_antrwpina_dikaiwmata_label"
                class="govgr-label govgr-checkboxes__label col-3 field-26-label vouleutes-label col-form-label required">Ευρωπαϊκή
                Σύμβαση των Δικαιωμάτων του Ανθρώπου</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_26_antrwpina_dikaiwmata"
                name="field_26_antrwpina_dikaiwmata" />
        </div>
        <div id="antrwpina_dikaiwmata_wrap" class="form-group" style="display:none;">
            <label for="field_26_antrwpina_dikaiwmata_comment"
                class="govgr-label-row field-26-label vouleutes-label required">Συμπληρώστε:</label>
            <textarea class="govgr-textarea " id="field_26_antrwpina_dikaiwmata_comment"
                name="field_26_antrwpina_dikaiwmata_comment"
                rows="3"><%= data.field_26_antrwpina_dikaiwmata_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label id="field_26_symvaseis_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-26-label  vouleutes-labelrequired">Διεθνείς
                συμβάσεις</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_26_symvaseis" name="field_26_symvaseis" />
        </div>
        <div id="symvaseis_wrap" class="form-group" style="display:none;">
            <label for="field_26_symvaseis_comment"
                class="govgr-label-row required field-26-label vouleutes-label">Συμπληρώστε:</label>
            <textarea class="govgr-textarea " id="field_26_symvaseis_comment"
                name="field_26_symvaseis_comment" rows="3"><%= data.field_26_symvaseis_comment %></textarea>
        </div> <br />
    </div>
    <div class="govgr-button-group">
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta previous action-button-previous" name="previous">
            <svg viewBox="0 0 24 24" class="govgr-arrow--left" focusable="false" aria-hidden="true">
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
            </svg> Προηγούμενα πεδία
        </button>
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta next action-button" name="next">
            Επόμενα πεδία
            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
            </svg>
        </button>
    </div>
</fieldset>
<fieldset id="nomologia_diethnwn_dikastiriwn" class="field-27 vouleutes">
    <h3 class="govgr-heading-m">27.Συναφής νομολογία των ανωτάτων και άλλων εθνικών δικαστηρίων, καθώς και αποφάσεις των
        Ανεξάρτητων Αρχών </h3>
    <div class="index_field27"></div> <br />
    <div class="govgr-checkboxes">
        <div class="govgr-checkboxes__item">
            <label id="field_27_dikastirio_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-27-label vouleutes-label required">Ανώτατο
                ή άλλο εθνικό δικαστήριο </label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_27_dikastirio"
                name="field_27_dikastirio" />
        </div>
        <div id="dikastirio_wrap" class="form-group" style="display:none;">
            <label for="field_27_dikastirio_comment"
                class="govgr-label-row required field-27-label vouleutes-label">Αναφέρατε:</label>
            <textarea class="govgr-textarea " id="field_27_dikastirio_comment"
                name="field_27_dikastirio_comment" rows="3"
                placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"><%= data.field_27_dikastirio_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label id="field_27_arxi_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-27-label vouleutes-label required">Ανεξάρτητη
                Αρχή</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_27_arxi" name="field_27_arxi" />
        </div>
        <div id="arxi_wrap" class="form-group" style="display:none;">
            <label for="field_27_arxi_comment"
                class="govgr-label-row required field-27-label vouleutes-label">Αναφέρατε:</label>
            <textarea class="govgr-textarea " id="field_27_arxi_comment" name="field_27_arxi_comment"
                rows="3"
                placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"><%= data.field_27_arxi_comment %></textarea>
        </div>
    </div> <br />
    <div class="govgr-button-group">
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta previous action-button-previous" name="previous">
            <svg viewBox="0 0 24 24" class="govgr-arrow--left" focusable="false" aria-hidden="true">
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
            </svg> Προηγούμενα πεδία
        </button>
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta next action-button" name="next">
            Επόμενα πεδία
            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
            </svg>
        </button>
    </div>
</fieldset>
<fieldset id="diethnis_nomologia" class="field-28 vouleutes">
    <h3 class="govgr-heading-m">28.Συναφής ευρωπαϊκή και διεθνής νομολογία </h3>
    <div class="index_field28"></div> <br />
    <div class="govgr-checkboxes">
        <div class="govgr-checkboxes__item">
            <label id="field_28_nomologia_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-28-label vouleutes-label required">Νομολογία
                Δικαστηρίου Ε.Ε. </label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_28_nomologia" name="field_28_nomologia" />
        </div>
        <div id="nomologia_wrap" class="form-group" style="display:none;">
            <label for="field_28_nomologia_comment"
                class="govgr-label-row required field-28-label vouleutes-label">Αναφέρατε:</label>
            <textarea class="govgr-textarea " id="field_28_nomologia_comment"
                name="field_28_nomologia_comment" rows="3"
                placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"><%= data.field_28_nomologia_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label id="field_28_nomologia_dikaiwmatwn_anthrwpou_label"
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-28-label vouleutes-label required">Νομολογία
                Ευρωπαϊκού Δικαστηρίου Δικαιωμάτων του Ανθρώπου</label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_28_nomologia_dikaiwmatwn_anthrwpou"
                name="field_28_nomologia_dikaiwmatwn_anthrwpou" />
        </div>
        <div id="nomologia_dikaiwmatwn_anthrwpou_wrap" class="form-group" style="display:none;">
            <label for="field_28_nomologia_dikaiwmatwn_anthrwpou_comment"
                class="govgr-label-row required field-28-label vouleutes-label">Αναφέρατε:</label>
            <textarea class="govgr-textarea " id="field_28_nomologia_dikaiwmatwn_anthrwpou_comment"
                name="field_28_nomologia_dikaiwmatwn_anthrwpou_comment" rows="3"
                placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"><%= data.field_28_nomologia_dikaiwmatwn_anthrwpou_comment %></textarea>
        </div>
        <div class="govgr-checkboxes__item">
            <label
                class="govgr-label govgr-checkboxes__label col-3 col-form-label field-28-label vouleutes-labelrequired"
                id="field_28_alla_dikastiria_label">Άλλα ευρωπαϊκά ή διεθνή δικαστήρια ή διαιτητικά όργανα </label>
            <input class="govgr-checkboxes__input" type="checkbox" id="field_28_alla_dikastiria"
                name="field_28_alla_dikastiria" />
        </div>
        <div id="alla_dikastiria_wrap" class="form-group" style="display:none;">
            <label for="field_28_alla_dikastiria_comment"
                class="govgr-label-row field-28-label vouleutes-label required">Αναφέρατε:</label>
            <textarea class="govgr-textarea " id="field_28_alla_dikastiria_comment"
                name="field_28_alla_dikastiria_comment" rows="3"
                placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"><%= data.field_28_alla_dikastiria_comment %></textarea>
        </div>
    </div> <br />
    <div class="govgr-button-group">
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta previous action-button-previous" name="previous">
            <svg viewBox="0 0 24 24" class="govgr-arrow--left" focusable="false" aria-hidden="true">
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
            </svg> Προηγούμενα πεδία
        </button>
        <button type="button" class="govgr-btn govgr-btn-primary govgr-btn-cta next action-button" name="next">
            Επόμενη φόρμα
            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
            </svg>
        </button>
    </div>
</fieldset>