<fieldset id="tropopoiisi_diataksewn" class="table-29">
    <h2>Ζ. Πίνακας τροποποιούμενων ή καταργούμενων διατάξεων</h2>
    <br>
    
    <h4><label id="table_29_label" class="table-29-label required">29.Τροποποίηση – αντικατάσταση – συμπλήρωση διατάξεων</label></h4>
    <br>
    <table class="table" id="field_29_table">
        <thead class="thead">
            <tr>
                <th colspan="1">Διατάξεις αξιολογούμενης ρύθμισης</th>
                <th colspan="1">Υφιστάμενες διατάξεις</th>
            </tr>
        </thead>
        <tbody id="tbody_29">

            <% if(data.field_29_diatakseis_rythmisis != null && data.field_29_diatakseis_rythmisis.length != null ){
                for (var i = 0; i < data.field_29_diatakseis_rythmisis.length; i++) { %>
            <tr id="table_29_row<%=i%>">
                <td> 
                    <textarea class="form-control" id="field_29_diatakseis_rythmisis<%=i%>" name="field_29_diatakseis_rythmisis<%=i%>" placeholder="Διατάξεις αξιολογούμενης ρύθμισης" rows="1"><%= Object.values(data.field_29_diatakseis_rythmisis[i]) %></textarea>
                </td> 
                <td> 
                    <textarea class="form-control" id="field_29_yfistamenes_diatakseis<%=i%>" name="field_29_yfistamenes_diatakseis<%=i%>" placeholder="Υφιστάμενες διατάξεις" rows="1"><%= Object.values(data.field_29_yfistamenes_diatakseis[i]) %></textarea>
                    <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
                </td>
            </tr>    
            <%  }
               } %>

        </tbody>
    </table>
    
    <input type="button" id="add_row_table_29" name="add_row_table_29" class="float-right" value="Επιπλέον σειρά" />
    <br><br><br>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα" />
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
</fieldset>


<fieldset id="katargisi_diataksewn" class="table-30">

    <h4><label id="table_14_label" class="table-30-label required">30.Κατάργηση διατάξεων</label></h4>
    <br>
    <table class="table" id="field_30_table">
        <thead class="thead">
            <tr>
                <th colspan="1">Διατάξεις αξιολογούμενης ρύθμισης που προβλέπουν κατάργηση</th>
                <th colspan="1">Καταργούμενες διατάξεις</th>
            </tr>
        </thead>
        <tbody id="tbody_30">

            <% if(data.field_30_diatakseis_katargisi != null && data.field_30_diatakseis_katargisi.length != null ){
                for (var i = 0; i < data.field_30_diatakseis_katargisi.length; i++) { %>
                <tr id="table_30_row<%=i%>">
                    <td> 
                        <textarea class="form-control" id="field_30_diatakseis_katargisi<%=i%>" name="field_30_diatakseis_katargisi<%=i%>" placeholder="Διατάξεις αξιολογούμενης ρύθμισης που προβλέπουν κατάργηση" rows="2"><%= Object.values(data.field_30_diatakseis_katargisi[i]) %></textarea>
                    </td> 
                    <td> 
                        <textarea class="form-control" id="field_30_katargoumenes_diatakseis<%=i%>" name="field_30_katargoumenes_diatakseis<%=i%>" placeholder="Καταργούμενες διατάξεις" rows="2"><%= Object.values(data.field_30_katargoumenes_diatakseis[i]) %></textarea>
                        <button class="btn remove float-right" type="button"><img src="/img/delete.png" width="20px"></button> 
                    </td>  
                </tr>
            <%  }
               } %>
    
        </tbody>
    </table>

    <input type="button" id="add_row_table_30" name="add_row_table_30" class="float-right" value="Επιπλέον σειρά" />
    <br><br><br>
    
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία" />
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα" />
</fieldset>